﻿.s4-simple-iconcont
{
    display:none !important;
}

#s4-simple-card-content
{
    margin-left: 0px !important;
}

#s4-simple-content
{
    margin-left: 30px !important;
}

#s4-simple-error-content
{
    margin-left: 30px;
}

#s4-simple-card-top
{
    display: none;
}
.SignTitle
{
    margin-left: 10px;
    }
    
    .form_centr
    {
         margin:0 auto;
   width:90%;   /* you can use px, em or % */
   text-align:left;
        }
#FormBox
{
    padding-left: 10px;
    color:#676767;
    /*font-family: Verdana,Arial,sans-serif;*/
    font-family: "Segoe UI";
    font-size:8pt;
    width: 575px;
    background-color: #FAFCFF;
    border-color: #E3E8EE #D9DDE3 #BEC2C7;
    border-style: solid;
    border-width: 1px 2px 2px 1px;
    box-shadow: 0 0 5px #EDF3F9;
    margin: 100px auto 0;
    width: 450px;
    height: 280px;
    text-align:center;
    }
    
.line
{
    padding-left: 30px;
    width: 100%;
    float: left;
    padding-top: 4px;
    text-align: left;
}

.lineImage
{
    width: 100%;
    float: left;
    margin-top: 10px;
    text-align:left;
}

.lineTitle
{
     padding-left: 10px;
    width: 100%;
    float: left;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align:left;
}

.lineButton
{
    
    float:right;
    text-align: right;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
}

.title
{
    text-align:left;
    color: #003759;
    font-size: 1.4em;
    font-weight: normal;
    margin-bottom: 25px;
    padding-top: 3px;
    margin-top: 10px;
}

.label
{
    float:left;
    width: 120px !important;
}

.input
{
    width:200px;
}

.txt
{
    float:left;
}

.ImageLeft
{
    float: left;
}
.ImageRight
{
    float: right;
    padding-left: 15px;
}
.LaFormaImage
{
    /*width: 100px;*/
    height: 100px;
}

.DorsuitImage
{    
    height: 50px;
}
.errMsg
{
    color: Red;
}

/*SPINNER STYLES*/
.blockUI {

    border: none!important;
}

#loadingPnl
{
        width: 0;
    height: 0;
    margin: 0 auto;
    }
    