﻿.WebpartCatalogo
{
    width:600px;
    border:0px solid gray;   
    height:600px;
}

.headerCatalogo
{
    /*border:1px solid red;*/
    width:600px;
    height:30px;    
}

#titleCatalogo
{
    color:#5d5d5d;
    font-size:20px;
    /*font-family:Myriad Pro;*/
    font-family: "Segoe UI";
    float:left;
}

.subheaderCatalogo
{
    float:left;
    border:0px solid green;
    width:600px;
}

#subtitleCatalogo
{
    color:#aaaaaa;
    float:left;
    clear:left;
    /*font-family:Myriad Pro;*/
    font-family: "Segoe UI";
    font-size:16px;
}

/*#txtboxBuscadorCatalogo
{
    float:left;
}*/
#txtboxBuscadorCatalogo
{
    border:1px solid #cccccc;
    -moz-border-radius: 100px;
    float:left;
    padding-left:8px;
    padding-right:8px; 
    margin-left:100px;
    color:#cccccc;
    font-family:Segoe UI;
}

#imgBuscadorLupa
{
    border:0px solid purple;
    width:24px;
    height:24px;
    background-image:url('lupa_buscador.png');
    float:left;
}

.sliderProds
{
    /*border-bottom:1px solid #aaaaaa;*/
    width:600px;
    height:120px;
    float:left;
}

#imgLeftSlider
{
    background-image:url('SlideLeft.png');
    width:30px;
    height:39px;
    float:left;
    margin-top:40px;
}

#imgRightSlider
{
    background-image:url('SlideRight.png');
    width:30px;
    height:39px;
    float:left;
    margin-top:40px;
    margin-left:30px;
}

.ProductoSlider
{
    width:137px;
    height:92px;
    background-image:url('bckgProdCatalogo.png');
    float:left;
    margin-left:30px;
    margin-top:20px;
}

.imgfondoPrecio
{
    background-image:url('fondoPrecioCatalogo.png');
    width:46px;
    height:30px;
    border:0px solid purple;
    position:absolute;
    margin-left:-8px;
}

.img_txtPrecio
{
    font-family:Segoe UI;
    font-weight:bold;
    font-size:13px;
    color:White;    
    margin-left:5px;
}

#imgSliderProducto1
{
    background-image:url('imgSliderProd1.png');
    width:90px;
    height:56px;
    margin-left:auto;
    margin-right:auto;    
    margin-top:15px;
}

#imgSliderProducto2
{
    background-image:url('imgSliderProd2.png');
    width:90px;
    height:56px;
    margin-left:auto;
    margin-right:auto;    
    margin-top:15px;
}

#imgSliderProducto3
{
    background-image:url('imgSliderProd3.png');
    width:90px;
    height:56px;
    margin-left:auto;
    margin-right:auto;    
    margin-top:15px;
}

.txtProducto
{
    color:#135382;
    font-family:Segoe UI;
    font-size:14px;
    margin-left:5px;
}

#imgFooterBorder
{
    background-image:url('bordeFondo_CatalogoSlider.png');
    width:565px;
    height:34px;
    border:0px solid orange;
    float:left;
    /*margin-left:auto;
    margin-right:auto;*/
    margin-left:20px;
}

/* No se usa??? */
/*
.contenedorProductos
{
    border:0px solid gray;
    width:570px;
    height:400px;
    margin-top:1em;
    margin-left:30px;
    overflow:auto;
    float:left;
}
*/

/*.productoCatalogo1
{
    border:1px solid yellow;
    width:140px;
    height:170px;
    font-family:Segoe UI;
    font-size:13px;
    margin-top:30px!important;
    float:left;
    clear:left;
    position:relative;
}*/

.productoCatalogo1, .productoCatalogo2, .productoCatalogo3, .productoCatalogo4, .productoCatalogo5, .productoCatalogo6, .productoCatalogo7, .productoCatalogo8
{
     border:0px solid cyan;
     width:140px;
     height:170px;
     font-family:Segoe UI;
     font-size:13px;
     margin-top:30px!important;
     float:left;
     position:relative;
}
  
    #imgProducto1, #imgProducto2, #imgProducto3, #imgProducto4, #imgProducto5, #imgProducto6, #imgProducto7, #imgProducto8    
    {
          width:100px;
          height:70px;
          background-repeat:no-repeat;
          background-color:White;
    }
    
    #imgProducto1 { background-image:url('catalogoProducto1.png'); }
    #imgProducto2 { background-image:url('catalogoProducto2.png'); }
    #imgProducto3 { background-image:url('catalogoProducto3.png'); }
    #imgProducto4 { background-image:url('catalogoProducto4.png'); }
    #imgProducto5 { background-image:url('catalogoProducto5.png'); }
    #imgProducto6 { background-image:url('catalogoProducto6.png'); }
    #imgProducto7 { background-image:url('catalogoProducto7.png'); }
    #imgProducto8 { background-image:url('catalogoProducto8.png'); }  
        
    #txtReferencia1, #txtReferencia2, #txtReferencia3, #txtReferencia4, #txtReferencia5, #txtReferencia6, #txtReferencia7, #txtReferencia8
    {
        float:left;
        color:#225c8a;
    }                   
  
    #txtProducto1, #txtProducto2, #txtProducto3, #txtProducto4, #txtProducto5, #txtProducto6, #txtProducto7, #txtProducto8 
    {
        color:#737373;
        clear:left;
        float:left;        
    }               

    #txtPrecio1, #txtPrecio2, #txtPrecio3, #txtPrecio4, #txtPrecio5, #txtPrecio6, #txtPrecio7, #txtPrecio8 
    {
        clear:left;
        float:left;
        color:#0183e4;
        font-weight:bold;
    }