﻿
.1stSection_LeftBox
{
    float: left;
    width: 500px !important;
}
.1st_Secton
{
    margin-bottom: 20px;
}
.1st_Secton, .3rd_Section
{
    display: block;
    float: left;
    width: 100%;
    margin: 20px;
}
.Panel_3rdSection, .Panel_2ndSection, .Panel_1st_Section
{
    width: 100%;
    float: left;
}
.2nd_Secton
{
    width: 100%;
}

.LblUsername
{
    float: left;
}
.TxtBoxUsername
{
    float: left;
}
.check input
{
    margin: 0;
}
.Input
{
    float: left;
    width: 300px;
    margin: 10px;
    display: block;
}
.Header
{
    display: block;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.addItemButton
{
    height: 30px;
    float: left;
    margin-top: 10px;
}
.SaveBtnMail
{
    margin-top: 10px;
    margin-left: 145px;
    float: left;
}
.SaveBtn
{
    margin-top: 10px;
    margin-left: 140px;
    float: left;
}
.SaveBtnPass
{
    margin-top: 10px;
    margin-left: 270px;
    float: left;
}
.savebut
{
    background-image: url('/Style Library/Julia/img/Floopy.png');
    margin-right: 20px;
    float: left;
}
.cancelEditAdd
{
    background-image: url('/Style Library/Julia/img/cancelbuttonradgrid.gif');
    float: left;
}
.EditFormField
{
    margin: 10px;
    display: block !important;
}

.Username_1stSection
{
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
.RadgridHeader
{
    margin-top: 50px;
}

.Coeficient_2nSection
{
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.Coeficient_2nSection .riContentWrapper
{
    width: 60px !important;
}
.riTextBox
{
    margin: inherit !important;
}
.RadInput .riContentWrapper
{
    display: inline-block !important;
    vertical-align: middle;
    overflow: inherit;
    height: inherit;
    width: 200px;
}
.Check_2nSection
{
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.ChangePass
{
    float: left;
    width: 420px;
    padding-left: 20px !important;
}
.box_userinfo
{
    padding-left: 10px;
}


.TxtBoxEmail, TxtBoxOldPass, TxtBoxPass, .TxtBoxRePass
{
    display: block !important;
    margin-top: 10px;
}
.riSingle
{
    display: block !important;
}