﻿/* WEBPART COMUNICACIONES */
.containerCommunications
{
    width:300px;
    height:auto;
    border:0px solid yellow;
    border-left:1px solid #dadada;
    padding-left:20px;
}
    
    .headerCommunications
    {
        border:1px solid black;
        float:left;
        width:300px;
        border:0px solid cyan;
    }
  .DocumentsList
  {
      list-style:none;
      }
        .txtCommunicationsTitle
        {
            color:#ea7a01;
            font-size:24px;
            font-family:Myriad Pro;
            float:left;
            border:0px solid green;
        }
  
        .imgTwitt_Fb
        {
            border:0px solid silver;
            width:60px;
            height:30px;
            float:right;
            margin-top:5px;
        }
     
            .imgTwitter
            {
                background-image:url('/Style%20Library/Julia/img/imgTwitter.png');
                background-repeat:no-repeat;
                border:0px solid blue;
                width:27px;
                height:20px;
                float:left;
            }
    
            .imgFb
            {
                float:right;
                background-image:url('/Style%20Library/Julia/img/imgFb.png');
                background-repeat:no-repeat;
                border:0px solid red;
                width:27px;
                height:20px;
            }

    .listCommunications
    {
        font-family:Segoe UI;
        font-size:12px;
        text-align:justify;
        border:0px solid green;
        float:left;
    }

        .itemCommunication
        {
            width:300px;
            border:0px solid red;
            height:50px;
            padding-top:30px;
            border-bottom:1px solid #dadada;
            padding-bottom:5px;
        }

            .txtCommunicationCaption
            {
                border:0px solid blue;
                width:225px;
                float:left;
                color:#202020;
            }

            .txtCommunicationDate
            {
                border:0px solid lime;
                height:30px;
                float:right;
                color:#949494;
            }

.linkCommunications
{
    float:right;
    border:0px solid red;
    margin-right:5px;
    margin-top:15px;
    color:#7a7a7a;
}

    .linkCommunicationsCaption
    {
        color:#ea7a01; /* naranja */
        font-weight:bold;
    }
    
    /*PERSONAL DOCUMENTATION*/
    .Box_Documentation
    {
        margin:0 auto;
        width:90%;
        }
    .EyeIcon
    {
        vertical-align:middle;
    
        }
    .PersonalDocuemntation
    {
        margin:0 auto;
        }
    .FixaClient
    {
        margin-bottom:20px;
        width:100%;
        background-color:#dddddd;
        height:30px;
        }
    .fixaClient *
    {
        vertical-align:middle;
        }
        
    .PersonalDocuemntation
    {
        width:47%;
        float:left; 
        }
        
    .GeneralDocumentation
    {
        width:47%;
        float:left; 
        margin-left:50px;
        }

    .LblHeaderWebpart_PersonalDocumentation,.LblHeaderWebpart_GeneralDocumentation
    {
        margin-left:5px;
        color:#98222f;
        font-weight:bold;
        font-size:15px;
        }  
      
    .Main_Box_PersonalDocuments,.Main_Box_GeneralDocumentation
    {
    border:1px solid #dddddd;
    box-shadow: 1 1 15px 1px #ddd;
    height:auto;
    width:50%;
    padding:10px;
    width:auto;
    /*padding:5px;*/
    }
    .HeaderFolder
    {
    /*margin-bottom:5px;*/
    cursor:pointer;
        }
    .HeaderFolderLbl
    {
        color:Black;
        font-weight:bold;
        font-size:15px;
        margin-left:5px;
        }
   .DocumentItem,.DocumentGeneral
    {
    padding:5px;
    margin-left:10px;
    margin-bottom:0px;
  
    }
    .DocIcon
    {
    margin-right:5px;
    }
