﻿.capaEsconderMostrarFacturas
{
    float:left; 
    clear:left;
    border:1px solid #17486d; 
    height:300px; 
    width:40px;
    background-color:#2b638d; /* azul */
    margin-top:10px;
    /*-moz-border-radius-topbottom: 5px;*/
    border-radius: 15px 0px 0px 15px;
    cursor:pointer;
    background-image:url('/Style%20Library/Julia/img/SlideLeft11.png');
    background-repeat:no-repeat;
    background-position:center;
}

.capaEsconderMostrarFacturas:hover
{
    background-color:#245377; /* azul */
}

.webpartDetallePedidos
{
    width:1024px;
    /*height:400px;*/
    /*font-family:Myriad Pro;*/
    font-family: "Segoe UI";
    position:relative;
}

    #txtTitleDetallePedidos
    {
        font-size:28px;
        float:left;
        position:relative;
        color:#215c88;
    }

.classLeftPedidos
{
    border:0px solid orange;   
    position:relative;
    /*width:450px;*/
    width:950px;
    height:300px;
    float:left;
    /*clear:left;*/
    font-size:13px;
    font-family:Segoe UI;
    margin-top:10px;
    background-color:#2b638d;
    background-image:url('/Style%20Library/Julia/img/fondo_FacturasPedido.png');
    color:White;
    border:1px solid #17486D;
    border-radius:0px 15 15 0px;
    z-index:1;
}

.classTitlesFacturas
{
   border-bottom:1px solid #cbcbcb;
   height:20px;
   line-height:20px;
   float:left;
   margin-left:50px;
   margin-top:10px;
   width:800px;
}

    #txtTitle_NumPedido
    {
        width:95px;
        border:0px solid red;
        float:left;
    }
    
    #txtTitle_ReferenciaCliente
    {
        width:130px;
        border:0px solid red;
        float:left;
    }
    
    #txtTitle_FechaPedido
    {
        width:100px;
        border:0px solid red;
        float:left;
    }
    
    #txtTitle_Importe
    {
        width:70px;
        border:0px solid red;
        float:left;   
    }
    
    #txtTitle_Estado
    {
        width:80px;
        border:0px solid red;
        float:left;
    }
    
    #txtTitle_DescargarFactura
    {
        width:140px;
        border:0px solid red;
        float:left;
    }    

.classLineaPedido2, .classLineaPedido4
{
    float:left;
    clear:left;
    width:800px;
    height:40px;
    line-height:35px;
    margin-left:50px;
    border-bottom:1px solid #2d71a3;
}

.classLineaPedido1, .classLineaPedido3, .classLineaPedido5
{
    float:left;
    clear:left;
    /*background-color:#2d71a3;*/
    border-bottom:1px solid #2d71a3;    
    width:800px;
    height:40px;
    line-height:35px;
    margin-left:50px;
}

    .txtNumPedido
    {
        width:95px;
        border:0px solid red;
        float:left;
    }
    
    .txtReferenciaCliente
    {
        width:130px;
        border:0px solid red;
        float:left;
    }
    
    .txtFechaDetalleFactura
    {
        width:100px;
        border:0px solid red;
        float:left;
    }
    
    .txtImporte
    {
        width:70px;
        border:0px solid red;
        float:left;   
    }
    
    .txtEstadoEntregado, .txtEstadoPendienteDetalleFacturas
    {
        width:80px;
        border:0px solid red;
        float:left;
    }
    
    .txtEstadoEntregado { color:#65ee72; }
    .txtEstadoPendienteDetalleFacturas { color:#f57777; }
    
   .imgDescargarFacturaPDF
   {
       background-image:url('/Style%20Library/Julia/img/pdf_file32.png');
       background-repeat:no-repeat;
       width:100px;
       height:48px;
       float:left;
       background-position:top center;
       margin-top:5px;
   }
  
.imgProductoFactura
{
    border:1px solid #efefef;
    border-radius: 10px 10px 10px 10px;
    width:170px;
    height:230px;
    margin-top:-250px; 
    margin-left:790px;  
    background-image:url('/Style%20Library/Julia/img/catalogoProducto8.png');
    background-repeat:no-repeat;
    float:left;
    background-position:top center;
}

#titleProdImg, #titleRefImg
{
    color:#999999;
    float:left;
    margin-top:200px;
}

#titleRefImg
{
    float:right;
}

.classRightPedidos
{
    border:0px solid lime;   
    /*position:relative;*/
    width:950px;
    height:300px;
    float:left;
    margin-top:45px;
    margin-left:60px;
    font-family:Segoe UI;
    font-size:14px;
    position:absolute;
    /*z-index:-1;*/
    visibility:hidden;
}

.classTitlesProductos
{
   border-bottom:1px solid #cbcbcb;
   height:20px;
   line-height:20px;
   margin-left:20px;
   /*float:left;
   clear:left;*/
   width:950px;
}

    #txtTitleFactura
    {
        width:80px;
        border:0px solid red;
        float:left;
    }
    
    #txtTitleRefArt
    {
        width:120px;
        border:0px solid red;
        float:left;
    }
    
    #txtTitleDescripcion
    {
        width:190px;
        border:0px solid red;
        float:left;
    }
    
    #txtTitleUds
    {
        width:70px;
        border:0px solid red;
        float:left;
    }
    
    #txtTitlePV
    {
        width:120px;
        border:0px solid red;
        float:left;
    }
    
    #txtTitleImporte
    {
         width:120px;
        border:0px solid red;
        float:left;
    }


.classLineaArticulo1, .classLineaArticulo3, .classLineaArticulo5, .classLineaArticulo7, .classLineaArticulo9
{
    float:left;
    clear:left;
    height:30px;
    line-height:30px;
    width:750px;
    margin-left:20px;
    border-bottom:1px solid #efefef;
}

.classLineaArticulo2, .classLineaArticulo4, .classLineaArticulo6, .classLineaArticulo8
{
    float:left;
    clear:left;
    height:30px;
    line-height:30px;
    background-color:#f7f7f7;
    border-bottom:1px solid #efefef;
    width:750px;
    margin-left:20px;
}

    .txtNumFactura
    {
        width:80px;
        border:0px solid red;
        float:left;
    }

    .txtReferenciaArticulo
    {
       width:120px;
        border:0px solid red;
        float:left;
    }

    .txtDescripcion
    {
       width:190px;
        border:0px solid red;
        float:left;
    }

    .txtUds
    {
        width:70px;
        border:0px solid red;
        float:left;
    }

    .txtPVUnit
    {
        width:120px;
        border:0px solid red;
        float:left;
    }

    .txtImporteProducto
    {
        width:120px;
        border:0px solid red;
        float:left;
    }

.classBottomIndicadoresPedido
{
    width:1024px;
    height:500px;
    border:1px solid blue;
    margin-top:30px;
    float:left;
}
    
.classDatosEnvio
{
    background-image:url('/Style%20Library/Julia/img/fondoEstadoPedidosGreen.png');
    width:319px;
    height:278px;
    float:left;
    background-repeat:no-repeat;    
    font-family:Segoe UI;
    font-size:14px;
}

.imgDatosEnvio
{
    background-image:url('/Style%20Library/Julia/img/map48.png');
    width:48px;
    height:48px;
    float:right;
    margin-right:20px;
    margin-top:10px;
}

.titleDatosEnvio
{
    /*font-family:Myriad Pro;*/
    font-family: "Segoe UI";
    font-size:18px;
    margin-top:20px;
    margin-left:10px;
    float:left;
    color:#49ad67; /* Verde */
}

.classDatosEnvioLineas
{
    margin-top:50px;
}

.Webpart_DatosEnvioLinea1, .Webpart_DatosEnvioLinea3, .Webpart_DatosEnvioLinea5
{
    width:305px;
    /*background-color:#f1fef5; /* Verde */
    border-bottom:1px solid #e5fded;
    float:left;
    height:30px;
    line-height:30px;
    margin-left:10px
}

.Webpart_DatosEnvioLinea2, .Webpart_DatosEnvioLinea4, .Webpart_DatosEnvioLinea6
{
    width:310px;
    float:left;
    height:30px;
    line-height:30px;
    margin-left:10px;
    border-bottom:1px solid #e5fded;
}

        .txtTitleDE_Destino
        {
            float:left;
            clear:left;
            color:#999999;
            width:130px;
            border:0px solid red;
        }

        .txtDE_Destino
        {
            color:#202020;
            float:left;
            font-size:11px;
        }

        .txtTitleDE_DireccionEntrega
        {
            float:left;
            clear:left;
            color:#999999;
            width:130px;
        }

        .txtDE_DireccionEntrega
        {
            color:#202020;
            float:left;
        }

        .txtTitleDE_Poblacion
        {
            float:left;
            clear:left;
            color:#999999;
            width:130px;
        }

        .txtDE_Poblacion
        {
            color:#202020;
            float:left;
        }


        .txtTitleDE_CodigoPostal
        {
            float:left;
            clear:left;
            color:#999999;
            width:130px;
        }
                   
        .txtDE_CodigoPostal
        {   
            color:#202020;   
            float:left; 
        }

        .txtTitleDE_Pais
        {
            float:left;
            clear:left;
            color:#999999;
            width:130px;
        }

        .txtDE_Pais
        {
            color:#202020;
            float:left;
        }

.classDatosAgencia
{
    background-image:url('/Style%20Library/Julia/img/fondoEstadoPedidosOrange.png');
    width:319px;
    height:278px;
    background-repeat:no-repeat;
    float:left;
    font-family:Segoe UI;
    font-size:14px;
}

.titleAgencia
{
    /*font-family:Myriad Pro;*/
    font-family: "Segoe UI";
    font-size:18px;
    margin-top:20px;
    margin-left:10px;
    float:left;
    color:#ea7a01; /* Naranja */
}

.imgAgencia
{
    background-image:url('/Style%20Library/Julia/img/truck48.png');
    width:48px;
    height:48px;
    float:right;
    margin-right:20px;
    margin-top:10px;
}

.classAgenciasLineas
{
    margin-top:50px;
}

.classLineaAgencia1, .classLineaAgencia3
{
    width:305px;
    /*background-color:#fcf6f0; /* Naranja */
    border-bottom:1px solid #fdf1e5;
    float:left;
    height:30px;
    line-height:30px;
    margin-left:10px;
}

.classLineaAgencia2, .classLineaAgencia4
{
    width:310px;
    float:left;
    height:30px;
    line-height:30px;
    margin-left:10px;
    border-bottom:1px solid #fdf1e5;
}

        .txtTitleAgencia_Nombre
        {
            float:left;
            clear:left;
            color:#999999;
            width:150px;
            border:0px solid red;
        }

        .txtAgencia_Nombre
        {
            color:#202020;
            float:left;
        }

        .txtTitleAgencia_Telefono
        {
            float:left;
            clear:left;
            color:#999999;
            width:150px;
        }

        .txtAgencia_Telefono
        {
            color:#202020;
            float:left;
        }

        .txtTitleAgencia_NumSeguimiento
        {
            float:left;
            clear:left;
            color:#999999;
            width:150px;
            font-size:12px;
        }

        .txtAgencia_NumSeguimiento
        {
            color:#202020;
            float:left;
        }

.classDatosEconomicos
{
    /*background-image:url('fondoDetallePedidos.png');*/
    background-image:url('/Style%20Library/Julia/img/fondoEstadoPedidosBlue.png');
    width:319px;
    height:278px;
    background-repeat:no-repeat;
    float:left;
    font-family:Segoe UI;
    font-size:14px;
}

.imgEconomicos
{
    background-image:url('/Style%20Library/Julia/img/euro_coin48.png');
    width:48px;
    height:48px;
    float:right;
    margin-right:20px;
    margin-top:10px;
}

.titleEconomicos
{
    /*font-family:Myriad Pro;*/
    font-family: "Segoe UI";
    font-size:18px;
    margin-top:20px;
    margin-left:10px;
    float:left;
    color:#215c88; /* Azul */
}

.classDatosEconomicosLineas
{
    margin-top:50px;
}

.classLineaEconomicos1, .classLineaEconomicos3, .classLineaEconomicos5
{
    width:305px;
    /*background-color:#f4fafe; /* Azul */
    border-bottom:1px solid #ebf6fe;
    float:left;
    height:30px;
    line-height:30px;
    margin-left:10px
}

.classLineaEconomicos2, .classLineaEconomicos4, .classLineaEconomicos6
{
    width:310px;
    float:left;
    height:30px;
    line-height:30px;
    margin-left:10px;
    border-bottom:1px solid #ebf6fe;
}

        .txtTitleEconomicos_FormaPago
        {
            float:left;
            clear:left;
            color:#999999;
            width:130px;
            border:0px solid red;
        }

        .txtEconomicos_FormaPago
        {
            color:#202020;
            float:left;
        }

        .txtTitleEconomicos_PrecioBase
        {
            float:left;
            clear:left;
            color:#999999;
            width:130px;
        }

        .txtEconomicos_PrecioBase
        {
            color:#202020;
            float:left;
        }

        .txtTitleEconomicos_IVA
        {
            float:left;
            clear:left;
            color:#999999;
            width:130px;
        }

        .txtEconomicos_IVA
        {
            color:#202020;
            float:left;
        }
        
        .txtTitleEconomicos_Precio
        {
            float:left;
            clear:left;
            color:#999999;
            width:130px;
        }

        .txtEconomicos_Precio
        {
            color:#202020;
            float:left;
        }
        
        
.classDatosPedido
{
    background-image:url('/Style%20Library/Julia/img/fondoEstadoPedidosRed.png');
    width:319px;
    height:278px;
    background-repeat:no-repeat;
    float:left;
    font-family:Segoe UI;
    font-size:14px;
}

.imgDatosPedido
{
    /*background-image:url('book48.png');*/
    background-image:url('/Style%20Library/Julia/img/portfolio48.png');
    width:48px;
    height:48px;
    float:right;
    margin-right:20px;
    margin-top:10px;
}

.titleDatosPedido
{
    /*font-family:Myriad Pro;*/
    font-family: "Segoe UI";
    font-size:18px;
    margin-top:20px;
    margin-left:10px;
    float:left;
    color:#eb4322; /* Rojo */
}

.classDatosPedidoLineas
{
    margin-top:50px;
}

.classLineaDatosPedido1, .classLineaDatosPedido3, .classLineaDatosPedido5
{
    width:305px;
    /*background-color:#fbf4f2; /* Rojo */
    border-bottom:1px solid #fbede9;
    float:left;
    height:30px;
    line-height:30px;
    margin-left:10px
}

.classLineaDatosPedido2, .classLineaDatosPedido4, .classLineaDatosPedido6
{
    width:310px;
    float:left;
    height:30px;
    line-height:30px;
    margin-left:10px;
    border-bottom:1px solid #fbede9;
}

        .txtTitleDatosPedido_NumPedido
        {
            float:left;
            clear:left;
            color:#999999;
            width:130px;
            border:0px solid red;
        }

        .txtDatosPedido_NumPedido
        {
            color:#202020;
            float:left;
        }

        .txtTitleDatosPedido_EstadoPedido
        {
            float:left;
            clear:left;
            color:#999999;
            width:130px;
        }

        .txtDatosPedido_EstadoPedido
        {
            color:green;
            float:left;
            font-weight:bold;
        }

        .txtTitleDatosPedido_RefCliente
        {
            float:left;
            clear:left;
            color:#999999;
            width:130px;
        }

        .txtDatosPedido_RefCliente
        {
            color:#202020;
            float:left;
        }
        
        .txtTitleDatosPedido_FechaPedido
        {
            float:left;
            clear:left;
            color:#999999;
            width:130px;
        }

        .txtDatosPedido_FechaPedido
        {
            color:#202020;
            float:left;
        }
        

/* ------------------------------------------ */
/* 
	Resets defualt browser settings
	reset.css
*/

#container {
	width:740px;
	height:400px;
	padding:10px;
	/*margin:0 auto;*/
	position:relative;
	/*border:1px solid lime;*/
	z-index:0;
	float:left;
	clear:left;
	margin-left:80px;
}

#frame {
	position:absolute;
	z-index:0;
	width:1000px;
	height:400px;
	top:-3px;
	left:-80px;
}

#example {
	width:600px;
	height:350px;
	position:relative;
}

/* Slideshow style */

#slides {
	position:absolute;
	top:15px;
	left:4px;
	z-index:100;
	width:700px;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	If height not specified height will be set by the slide content
	Set to display none, prevents content flash
*/

.slides_container {
	width:720px;
	height:300px;
	/*height:280px;*/
	overflow:hidden;
	position:relative;
	/*display:none;*/
	/*border:1px solid yellow;*/
}

/*
	Each slide
	Important:
	Set the width of your slides
	Offeset for the 20px of padding
	If height not specified height will be set by the slide content
	Set to display block
*/

#slides .slide {
	padding:20px;
	width:700px;
	height:230px;
	display:block;
	/*border:1px solid orange;*/
}

/* Next/prev buttons */
#slides .next,#slides .prev {
	position:absolute;
	top:107px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides .next {
	left:740px;
}

/* Pagination */

.pagination {
	/*margin:26px auto 0;*/
	width:100px;
	margin-left:320px;
	margin-top:30px;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(/Style%20Library/Julia/img/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
	
	_height:12px;
}

.pagination li.current a {
	background-position:0 -12px;
}