﻿.classIncidencias
{
    width: 938px;
    height: auto;
    border: 0px solid gray;
    /*font-family: Myriad Pro;*/
    font-family: "Segoe UI";
    float: left;
     text-align:center;
}
.hideElement
{
    display:none;
    }
.headerIncidencias
{
    border: 0px solid red;
    float: left;
    margin-top: 25px;
    margin-left: 30px;
    width:100%;
    margin-bottom:20px;
}

.DeleteMarks
{
    cursor:pointer;
    width:135px;
    height:25px;
    display:block;
    float:left;
    background-repeat:no-repeat;
    }

.titleIncidencias
{
    font-size: 28px;
    float: left;
    color: black;
}
.RequiredField
{
    color:Red;
    }
.error_trans{
	 opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
}

.subtitleIncidencia
{
    font-size: 20px;
    clear: left;
    float: left;
    color: #cdcdcd;
}

.bodyIncidencias
{
    border: 0px solid gray;
    
    color: black;
    height: 70%;
    margin:0 auto;
   
    width:90%;   
    text-align:left;
    margin-top:125px;
}

.lineIssue
{
    width: 100%;
    height:auto;
    float:left;
    margin-bottom:10px;
  
}
.txtLabel
{
    float:left;
    width:200px;}


.issueNumber
{
    width: 24px;
    height: 24px;
    float: right;
    margin-right: 3%;
}


.txtIssue
{
    float:left;}
.txtIssueMain
{
    font-family: verdana, arial, helvetica, sans-serif;
    float: left;
    font-size:1em;
    font-weight:400;    
   
}

.txtIssueSubMain
{
    font-family: Segoe UI;
    color: black;
    font-size: 13px;
    float: left;
    margin-top: 1%;
}

.inputIssue
{
        
    float:left;

}
.remainingText{
        font-size: 0.8em;
}


.dropdownProductos
{
    border: 1px solid #a60000;
    float: left;
    width: 60%;
}

.textAreaDescripcion
{
    border: 1px solid #a60000;
    float: left;
    width: 60%;
}

.imgIncidencia
{
    float: left;
    background-image: url('/Style%20Library/Julia/img/Cama.png');
    width: 300px;
    height: 155px;
    background-color: White;
    background-repeat: no-repeat;
    border: 1px solid #a60000;
}
.issue_Btn_search{float:left;
                  margin-left:10px;}
.DefectsTabble
{
    float:left;
    
    
}

    .Pareto{
		width:100px;
		height:20px;
		border:2px solid rgb(224,224,224);
	
	}
	
	.table_selected
{
     border:2px solid red;
 
  
   
    }
    .DivImage
    {
        display:none;
        }
.lineIssueDefects
{
    height:auto;}


       
.bodyIncidenciasLeft
{
    border:0px solid lime;
    width:380px;
    height:490px;
    float:left;
}

    


.botonEnviarIncidencia
{
    float: right;
    
    background-repeat:no-repeat;
    
    margin-top: 35px;
    margin-left: 170px;
}


    .caption_sourceTable
    {
    width:70%;
    
    }
    .csscheckbtn
    {
    float:left;
        
    }
    .btntds
    {
    left:0px!important;
    }
    .btn_actual_factura
    {
    left:0px!important;
    }
    .supBtns
    {
    float:left;
    }
    .btn_pedidos_servidos
    {
    left:0px!important;
    }
    .HideLblCoord
    {
    display:none;
    }
    
    /* HIDE ELEMENTS FROM RAD UPLOAD*/
    /*Hide Checkbox
        */

        .PanelLoading
        {
            float:left;
            width:100%;
            }
            
            div.RadUpload .ruAdd,div.RadUpload .ruAdd:hover
                    {
                        
                        background-repeat:no-repeat!important;
                        background-position:0px!important;
                        background-position-x:0px!important;
                        background-position-y:0px!important;
                        cursor:pointer;
                    }
                        div.RadUpload .ruBrowse,div.RadUpload .ruBrowse:hover
                    {
                       
                        background-repeat:no-repeat!important;
                        background-position:0px!important;
                        background-position-x:0px!important;
                        background-position-y:0px!important;
                        cursor:pointer;
                    }
                         div.RadUpload .ruRemove,  div.RadUpload .ruRemove:hover
                    {
                     
                        background-repeat:no-repeat!important;
                        background-position:0px!important;
                        background-position-x:0px!important;
                        background-position-y:0px!important;
                        cursor:pointer;
                    }