﻿/*--Hide Quick Launch --*/
#s4-leftpanel
{
	display:none;
	width:0px;
}
.s4-ca
{
	margin-left:0px;
}

/* tamaño fixo a 1024 y centrado al navegador */
.ribbonbackground , #s4-workspace
{
	/*width:1024px!important;*/
	margin-left:auto;
	margin-right:auto;
}

.ribbonbackground
{
	background-color:white!important;
	background-image:none!important;
}

/* ponemos scroll completo página*/
body.nightandday
{
	overflow:scroll!important;
}

/* quitamos scroll pequeño contenidos*/
#s4-workspace
{
	overflow:inherit!important;
}

/* idiomas */
.ms-mini-socialNotif-Container
{
	background-image:url('/Style%20Library/Julia/img/idiomes.jpg')!important;
	background-repeat:no-repeat;
	width:7em!important;
}



/* escondemos 2 etiquetas header y Help*/
/*.ms-mini-socialNotif-Container, .s4-help*/
.ms-mini-socialNotif-Container > a > span > span > img , .s4-help
{
	visibility:hidden!important;
}

.nightandday .site-image-title
{
	background-color:white;
}

.ms-cui-topBar2
{

}

/*  Texto Site Actions, Publicar, etc */
.ms-cui-tt-span, .ms-siteactionsmenu > span > a > span
{
	color:black!important;
}

/* User*/
.ms-SPLink a:link, .ms-SPLink a:visited, .ms-welcomeMenu.ms-SpLinkButtonActive a:hover, .ms-welcomeMenu.ms-SpLinkButtonActive a:link
{
	color:black!important;	
}

/* Fondo Buscador */
.ms-sbcell > input
{
	/*background-color:#286da6!important;*/
	background-color:white!important;
	/*background-image:none!important;*/
	/*background-image:url('../images/flecha_menu2.png')!important;*/
	
	color:white!important;
	border-style:none!important;
}

.ms-sbplain
{
	border:2px solid orange!important;
}

/* reborde buscador */
td.ms-sbgo
{
	padding:0px!important;
}



/*.srch-gosearchimg*/
.s4-search .srch-gosearchimg
{
	/*background-image:url('../images/icona_buscador.jpg')!important;
	background-repeat:no-repeat!important;*/
	
	
	border-style:none!important;
	background:transparent!important;
/*	background:url('../images/icona_buscador.jpg')!important;*/
	background-color:white!important;
	
	/*margin-top:-30px!important;*/
}

/* Buscador */	
.ms-sbplain
{
	color:white!important;
	/*background-color:#2176a8!important;*/
	background-color:white!important;
	background-image:url('/Style%20Library/Julia/img/buscadorNo.png')!important;
	/*background:url('../images/buscador.png')!important;*/
	background-repeat:no-repeat!important;
	/*height:30px!important;*/
	background-position:left!important;
	padding-left:10px!important;
}

.s4-search input.ms-sbplain
{
	background:url('/Style%20Library/Julia/img/buscador.png') no-repeat; 
	border:0 none !important; 
	height:16px; 
	padding:4px 2px 2px 9px; 
	color:#666; 
	font-size:.85em; 
	font-style:normal;
	border:none!important;
	background-color:#2a7cb2!important; /* azul corporativo*/
	-moz-border-radius: 10px;
}

.nightandday .s4-search TD.ms-sbcell
{
	background-color:white!important;
}

/* lupa buscador*/
.s4-search .ms-sbgo a
{
	background:url('/Style%20Library/Julia/img/icona_buscador.PNG') no-repeat; 
	width:20px; 
	height:30px;
	display:block; 
	margin-top:-10px;
}

/* hide buscador antiguo*/
.s4-search .srch-gosearchimg, .s4-search .ms-sbgo span
{
	display:none; 
}

/* Menu Horizontal */
.menu-horizontal
{
	font-family: "Segoe UI";
	margin-left:auto;
	margin-right:auto;
	font-size:15px;
	margin-top:-25px;
	/*background:transparent url('../images/header_bar.png') no-repeat bottom!important;*/
	/*background:transparent url('../images/header_bar.png') no-repeat!important;*/
}

/* elementos menú no seleccionados*/
.menu-horizontal > ul > li > ul > li
{
	color:#202020!important;		
}

/* elemento menú seleccionado */
.s4-toplinks , .s4-tn a.selected
{
	color:#135382!important;		
	background-image:url('/Style%20Library/Julia/img/flecha_menu2.png')!important;
	background-repeat:no-repeat!important;
	background-position:center!important;
	background-color:transparent!important;
	border-style:none!important;
	font-weight:bold!important;
	height:60px!important;
	z-index:1!important;
/*	position:relative;*/
}

/* separación elementos menú */
.s4-tn li.static > .menu-item
{ 
	padding: 0 70px!important;
}

/* barra menú horizontal */
.s4-tn
{
	background-image:url('/Style%20Library/Julia/img/header_bar.png')!important;
	background-repeat:no-repeat!important;	
	background-position: bottom;
/*	background-position: 0px 26px;*/ /* ie */
}

/* FOOTER */
.footer
{
	/*border-top:2px solid silver;*/
	font-size:12px;
	height:50px;
/*	line-height:40px;*/
}

#footerLeft
{
	clear:left;
	margin-left:1em;
	margin-top:15px;
}

	#footer_phone1
	{
		background-image:url('/Style%20Library/Julia/img/footer_telf.png');
		background-repeat:no-repeat;
		width:auto;
		height:20px;
		padding-left:30px;
		float:left;
		color:#aaa9a9;
	}

	#footer_phone2
	{
		padding-left:30px;
		background-image:url('/Style%20Library/Julia/img/footer_fax.png');
		background-repeat:no-repeat;
		width:auto;
		height:20px;
		float:left;	
		color:#aaa9a9;
		margin-left:1em;
	}
	
	
	#footer_mail
	{
		padding-left:30px;
		background-image:url('/Style%20Library/Julia/img/footer_arroba.png');
		background-repeat:no-repeat;
		width:auto;
		height:20px;
		float:left;
		color:#aaa9a9;
		margin-left:1em;
	}
	
#footerRight
{
	float:right;
	color:#aaa9a9;
	margin-right:5.8em;
}

	#footerRight_color1, #footerRight_color3
	{
		float:left;
		color:#aaa9a9;
	}
	
	#footerRight_color2
	{
		float:left;
		color:#287baf;
	}

#footer_borderLeft
{
	background-image:url('/Style%20Library/Julia/img/footer_borderLeft.png');	
	background-repeat:no-repeat;
	background-position:right;
	height:20px;
	width:18%;
	float:left;
}

#footer_borderCenter
{
	background-image:url('/Style%20Library/Julia/img/footer_borderCenter.png');	
	background-repeat:repeat-x;
	background-position:center;
	float:left;
	height:20px;
	width:64%;
}

#footer_borderRight
{
	background-image:url('/Style%20Library/Julia/img/footer_borderRight.png');	
	background-repeat:no-repeat;
	background-position:left;
	height:20px;
	width:18%;
	float:left;
}

.LastPedidoLink
{
    cursor:pointer;
}
