﻿.containerCurrentOrders
{
    border: 0px solid #949494;
    background-image: url('/Style%20Library/Julia/img/fondoEstadoPedidos.png');
    background-repeat: no-repeat;
    width: 320px;
    height: 280px;
    /*margin-left: 30px;*/
    float: left;
}
.pedidoCurso
{
    font-family:Segoe UI;
    cursor: pointer;
    margin-left: 2%;
    margin-right: 2%;
    text-decoration:none;
}
.pedidoArea
{
    height:65%;
}
.pedidoCurso:hover
{
    background-color:#F5F5F5;
}

.infoPedidoCurso
{
    float:none;
    width:100%;
    padding: 2px 5px 2px 5px;
}
.titlePedidoCurso
{
    color:black;
    font-size:10px;
    text-align:left;
}
.openPedidoCurso
{
    color:#FFBC05;
    font-size:10px;
    text-align:right;
}
.pendingPedidoCurso
{
    color:#880201;
    font-size:10px;
    text-align:right;
}
.releasedPedidoCurso
{
    color:#03a932;
    font-size:10px;
    text-align:right;
}
.descPedidoCurso
{
    color:#949494;
    font-size:10px;
    text-align:left;
}
.datePedidoCurso
{
    color:#949494;
    font-size:10px;
    text-align:right;
}
.pedidoSeparator
{
    margin-right: 5%;
    margin-left: 5%;
    border-bottom:1px solid #ccc;
}
.headerCurrentOrders
{
    float: none;
    height: auto;
    margin-top: 3%;
    margin-left: 10px;
    margin-bottom:10px;
    background-color:transparent;
}
.txtCurrentOrdersTitle
{
    color: #215c88;
    font-size: 20px;
    float: left;
}

.txtCurrentOrdersSubtitle
{
    color: #949494;
    clear: left;
    float: none;
    font-size: 14px;
}
.salto
{
    height:0px;
    float:none;
}

.linkViewDetails
{
    width: auto;
    height: auto;
    float: right;
    /*margin-right: 5%;*/
    padding:5px;
    cursor: pointer;
    margin-right:2px;
}

.txtViewDetails
{
    font-family: Segoe UI;
    color: #215c88;
    font-size: 13px;
    float: left;
}

.imgViewDetails
{
    background-image: url('/Style%20Library/Julia/img/arrow_blue.png');
    background-repeat: no-repeat;
    width: 28px;
    height: 20px;
    margin-left: 15px;
    float: left;
}