﻿.NewGroupProductsCatalogTitle
{
    /*font-family: Myriad Pro;*/
    font-family: "Brown Regular"; /*font-size: 26px;*/
    float: left;
    width: 100%;
    color: #89768A;
    margin-bottom: 5px;
}
.PanelMeasure a
{
    background-color: rgb(232, 232, 232);
    color: #555;
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
    display: block;
    text-align: center;
}
.PanelMeasure a:hover
{
    background-color: #C9C9C9;
    color: #555;
}
.PanelColor a img
{
    margin-bottom: 4px;
}
.StockBox
{
    float: left;
    margin-right: 5px;
}
.stock_lbl
{
    float: left;
    padding-right: 10px;
}
.Filter_Catalog
{
    display: none;
}
div.RadToolTip_Default table.rtWrapper td.rtWrapperContent
{
    background-color: white !important;
    border: 1px solid black;
}
.RadDataPager_Default
{
    background-color: transparent !important;
    border: none !important;
}
div.RadToolTip_Default table.rtWrapper td.rtWrapperContent
{
    background-color: white !important;
}

.NewFilterCatalog
{
    float: left;
    padding-bottom: 1rem;
}
.ImgDiscountPos
{
    position: absolute;
    right: 0px;
}
.ImgNewProductPos
{
    position: absolute;
    left: 0;
    top: 0;
}
.ImgComingSoonPos {
    position: absolute;
    left: 0px;
}
.Label_Discount
{
    position: relative;
    top: 20px; /*left:17px;*/
    font-weight: bold;
    color: White; /* REZ30122014 - Modificacions per a poder tenir 2 decimals*/
    left: 13px;
    width: 40px;
    text-align: center;
    display: block;
    font-size: 11px; /* REZ16062015 - Era 10, han demanat pujar-lo, no se si cabran 2 decimals */
}
.NewtxtProductStock
{
    display: inline;
    float: left;
}
.DivStockImages
{
    float: left;
    display: inline;
    height: 18px; /*necesario para que no se corte en Firefox*/
}
.DivStockImages label, .DivStockImages img
{
    vertical-align: top;
}
.ImgNivelServicio
{
    float: left;
    margin-left: 5px;
}

.NewitemProduct
{
    width: 240px;
    height: 320px; /* Para que no se corte si hay 2 linias de descripcion*/ /*font-family:'Helvetica Neue', Arial, Helvetica, sans-serif!important;*/
    font-family: "Brown Regular";
    font-size: 12px;
    margin-bottom: 25px;
    margin-right: 12px;
    margin-left: 12px;
    float: left;
    background-color: White;
}
.NewimgProduct
{
    background-repeat: no-repeat;
    background-color: White;
}
.bloq_info_front
{
    background-color: White;
    width: 218px;
    padding-bottom: 0.5rem;
    line-height: 1.4;
    font-size: 13px;
}
.bloq_info_front, .Contenido
{
    width: 218px;
    padding-left: 17px;
}
.Contenido
{
    display: none;
    margin-right: 8px;
    z-index: 20;
    background-color: White;
    padding-bottom: 10px;
}



.NewtxtProductHeight
{
    width: 225px;
}


.NewtxtProductRef
{
    float: left;
    text-align: left;
    background-color: White;
    width: 50%;
}
.NewtxtProductPrice
{
    float: left;
    width: 100%;
}
.NewtxtProductName
{
    color: #89768A;
    float: left;
    width: 210px;
    text-align: left;
    background-color: White;
}
.PriceWithoutDiscount_Panel
{
    font-weight: bold;
    float: left;
    text-align: left;
    background-color: White;
}
.Price_Panel
{
    float: left;
    width: auto;
    text-align: left;
    background-color: White;
    text-decoration: none;
}
.NewtxtProductLenght
{
    width: 225px;
    background-color: White;
}
.NewtxtProductWidth
{
    background-color: White;
}
.NewitemQty
{
    width: 50px;
    float: left;
    height: 30px;
    text-align: left;
    background-color: White;
}
.NewitemQty .Qty_input
{
    width: 50px;
    float: left;
}

/*.NewimgProductAdd
{
    background-image: url('/Style%20Library/Julia/img/boton_anadirProd.png');
    background-repeat: no-repeat;
  
    float: left;
    cursor: pointer;
}*/
.Container
{
    width: 240px;
}
#imgProducto1
{
    background-color: White;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
}
.NewBtnAdd
{
    margin-top: 5px;
    float: left;
}
.Btn_AddToCar
{
    background-color: White;
    float: right;
}


.NewimgProductsCatalogSearch, .ClearFilter
{
    height: 25px;
    top: 5px;
    position: relative;
}
.ClearFilterButton
{
    top: inherit;
    position: inherit;
}

.CatalogPagination
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.CatalogNumberPagination, .CatalogPaginationTop
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -ms-flex-pack: center;
}

/* REZ 06052013 - fix for firefox space */
.displaytable
{
    display: table;
}
.CatalogNumberPaginationBottom
{
    padding-top: 20px;
}
.tableMeasures
{
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
.tableMeasures .ValuestableMeasuresTr td:First-child
{
    text-align: Left;
}
.tableMeasures .ValuestableMeasuresTr td:Last-child
{
    text-align: Right;
}
.ValuestableMeasuresTr td
{
    padding: 0px 5px;
}
.MeasuresBox
{
    width: 195px;
    margin-bottom: 10px;
}
.QtyAndBtn
{
    width: 200px;
    margin-bottom: 5px;
    float: left;
}
.ColorItem
{
    float: left;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 2px;
    border: 2px solid gray;
}
.PanelMeasure, .PanelColor
{
    display: block;
    float: left;
    padding-bottom: 10px;
    width: 200px;
}
.PanelMeasure
{
    width: 200px;
}
.PanelColor
{
    width: 100%;
}

.printView
{
    padding-left: 1rem;
    float: right;
}

.ui-effects-transfer
{
    border: 2px solid black;
}

/*REZ 25032014 - Reducir tamaño HTML*/
.imgProducto1
{
    text-align: center;
}
.NewimgProduct
{
    width: 225px;
    height: 225px;
}
.bloq_info_front
{
    float: left;
}
.LblCantdidades
{
    display: inline;
}
.gstock, .astock, .rstock, .gastock, .bstock
{
    border: 0;
    background-size: 16px 16px;
    background-position: left top;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
.gstock
{
    background: url('/Style%20Library/Julia/img/Green_Stock16.png') no-repeat;
}
.astock
{
    background: url('/Style%20Library/Julia/img/Orange_Stock16.png') no-repeat;
}
.rstock
{
    background: url('/Style%20Library/Julia/img/Red_Stock16.png') no-repeat;
}
.gastock
{
    background: url('/Style%20Library/Julia/img/Gray_Stock16.png') no-repeat;
}
.bstock
{
    background: url('/Style%20Library/Julia/img/Black_Stock16.png') no-repeat;
}

.pheight, .pwidth, .pdepth
{
    border: 0;
    background-size: 25px 25px;
    background-position: left top;
    width: 25px;
    height: 25px;
    display: inline-block;
}
.pheight
{
    background: url('/Style%20Library/Julia/img/Height25.png') no-repeat;
}
.pwidth
{
    background: url('/Style%20Library/Julia/img/Width25.png') no-repeat;
}
.pdepth
{
    background: url('/Style%20Library/Julia/img/Depth25.png') no-repeat;
}

.NewimgProductAdd
{
    /*background-image: url('/Style Library/Julia/img/es-es/add_to_car.gif');*/
    background-repeat: no-repeat;
    background-color: transparent;
    border-style: none;
    float: left;
    cursor: pointer;
    width: 135px;
    height: 30px;
}
