﻿/* WEBPART NOTICIAS */
.WebpartNoticias
{
    width:300px;
    height:auto;
    border:0px solid red;
    border-left:1px solid #dadada;
    padding-left:20px;
}
    
  .headerNoticias
  {
      border:1px solid black;
      float:left;
      width:300px;
      border:0px solid cyan;
  }
  .newspos4
  {
      margin-right:0px!important;
      }
    .txtNoticias
    {
        color:#49ad67; /* verde */
        font-size:24px;
        /*font-family:Myriad Pro;*/
        font-family: "Segoe UI";
        float:left;
        border:0px solid green;
    }
  
  .listadoNoticia
  {
      width:300px;
      height:auto;
      float:left;
      padding-top:10px;
      font-family:Segoe UI;
      font-size:12px;
      border-bottom:1px solid #dadada;
      padding-bottom:5px;      
  }
 
 .imgNoticia
 {
       width:98px;
       height:66px;
       float:left;
 }

.txtTipoNoticiaVerde
{
    color:#49ad67; /* verde */
    font-weight:bold;
}

.txtTipoNoticiaNaranja
{
    color:#ea7a01; /* naranja */
    font-weight:bold;
}

.txtTipoNoticiaAzul
{
    color:#215c88; /* azul */
    font-weight:bold;
}

.txtdescripNoticia
{
    text-align:justify;
    width:195px;
    border:0px solid green;
    float:left;
    color:#202020;
}

.linkNews
{
    float:right;
    border:0px solid red;
    margin-right:5px;
    margin-top:15px;
    color:#7a7a7a;
}

    .linkNewsCaption
    {
        color:#49ad67; /* verde */
        font-weight:bold;
    }


/* Estilos WebPart UltimasNoticias */
.newsItem {
	LINE-HEIGHT: 19.6px !important; 
	font-family: Segoe UI, Helvetica, Sans-Serif !important; 
	COLOR: rgb(103,103,103) !important; 
	CLEAR: both !important; 
	FONT-SIZE: 14px !important;
	margin-left:25px;
	border-bottom:2px rgb(192,192,192) dotted!important;
}
BR.clear {
	HEIGHT: 0px !important; 
	CLEAR: both !important;
}
.newsItem {
	padding: 0px;
	LINE-HEIGHT: 19.6px !important; 
		DISPLAY: inline-block !important; 
		font-family: Segoe UI, Helvetica, Sans-Serif !important; 
		MARGIN-BOTTOM: 5px !important; 
		COLOR: rgb(103,103,103) !important; 
		FONT-SIZE: 14px !important;
}
.newsItem P {
	padding: 0px;
	TEXT-ALIGN: justify !important; 
		MARGIN: 0px; 
		COLOR: #818181 !important;
}
.newsItem H2 {
	padding: 0px;
	MARGIN: 0px; 
		FONT-FAMILY: SegoeWPSemiBold !important; 
		COLOR: #3c7f97 !important; 
		FONT-SIZE: 14px !important; 
		FONT-WEIGHT: lighter !important; 
		TEXT-DECORATION: none !important;
}
.newsItem H2 A {
	padding: 0px;
	MARGIN: 0px; 
		FONT-FAMILY: SegoeWPSemiBold !important; 
		COLOR: #3c7f97 !important; 
		FONT-SIZE: 14px !important; 
		FONT-WEIGHT: lighter !important; 
		TEXT-DECORATION: none !important;
}
.newsItem H2 A:hover {
	TEXT-DECORATION: underline;
}
.newsItem UL.socialFeedback {
	PADDING-BOTTOM: 0px; 
	LIST-STYLE-TYPE: none; 
	MARGIN: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-RIGHT: 0px; 
	FLOAT: right; 
	LIST-STYLE-IMAGE: none; 
	PADDING-TOP: 0px;
}
.newsItem UL.socialFeedback LI {
	LINE-HEIGHT: 19.6px !important; PADDING-LEFT: 22px; font-family: Segoe UI, Helvetica, Sans-Serif !important; FLOAT: left; COLOR: rgb(103,103,103) !important; FONT-SIZE: 14px !important; MARGIN-RIGHT: 7px
}
.newsItem UL.socialFeedback LI:hover {
	CURSOR: pointer; TEXT-DECORATION: underline
}
.socialFeedback .socialLikes {
	BACKGROUND-IMAGE: url(/style library/Raona.LatestNews/images/like.png); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left 50%
}
.socialFeedback .socialComments {
	BACKGROUND-IMAGE: url(/style library/Raona.LatestNews/images/comment.png); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left 50%
}
.newsItemContent
{
	
	width:100%;
}
.newsItem .newsItemContent H2 {
	padding: 0px;
	padding-right:20px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;width:80%;box-shadow:2px 2px 10px rgb(192,192,192);
}
.newsItem .newsItemContent H2 A {
	
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 20px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
 white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;width: 100%;	

}
.newsItem H2 A:hover {
	TEXT-DECORATION: underline !important
}
.newsItem .newsItemContent UL.socialFeedback {
	PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #f2f2f2; MARGIN: 10px 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; FLOAT: none; PADDING-TOP: 10px
}
.newsItem .newsItemContent UL.socialFeedback LI {
	FLOAT: none
}
IMG.newsItemThumb {
	FLOAT: left
}
.featured.newsItem {
	BORDER-BOTTOM: #eeeeee 1px solid; PADDING-BOTTOM: 20px !important; LINE-HEIGHT: 19.6px !important; font-family: Segoe UI, Helvetica, Sans-Serif !important; MARGIN-BOTTOM: 10px !important; COLOR: rgb(103,103,103) !important; FONT-SIZE: 14px !important
}
.divImageSuput 
{
    float: left;
    width: 210px;
}
.divImageSuput img
{
	width:320px!important;
	height:220px!important;
}
.art-postheadericons 
{
    display: none;
}


/* Summary New */

#lang_sel {
	Z-INDEX: 99; POSITION: relative; FONT-FAMILY: verdana, arial, sans-serif; HEIGHT: 32px
}
#lang_sel UL {
	padding: 0px;
	LIST-STYLE-TYPE: none !important; 	MARGIN: 0px;
}
#lang_sel LI {
	padding: 0px;
	LIST-STYLE-TYPE: none !important; 	MARGIN: 0px;
}
#lang_sel LI:before {
	CONTENT: "" !important
}
#lang_sel UL UL {
	WIDTH: 149px
}
#lang_sel LI {
	POSITION: relative; WIDTH: 149px; FLOAT: left
}
#lang_sel A {
	BORDER-BOTTOM: rgb(205,205,205) 1px solid; BORDER-LEFT: rgb(205,205,205) 1px solid; LINE-HEIGHT: 24px; PADDING-LEFT: 10px; DISPLAY: block; BACKGROUND: rgb(255,255,255); COLOR: rgb(68,68,68); FONT-SIZE: 11px; BORDER-TOP: rgb(205,205,205) 1px solid; BORDER-RIGHT: rgb(205,205,205) 1px solid; TEXT-DECORATION: none !important
}
#lang_sel A:visited {
	BORDER-BOTTOM: rgb(205,205,205) 1px solid; BORDER-LEFT: rgb(205,205,205) 1px solid; LINE-HEIGHT: 24px; PADDING-LEFT: 10px; DISPLAY: block; BACKGROUND: rgb(255,255,255); COLOR: rgb(68,68,68); FONT-SIZE: 11px; BORDER-TOP: rgb(205,205,205) 1px solid; BORDER-RIGHT: rgb(205,205,205) 1px solid; TEXT-DECORATION: none !important
}
#lang_sel UL UL {
	POSITION: absolute; WIDTH: 149px; HEIGHT: 0px; VISIBILITY: hidden; BORDER-TOP: rgb(205,205,205) 1px solid; TOP: 25px; LEFT: 0px
}
#lang_sel UL UL A {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 1em; BORDER-RIGHT-WIDTH: 1px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: rgb(255,255,255); BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 1px; HEIGHT: auto; COLOR: rgb(68,68,68); BORDER-LEFT-WIDTH: 1px; PADDING-TOP: 5px
}
#lang_sel UL UL A:visited {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 1em; BORDER-RIGHT-WIDTH: 1px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: rgb(255,255,255); BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 1px; HEIGHT: auto; COLOR: rgb(68,68,68); BORDER-LEFT-WIDTH: 1px; PADDING-TOP: 5px
}
#lang_sel A:hover {
	BACKGROUND: rgb(238,238,238); COLOR: rgb(0,0,0)
}
#lang_sel UL UL A:hover {
	BACKGROUND: rgb(238,238,238); COLOR: rgb(0,0,0)
}
#lang_sel A.lang_sel_sel {
	BACKGROUND: url(nav-arrow-down.png) rgb(255,255,255) no-repeat right center; COLOR: rgb(68,68,68)
}
#lang_sel A.lang_sel_sel:hover {
	COLOR: rgb(0,0,0); TEXT-DECORATION: none
}
#lang_sel UL LI:hover UL {
	VISIBILITY: visible
}
#lang_sel UL A:hover UL {
	VISIBILITY: visible
}
#lang_sel IMG.iclflag {
	POSITION: relative; WIDTH: 18px; HEIGHT: 12px; TOP: 1px
}
#art-main {
	FONT-STYLE: normal; font-family: Segoe UI, Helvetica, Sans-Serif; FONT-SIZE: 13px; FONT-WEIGHT: normal
}
TABLE {
	FONT-STYLE: normal; font-family: Segoe UI, Helvetica, Sans-Serif; FONT-SIZE: 13px; FONT-WEIGHT: normal
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
A {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.art-postcontent {
	TEXT-ALIGN: left
}
.art-postheadericons {
	TEXT-ALIGN: left
}
.art-postfootericons {
	TEXT-ALIGN: left
}
.art-blockcontent-body {
	TEXT-ALIGN: left
}
UL.art-vmenu A {
	TEXT-ALIGN: left
}
.art-postcontent {
	LINE-HEIGHT: 165%; font-family: Segoe UI, Helvetica, Sans-Serif; FONT-SIZE: 14px; WORD-SPACING: 1px
}
.art-postcontent LI {
	LINE-HEIGHT: 165%; font-family: Segoe UI, Helvetica, Sans-Serif; FONT-SIZE: 14px; WORD-SPACING: 1px
}
.art-postcontent TABLE {
	LINE-HEIGHT: 165%; font-family: Segoe UI, Helvetica, Sans-Serif; FONT-SIZE: 14px; WORD-SPACING: 1px
}
.art-postcontent A {
	LINE-HEIGHT: 165%; font-family: Segoe UI, Helvetica, Sans-Serif; FONT-SIZE: 14px; WORD-SPACING: 1px
}
.art-postcontent A:link {
	LINE-HEIGHT: 165%; font-family: Segoe UI, Helvetica, Sans-Serif; FONT-SIZE: 14px; WORD-SPACING: 1px
}
.art-postcontent A:visited {
	LINE-HEIGHT: 165%; font-family: Segoe UI, Helvetica, Sans-Serif; FONT-SIZE: 14px; WORD-SPACING: 1px
}
.art-postcontent A.visited {
	LINE-HEIGHT: 165%; font-family: Segoe UI, Helvetica, Sans-Serif; FONT-SIZE: 14px; WORD-SPACING: 1px
}
.art-postcontent A:hover {
	LINE-HEIGHT: 165%; font-family: Segoe UI, Helvetica, Sans-Serif; FONT-SIZE: 14px; WORD-SPACING: 1px
}
.art-postcontent A.hovered {
	LINE-HEIGHT: 165%; font-family: Segoe UI, Helvetica, Sans-Serif; FONT-SIZE: 14px; WORD-SPACING: 1px
}
.art-postcontent P {
	LINE-HEIGHT: 140%; MARGIN: 16px 0px 12px
}
.art-postcontent > P {
	MARGIN-TOP: 0px
}
.art-postcontent H1 {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-postcontent H1 A {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-postcontent H1 A:link {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-postcontent H1 A:visited {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-postcontent H1 A:hover {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-postcontent H2 {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-postcontent H2 A {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-postcontent H2 A:link {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-postcontent H2 A:visited {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-postcontent H2 A:hover {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-postcontent H3 {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-postcontent H3 A {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-postcontent H3 A:link {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-postcontent H3 A:visited {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-postcontent H3 A:hover {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-postcontent H4 {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-postcontent H4 A {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-postcontent H4 A:link {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-postcontent H4 A:visited {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-postcontent H4 A:hover {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-postcontent H5 {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-postcontent H5 A {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-postcontent H5 A:link {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-postcontent H5 A:visited {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-postcontent H5 A:hover {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-postcontent H6 {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-postcontent H6 A {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-postcontent H6 A:link {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-postcontent H6 A:visited {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-postcontent H6 A:hover {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-blockheader .t {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-blockheader .t A {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-blockheader .t A:link {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-blockheader .t A:visited {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-blockheader .t A:hover {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-vmenublockheader .t {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-vmenublockheader .t A {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-vmenublockheader .t A:link {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-vmenublockheader .t A:visited {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-vmenublockheader .t A:hover {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-logo-name {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-logo-name A {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-logo-name A:link {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-logo-name A:visited {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-logo-name A:hover {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-logo-text {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-logo-text A {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-logo-text A:link {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-logo-text A:visited {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.art-logo-text A:hover {
	padding: 0px;
	MARGIN: 0px 0px 5px; 	FONT-FAMILY: SegoeWPSemiLight !important; 	COLOR: #85000b !important; 	FONT-SIZE: 22px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
UL {
	LIST-STYLE-TYPE: none
}
HTML {
	HEIGHT: 100%
}
BODY {
	HEIGHT: 100%
}
#art-main {
	Z-INDEX: 0; POSITION: relative; MIN-HEIGHT: 100%; WIDTH: 100%; OVERFLOW: hidden; CURSOR: default; TOP: 0px; LEFT: 0px
}
BODY {
	MIN-WIDTH: 940px; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: rgb(255,255,255); MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: rgb(78,78,78); PADDING-TOP: 0px
}
.cleared {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; FLOAT: none; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 0px; OVERFLOW: hidden; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
.reset-box {
	DISPLAY: table; OVERFLOW: hidden
}
FORM {
	padding: 0px;
	MARGIN: 0px;
}
.art-box {
	POSITION: relative; MARGIN: 0px auto
}
.art-box-body {
	POSITION: relative; MARGIN-left:5px; margin-right:5px;
}
.art-box:before {
	POSITION: absolute; LINE-HEIGHT: 0; BOTTOM: 0px; BACKGROUND-REPEAT: no-repeat; CONTENT: " "; TOP: 0px
}
.art-box:after {
	POSITION: absolute; LINE-HEIGHT: 0; BOTTOM: 0px; BACKGROUND-REPEAT: no-repeat; CONTENT: " "; TOP: 0px
}
.art-box-body:before {
	POSITION: absolute; LINE-HEIGHT: 0; BOTTOM: 0px; BACKGROUND-REPEAT: no-repeat; CONTENT: " "; TOP: 0px
}
.art-box-body:after {
	POSITION: absolute; LINE-HEIGHT: 0; BOTTOM: 0px; BACKGROUND-REPEAT: no-repeat; CONTENT: " "; TOP: 0px
}
.art-box:before {
	LEFT: 0px
}
.art-box-body:before {
	LEFT: 0px
}
.art-box:after {
	RIGHT: 0px
}
.art-box-body:after {
	RIGHT: 0px
}
.art-box:before {
	Z-INDEX: -3; DIRECTION: ltr; BACKGROUND-POSITION: left bottom; OVERFLOW: hidden
}
.art-box:after {
	Z-INDEX: -3; BACKGROUND-POSITION: right bottom
}
.art-box-body:before {
	BACKGROUND-REPEAT: repeat-y
}
.art-box-body:after {
	BACKGROUND-REPEAT: repeat-y
}
.art-box-body:before {
	Z-INDEX: -3; BACKGROUND-POSITION: left top
}
.art-box-body:after {
	Z-INDEX: -3; BACKGROUND-POSITION: right top
}
.art-box .art-box:before {
	Z-INDEX: -2
}
.art-box .art-box:after {
	Z-INDEX: -2
}
.art-box-body .art-box-body:before {
	Z-INDEX: -2
}
.art-box-body .art-box-body:after {
	Z-INDEX: -2
}
.art-box .art-box .art-box:before {
	Z-INDEX: -1
}
.art-box .art-box .art-box:after {
	Z-INDEX: -1
}
.art-box-body .art-box-body .art-box-body:before {
	Z-INDEX: -1
}
.art-box-body .art-box-body .art-box-body:after {
	Z-INDEX: -1
}
.art-bar {
	POSITION: relative
}
.art-bar:before {
	Z-INDEX: -1; POSITION: absolute; BOTTOM: 0px; BACKGROUND-REPEAT: repeat; CONTENT: " "; TOP: 0px
}
.art-bar:after {
	Z-INDEX: -1; POSITION: absolute; BOTTOM: 0px; BACKGROUND-REPEAT: repeat; CONTENT: " "; TOP: 0px
}
.art-bar:before {
	BACKGROUND-POSITION: left top; LEFT: 0px
}
.art-bar:after {
	BACKGROUND-POSITION: right top; RIGHT: 0px
}
DIV#art-header-bg {
	Z-INDEX: -5; POSITION: absolute; MARGIN: 0px auto; WIDTH: 100%; HEIGHT: 110px; OVERFLOW: hidden; TOP: 0px; LEFT: 0px
}
DIV#art-hmenu-bg {
	Z-INDEX: -4; POSITION: absolute; MARGIN: 0px auto; WIDTH: 100%; HEIGHT: 25px; OVERFLOW: hidden; TOP: 110px; LEFT: 0px
}
.art-sheet {
	MARGIN-TOP: 0px; WIDTH: 940px; MAX-WIDTH: 940px; MARGIN-BOTTOM: 0px; CURSOR: auto
}
.art-sheet-body {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.art-sheet:before {
	RIGHT: 0px
}
.art-sheet-body:before {
	RIGHT: 0px
}
.art-sheet-body:after {
	BACKGROUND-IMAGE: url(sheet.png); WIDTH: 0px; BOTTOM: 0px; TOP: 0px
}
.art-sheet-body:before {
	BACKGROUND-IMAGE: url(sheet.png); BOTTOM: 0px; TOP: 0px
}
DIV.art-header {
	POSITION: relative; MARGIN: 0px auto; WIDTH: 100%; HEIGHT: 110px
}
.art-header:after {
	BACKGROUND-IMAGE: url(header.jpg); Z-INDEX: -1; POSITION: absolute; WIDTH: 100%; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center; HEIGHT: 110px; CONTENT: " "; TOP: 0px
}
DIV.art-headerobject {
	BACKGROUND-IMAGE: url(header-object.png); POSITION: absolute; WIDTH: 250px; DISPLAY: block; HEIGHT: 46px; MARGIN-LEFT: -1px; TOP: 33px; LEFT: 1%
}
DIV.art-logo {
	POSITION: absolute; DISPLAY: block; MARGIN-LEFT: 0px; TOP: 20px; LEFT: 0px
}
UL.art-hmenu A {
	Z-INDEX: 11; POSITION: relative; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium
}
UL.art-hmenu A:link {
	Z-INDEX: 11; POSITION: relative; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium
}
UL.art-hmenu A:visited {
	Z-INDEX: 11; POSITION: relative; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium
}
UL.art-hmenu A:hover {
	Z-INDEX: 11; POSITION: relative; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium
}
UL.art-hmenu {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
UL.art-hmenu UL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
UL.art-hmenu LI {
	Z-INDEX: 5; BORDER-BOTTOM: 0px; POSITION: relative; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
UL.art-hmenu LI:hover {
	Z-INDEX: 10000; WHITE-SPACE: normal
}
UL.art-hmenu LI LI {
	WIDTH: auto; FLOAT: none
}
UL.art-hmenu LI:hover > UL {
	VISIBILITY: visible; TOP: 100%
}
UL.art-hmenu LI LI:hover > UL {
	TOP: 0px; LEFT: 100%
}
UL.art-hmenu:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; OVERFLOW: hidden; CONTENT: "."
}
UL.art-hmenu UL:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; OVERFLOW: hidden; CONTENT: "."
}
UL.art-hmenu {
	MIN-HEIGHT: 0px
}
UL.art-hmenu UL {
	MIN-HEIGHT: 0px
}
UL.art-hmenu UL {
	BACKGROUND-IMAGE: url(spacer.gif); Z-INDEX: 10; POSITION: absolute; PADDING-BOTTOM: 30px; MARGIN: -10px 0px 0px -30px; PADDING-LEFT: 30px; PADDING-RIGHT: 30px; VISIBILITY: hidden; PADDING-TOP: 10px; TOP: 0px; LEFT: 0px
}
UL.art-hmenu UL UL {
	Z-INDEX: -1; PADDING-BOTTOM: 30px; MARGIN: -30px 0px 0px -11px; PADDING-LEFT: 10px; PADDING-RIGHT: 30px; PADDING-TOP: 30px
}
UL.art-hmenu {
	POSITION: relative; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: right; PADDING-TOP: 0px
}
.art-nav {
	Z-INDEX: 100; MARGIN: 0px auto; MIN-HEIGHT: 25px
}
.art-nav:before {
	BACKGROUND-IMAGE: url(nav.png)
}
.art-nav:after {
	BACKGROUND-IMAGE: url(nav.png)
}
.art-nav:before {
	RIGHT: 0px
}
.art-nav:after {
	WIDTH: 0px
}
.art-nav-outer {
	POSITION: absolute; WIDTH: 100%
}
UL.art-hmenu > LI > A {
	POSITION: relative; TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; PADDING-LEFT: 22px; PADDING-RIGHT: 22px; DISPLAY: block; HEIGHT: 25px; COLOR: rgb(255,255,255); CURSOR: pointer; TEXT-DECORATION: none; PADDING-TOP: 0px
}
UL.art-hmenu > LI > A:before {
	BACKGROUND-IMAGE: url(menuitem.png); Z-INDEX: -1; POSITION: absolute; BOTTOM: 0px; DISPLAY: block; CONTENT: " "; TOP: 0px
}
UL.art-hmenu > LI > A:after {
	BACKGROUND-IMAGE: url(menuitem.png); Z-INDEX: -1; POSITION: absolute; BOTTOM: 0px; DISPLAY: block; CONTENT: " "; TOP: 0px
}
UL.art-hmenu > LI > A:before {
	BACKGROUND-POSITION: left top; RIGHT: 0px; LEFT: 0px
}
UL.art-hmenu > LI > A:after {
	WIDTH: 0px; BACKGROUND-POSITION: right top; RIGHT: 0px
}
.art-hmenu A {
	TEXT-ALIGN: left; TEXT-TRANSFORM: uppercase; font-family: Segoe UI, Helvetica, Sans-Serif; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.art-hmenu A:link {
	TEXT-ALIGN: left; TEXT-TRANSFORM: uppercase; font-family: Segoe UI, Helvetica, Sans-Serif; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.art-hmenu A:visited {
	TEXT-ALIGN: left; TEXT-TRANSFORM: uppercase; font-family: Segoe UI, Helvetica, Sans-Serif; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.art-hmenu A:hover {
	TEXT-ALIGN: left; TEXT-TRANSFORM: uppercase; font-family: Segoe UI, Helvetica, Sans-Serif; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
UL.art-hmenu > LI > A:hover:before {
	BACKGROUND-POSITION: left center
}
UL.art-hmenu > LI:hover > A:before {
	BACKGROUND-POSITION: left center
}
UL.art-hmenu > LI > A:hover:after {
	BACKGROUND-POSITION: right center
}
UL.art-hmenu > LI:hover > A:after {
	BACKGROUND-POSITION: right center
}
UL.art-hmenu > LI > A:hover {
	COLOR: rgb(255,255,255)
}
UL.art-hmenu > LI:hover > A {
	COLOR: rgb(255,255,255)
}
UL.art-hmenu > LI:before {
	POSITION: absolute; WIDTH: 1px; DISPLAY: block; BACKGROUND: url(menuseparator.png) no-repeat center center; HEIGHT: 25px; CONTENT: " "; TOP: 0px; LEFT: -1px
}
UL.art-hmenu > LI {
	MARGIN-LEFT: 1px
}
UL.art-hmenu > LI:first-child {
	MARGIN-LEFT: 0px
}
UL.art-hmenu > LI:first-child:before {
	DISPLAY: none
}
.art-hmenu UL A {
	BACKGROUND-IMAGE: url(subitem.png); BORDER-BOTTOM: rgb(70,81,83) 1px solid; MIN-WIDTH: 7em; TEXT-ALIGN: left; BORDER-LEFT: rgb(70,81,83) 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; MARGIN: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; DISPLAY: block; BACKGROUND-REPEAT: repeat-x; font-family: Segoe UI, Helvetica, Sans-Serif; WHITE-SPACE: nowrap; BACKGROUND-POSITION: left top; HEIGHT: 22px; COLOR: rgb(255,255,255); FONT-SIZE: 10px; BORDER-TOP: rgb(70,81,83) 0px solid; FONT-WEIGHT: normal; BORDER-RIGHT: rgb(70,81,83) 1px solid; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.art-hmenu UL > LI:first-child > A {
	BORDER-TOP-WIDTH: 1px
}
.art-hmenu UL A:link {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; MARGIN: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; font-family: Segoe UI, Helvetica, Sans-Serif; COLOR: rgb(255,255,255); FONT-SIZE: 10px; FONT-WEIGHT: normal; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.art-hmenu UL A:visited {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; MARGIN: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; font-family: Segoe UI, Helvetica, Sans-Serif; COLOR: rgb(255,255,255); FONT-SIZE: 10px; FONT-WEIGHT: normal; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.art-hmenu UL A:hover {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; MARGIN: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; font-family: Segoe UI, Helvetica, Sans-Serif; COLOR: rgb(255,255,255); FONT-SIZE: 10px; FONT-WEIGHT: normal; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.art-hmenu UL A:active {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; MARGIN: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; font-family: Segoe UI, Helvetica, Sans-Serif; COLOR: rgb(255,255,255); FONT-SIZE: 10px; FONT-WEIGHT: normal; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.art-hmenu UL LI A:hover {
	BORDER-BOTTOM-COLOR: rgb(153,166,168); BORDER-TOP-COLOR: rgb(153,166,168); BACKGROUND-POSITION: left bottom; BORDER-TOP-WIDTH: 1px !important; COLOR: rgb(255,255,255); BORDER-RIGHT-COLOR: rgb(153,166,168); BORDER-LEFT-COLOR: rgb(153,166,168)
}
.art-hmenu UL LI:hover > A {
	BORDER-BOTTOM-COLOR: rgb(153,166,168); BORDER-TOP-COLOR: rgb(153,166,168); BACKGROUND-POSITION: left bottom; BORDER-TOP-WIDTH: 1px !important; COLOR: rgb(255,255,255); BORDER-RIGHT-COLOR: rgb(153,166,168); BORDER-LEFT-COLOR: rgb(153,166,168)
}
.art-layout-wrapper {
	POSITION: relative; MARGIN: 20px auto
}
.art-content-layout {
	WIDTH: 100%; DISPLAY: table; BORDER-COLLAPSE: collapse; TABLE-LAYOUT: fixed
}
.art-content-layout-row {
	DISPLAY: table-row
}
.art-layout-cell {
	DISPLAY: table-cell; VERTICAL-ALIGN: top
}
INPUT {
	BORDER-BOTTOM: rgb(178,178,178) 1px solid; BORDER-LEFT: rgb(178,178,178) 1px solid; FONT-STYLE: normal; font-family: Segoe UI, Helvetica, Sans-Serif; FONT-SIZE: 13px; VERTICAL-ALIGN: middle; OVERFLOW: hidden; BORDER-TOP: rgb(178,178,178) 1px solid; FONT-WEIGHT: normal; BORDER-RIGHT: rgb(178,178,178) 1px solid
}
SELECT {
	BORDER-BOTTOM: rgb(178,178,178) 1px solid; BORDER-LEFT: rgb(178,178,178) 1px solid; FONT-STYLE: normal; font-family: Segoe UI, Helvetica, Sans-Serif; FONT-SIZE: 13px; VERTICAL-ALIGN: middle; OVERFLOW: hidden; BORDER-TOP: rgb(178,178,178) 1px solid; FONT-WEIGHT: normal; BORDER-RIGHT: rgb(178,178,178) 1px solid
}
TEXTAREA {
	BORDER-BOTTOM: rgb(178,178,178) 1px solid; BORDER-LEFT: rgb(178,178,178) 1px solid; FONT-STYLE: normal; font-family: Segoe UI, Helvetica, Sans-Serif; FONT-SIZE: 13px; VERTICAL-ALIGN: middle; OVERFLOW: hidden; BORDER-TOP: rgb(178,178,178) 1px solid; FONT-WEIGHT: normal; BORDER-RIGHT: rgb(178,178,178) 1px solid
}
.art-vmenublock {
	MARGIN: 5px; MAX-WIDTH: 940px
}
.art-vmenublock-body {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.art-vmenublock:before {
	RIGHT: 0px
}
.art-vmenublock-body:before {
	RIGHT: 0px
}
.art-vmenublock-body:after {
	BACKGROUND-IMAGE: url(vmenublock.png); WIDTH: 0px; BOTTOM: 0px; TOP: 0px
}
.art-vmenublock-body:before {
	BOTTOM: 0px; TOP: 0px
}
.art-vmenublockcontent {
	MAX-WIDTH: 940px
}
.art-vmenublockcontent-body {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL.art-vmenu {
	LIST-STYLE: none none outside; DISPLAY: block
}
UL.art-vmenu UL {
	LIST-STYLE: none none outside; DISPLAY: block
}
UL.art-vmenu {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 0; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-TOP: 0px
}
UL.art-vmenu LI {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 0; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-TOP: 0px
}
UL.art-vmenu {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
UL.art-vmenu UL {
	POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: none; PADDING-TOP: 0px
}
UL.art-vmenu A {
	Z-INDEX: 0; POSITION: relative; FONT-STYLE: normal; DISPLAY: block; font-family: Segoe UI, Helvetica, Sans-Serif; MARGIN-LEFT: 0px; FONT-SIZE: 14px; CURSOR: pointer; FONT-WEIGHT: bold; MARGIN-RIGHT: 0px; TEXT-DECORATION: none
}
UL.art-vmenu LI {
	POSITION: relative
}
UL.art-vmenu > LI > A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; PADDING-LEFT: 11px; PADDING-RIGHT: 11px; WHITE-SPACE: nowrap; HEIGHT: 30px; COLOR: rgb(255,255,255); PADDING-TOP: 0px
}
UL.art-vmenu A:hover {
	COLOR: rgb(255,255,255)
}
UL.art-vmenu A.active:hover {
	COLOR: rgb(255,255,255)
}
UL.art-vmenu > LI > A:before {
	BACKGROUND-IMAGE: url(vmenuitem.png); Z-INDEX: -1; POSITION: absolute; DISPLAY: block; HEIGHT: 30px; CONTENT: " "; TOP: 0px
}
UL.art-vmenu > LI > A:after {
	BACKGROUND-IMAGE: url(vmenuitem.png); Z-INDEX: -1; POSITION: absolute; DISPLAY: block; HEIGHT: 30px; CONTENT: " "; TOP: 0px
}
UL.art-vmenu > LI > A:before {
	BACKGROUND-POSITION: left top; RIGHT: 1px; LEFT: 0px
}
UL.art-vmenu > LI > A:after {
	WIDTH: 1px; BACKGROUND-POSITION: right top; RIGHT: 0px
}
UL.art-vmenu > LI > A:hover:before {
	BACKGROUND-POSITION: left center
}
UL.art-vmenu > LI > A:hover:after {
	BACKGROUND-POSITION: right center
}
UL.art-vmenu > LI {
	MARGIN-TOP: 4px
}
UL.art-vmenu > LI > UL {
	PADDING-BOTTOM: 0px; MARGIN-TOP: 4px
}
UL.art-vmenu > LI:first-child {
	MARGIN-TOP: 0px
}
UL.art-vmenu UL LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL.art-vmenu LI LI {
	POSITION: relative
}
UL.art-vmenu LI LI A {
	POSITION: relative
}
UL.art-vmenu UL A {
	BACKGROUND-IMAGE: url(vsubitem.png); POSITION: relative; PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-LEFT: 25px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND-REPEAT: repeat-x; WHITE-SPACE: nowrap; BACKGROUND-POSITION: left top; HEIGHT: 20px; COLOR: rgb(75,87,88); MARGIN-LEFT: 0px; FONT-SIZE: 11px; OVERFLOW: visible; FONT-WEIGHT: normal; MARGIN-RIGHT: 0px; PADDING-TOP: 0px
}
UL.art-vmenu UL A:hover {
	LINE-HEIGHT: 20px; BACKGROUND-POSITION: left center; COLOR: rgb(255,255,255); MARGIN-LEFT: 0px; FONT-SIZE: 11px; FONT-WEIGHT: normal; MARGIN-RIGHT: 0px
}
UL.art-vmenu UL LI LI A:hover {
	BACKGROUND-POSITION: left center
}
UL.art-vmenu UL LI LI A.active:hover {
	BACKGROUND-POSITION: left center
}
UL.art-vmenu UL A:link {
	LINE-HEIGHT: 20px; COLOR: rgb(75,87,88); MARGIN-LEFT: 0px; FONT-SIZE: 11px; FONT-WEIGHT: normal; MARGIN-RIGHT: 0px
}
UL.art-vmenu UL A:visited {
	LINE-HEIGHT: 20px; COLOR: rgb(75,87,88); MARGIN-LEFT: 0px; FONT-SIZE: 11px; FONT-WEIGHT: normal; MARGIN-RIGHT: 0px
}
UL.art-vmenu UL A:active {
	LINE-HEIGHT: 20px; COLOR: rgb(75,87,88); MARGIN-LEFT: 0px; FONT-SIZE: 11px; FONT-WEIGHT: normal; MARGIN-RIGHT: 0px
}
UL.art-vmenu > LI > UL > LI:first-child {
	MARGIN-TOP: 0px; PADDING-TOP: 0px
}
UL.art-vmenu LI LI {
	POSITION: relative; MARGIN-TOP: 0px
}
UL.art-vmenu UL UL A {
	PADDING-LEFT: 50px
}
UL.art-vmenu UL LI A:hover {
	COLOR: rgb(255,255,255)
}
UL.art-vmenu UL LI A.active:hover {
	COLOR: rgb(255,255,255)
}
.art-block {
	MARGIN: 5px; MAX-WIDTH: 940px
}
.art-block-body {
	PADDING-BOTTOM: 7px; PADDING-TOP: 7px
}
.art-block:before {
	RIGHT: 0px
}
.art-block-body:before {
	RIGHT: 0px
}
.art-block-body:after {
	BACKGROUND-IMAGE: url(block.png); WIDTH: 0px; BOTTOM: 0px; TOP: 0px
}
.art-block-body:before {
	BACKGROUND-IMAGE: url(block.png); BOTTOM: 0px; TOP: 0px
}
DIV.art-block IMG {
	BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.art-blockcontent {
	MAX-WIDTH: 940px
}
.art-blockcontent-body {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 165%; PADDING-LEFT: 5px; LETTER-SPACING: normal; PADDING-RIGHT: 5px; font-family: Segoe UI, Helvetica, Sans-Serif; COLOR: rgb(78,78,78); FONT-SIZE: 14px; PADDING-TOP: 5px
}
.art-blockcontent-body TABLE {
	LINE-HEIGHT: 165%; LETTER-SPACING: normal; font-family: Segoe UI, Helvetica, Sans-Serif; COLOR: rgb(78,78,78); FONT-SIZE: 14px
}
.art-blockcontent-body LI {
	LINE-HEIGHT: 165%; LETTER-SPACING: normal; font-family: Segoe UI, Helvetica, Sans-Serif; COLOR: rgb(78,78,78); FONT-SIZE: 14px
}
.art-blockcontent-body A {
	LINE-HEIGHT: 165%; LETTER-SPACING: normal; font-family: Segoe UI, Helvetica, Sans-Serif; COLOR: rgb(78,78,78); FONT-SIZE: 14px
}
.art-blockcontent-body A:link {
	LINE-HEIGHT: 165%; LETTER-SPACING: normal; font-family: Segoe UI, Helvetica, Sans-Serif; COLOR: rgb(78,78,78); FONT-SIZE: 14px
}
.art-blockcontent-body A:visited {
	LINE-HEIGHT: 165%; LETTER-SPACING: normal; font-family: Segoe UI, Helvetica, Sans-Serif; COLOR: rgb(78,78,78); FONT-SIZE: 14px
}
.art-blockcontent-body A:hover {
	LINE-HEIGHT: 165%; LETTER-SPACING: normal; font-family: Segoe UI, Helvetica, Sans-Serif; COLOR: rgb(78,78,78); FONT-SIZE: 14px
}
.art-blockcontent-body A {
	COLOR: rgb(75,87,88); TEXT-DECORATION: none
}
.art-blockcontent-body A:link {
	COLOR: rgb(75,87,88); TEXT-DECORATION: none
}
.art-blockcontent-body A:visited {
	COLOR: rgb(126,143,145); TEXT-DECORATION: none
}
.art-blockcontent-body A.visited {
	COLOR: rgb(126,143,145); TEXT-DECORATION: none
}
.art-blockcontent-body A:hover {
	COLOR: rgb(117,39,39)
}
.art-blockcontent-body A.hover {
	COLOR: rgb(117,39,39)
}
.art-blockcontent-body UL LI {
	BACKGROUND-IMAGE: url(blockcontentbullets.png); PADDING-BOTTOM: 0px; PADDING-LEFT: 11px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left top; COLOR: rgb(78,78,78); FONT-SIZE: 13px; PADDING-TOP: 0px
}
.art-post {
	MARGIN: 0px; MAX-WIDTH: 940px
}
.art-post-body {
	 PADDING-LEFT: 10px; PADDING-RIGHT: 10px;border-right:#C0C0C0 2px dotted;
}
A IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.art-article IMG {
	BORDER-BOTTOM: rgb(178,194,209) 0px solid; BORDER-LEFT: rgb(178,194,209) 0px solid;  BORDER-TOP: rgb(178,194,209) 0px solid; BORDER-RIGHT: rgb(178,194,209) 0px solid
}
IMG.art-article {
	BORDER-BOTTOM: rgb(178,194,209) 0px solid; BORDER-LEFT: rgb(178,194,209) 0px solid; MARGIN: 7px; BORDER-TOP: rgb(178,194,209) 0px solid; BORDER-RIGHT: rgb(178,194,209) 0px solid
}
.art-block IMG {
	BORDER-BOTTOM: rgb(178,194,209) 0px solid; BORDER-LEFT: rgb(178,194,209) 0px solid; MARGIN: 7px; BORDER-TOP: rgb(178,194,209) 0px solid; BORDER-RIGHT: rgb(178,194,209) 0px solid
}
.art-footer IMG {
	BORDER-BOTTOM: rgb(178,194,209) 0px solid; BORDER-LEFT: rgb(178,194,209) 0px solid; MARGIN: 7px; BORDER-TOP: rgb(178,194,209) 0px solid; BORDER-RIGHT: rgb(178,194,209) 0px solid
}
#SummaryTextDiv
{
	font-weight:600!important;
	text-align:justify;
	color:black;
	font-size:11px;
	margin-left:10px;
}
.art-postheader  {
	PADDING-BOTTOM: 10px !important; MARGIN: 0px 0px 5px; PADDING-LEFT: 0px !important; PADDING-RIGHT: 0px !important; FONT-FAMILY: Segoe UI !important;  FONT-SIZE: 22px !important;TEXT-DECORATION: none !important; PADDING-TOP: 0px !important; background-color:#C0C0C0!important;display:block;height:20px!important;width:100%;box-shadow:2px 2px 10px rgb(192,192,192);

}
.art-postheader  A,.art-postheader A:visited {
	padding: 0px;
	float:left; 	width:100%;	MARGIN: 0px 10px 5px; 	FONT-FAMILY: Segoe UI !important;	font-weight:600!important; 	COLOR: black!important; 	FONT-SIZE: 14px !important;  	TEXT-DECORATION: none !important;
}
.art-postheadericons {
	font-family: Segoe UI, Helvetica, Sans-Serif; COLOR: rgb(117,117,117); FONT-SIZE: 12px; TEXT-DECORATION: none
}
.art-postheadericons A {
	font-family: Segoe UI, Helvetica, Sans-Serif; COLOR: rgb(117,117,117); FONT-SIZE: 12px; TEXT-DECORATION: none
}
.art-postheadericons A:link {
	font-family: Segoe UI, Helvetica, Sans-Serif; COLOR: rgb(117,117,117); FONT-SIZE: 12px; TEXT-DECORATION: none
}
.art-postheadericons A:visited {
	font-family: Segoe UI, Helvetica, Sans-Serif; COLOR: rgb(117,117,117); FONT-SIZE: 12px; TEXT-DECORATION: none
}
.art-postheadericons A:hover {
	font-family: Segoe UI, Helvetica, Sans-Serif; COLOR: rgb(117,117,117); FONT-SIZE: 12px; TEXT-DECORATION: none
}
.art-postheadericons {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; PADDING-TOP: 1px
}
.art-metadata-icons.art-postheadericons {
	MARGIN-BOTTOM: 10px
}
.art-postheadericons A {
	
}
.art-postheadericons A:link {
	
}
.art-postheadericons A:visited {
	COLOR: rgb(135,135,135)
}
.art-postheadericons A.visited {
	COLOR: rgb(135,135,135)
}
.art-postheadericons A:hover {
	COLOR: rgb(117,39,39)
}
.art-postheadericons A.hover {
	COLOR: rgb(117,39,39)
}
SPAN.art-postcategoryicon {
	LINE-HEIGHT: 1em; DISPLAY: inline-block
}
SPAN.art-postcategoryicon:after {
	WIDTH: 1px; DISPLAY: inline-block; VISIBILITY: hidden; CONTENT: "."
}
.art-footer {
	POSITION: relative; MARGIN-TOP: 10px; WIDTH: 100%; MARGIN-BOTTOM: 0px
}
.art-footer-body {
	POSITION: relative; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: rgb(236,236,237); FONT-SIZE: 12px; FONT-WEIGHT: bold; PADDING-TOP: 5px
}
.art-footer-body:before {
	BACKGROUND-IMAGE: url(footer.png); Z-INDEX: -2; POSITION: absolute; BOTTOM: 0px; BACKGROUND-POSITION: left bottom; CONTENT: " "; RIGHT: 0px; TOP: 0px; LEFT: 0px
}
.art-footer-text P {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.art-footer-text {
	TEXT-ALIGN: center; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.art-page-footer {
	FONT-STYLE: normal; LETTER-SPACING: normal; font-family: Segoe UI; COLOR: rgb(184,184,184); FONT-SIZE: 10px; FONT-WEIGHT: normal; WORD-SPACING: normal; TEXT-DECORATION: none
}
.art-page-footer A {
	FONT-STYLE: normal; LETTER-SPACING: normal; font-family: Segoe UI; COLOR: rgb(184,184,184); FONT-SIZE: 10px; FONT-WEIGHT: normal; WORD-SPACING: normal; TEXT-DECORATION: none
}
.art-page-footer A:link {
	FONT-STYLE: normal; LETTER-SPACING: normal; font-family: Segoe UI; COLOR: rgb(184,184,184); FONT-SIZE: 10px; FONT-WEIGHT: normal; WORD-SPACING: normal; TEXT-DECORATION: none
}
.art-page-footer A:visited {
	FONT-STYLE: normal; LETTER-SPACING: normal; font-family: Segoe UI; COLOR: rgb(184,184,184); FONT-SIZE: 10px; FONT-WEIGHT: normal; WORD-SPACING: normal; TEXT-DECORATION: none
}
.art-page-footer A:hover {
	FONT-STYLE: normal; LETTER-SPACING: normal; font-family: Segoe UI; COLOR: rgb(184,184,184); FONT-SIZE: 10px; FONT-WEIGHT: normal; WORD-SPACING: normal; TEXT-DECORATION: none
}
.art-page-footer {
	Z-INDEX: 10; POSITION: relative; TEXT-ALIGN: center; PADDING-BOTTOM: 1em; PADDING-LEFT: 1em; PADDING-RIGHT: 1em; COLOR: rgb(236,236,237); TEXT-DECORATION: none; PADDING-TOP: 1em
}
FORM.art-search {
	BORDER-BOTTOM: medium none; POSITION: relative; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 98%; PADDING-RIGHT: 0px; DISPLAY: block; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
FORM.art-search DIV {
	MARGIN: 0px 18px 0px -2px
}
INPUT.art-search-text {
	MARGIN: 0px; WIDTH: 100%; PADDING-RIGHT: 16px; DISPLAY: block
}
INPUT.art-search-button {
	BORDER-BOTTOM: medium none; POSITION: absolute; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 45px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(search.png) no-repeat center center; HEIGHT: 100%; BORDER-TOP: medium none; CURSOR: pointer; RIGHT: 0px; BORDER-RIGHT: medium none; PADDING-TOP: 0px; TOP: 0px
}
.art-content-layout .art-sidebar1 {
	WIDTH: 300px
}
DIV.avatar {
	BORDER-BOTTOM: rgb(170,170,170) 1px solid; POSITION: relative; BORDER-LEFT: rgb(170,170,170) 1px solid; PADDING-BOTTOM: 1px; MARGIN: 7px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; BACKGROUND: rgb(255,255,255); FLOAT: left; BORDER-TOP: rgb(170,170,170) 1px solid; BORDER-RIGHT: rgb(170,170,170) 1px solid; PADDING-TOP: 1px
}
DIV.avatar IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
DIV.avatar IMG.wp-post-image {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
DIV.alignleft.avatar + .art-postcontent {
	PADDING-TOP: 2px
}
DIV.alignleft.avatar + P {
	PADDING-TOP: 2px
}
.alignleft {
	FLOAT: left
}
.alignleft IMG {
	MARGIN: 2px 1em 1em 0px
}
IMG.alignleft {
	MARGIN: 2px 1em 1em 0px
}
.art-content {
	Z-INDEX: 1; POSITION: relative
}
IMG.wp-post-image {
	MARGIN: 0px 5px 5px 0px
}
#cboxContent {
	FONT-FAMILY: verdana !important; FONT-SIZE: 8pt !important
}
#cboxTitle {
	WIDTH: 70% !important
}
A.more-link {
	MARGIN: 16px 0px 12px; DISPLAY: block
}
DIV.more-link A.more-link {
	MARGIN: 0px
}
#colorbox {
	Z-INDEX: 99999; POSITION: absolute; OVERFLOW: hidden; TOP: 0px; LEFT: 0px
}
#cboxOverlay {
	Z-INDEX: 99999; POSITION: absolute; OVERFLOW: hidden; TOP: 0px; LEFT: 0px
}
#cboxWrapper {
	Z-INDEX: 99999; POSITION: absolute; OVERFLOW: hidden; TOP: 0px; LEFT: 0px
}
#cboxOverlay {
	POSITION: fixed; WIDTH: 100%; HEIGHT: 100%
}
#cboxMiddleLeft {
	CLEAR: left
}
#cboxBottomLeft {
	CLEAR: left
}
#cboxContent {
	POSITION: relative
}
#cboxLoadedContent {
	OVERFLOW: auto
}
#cboxTitle {
	MARGIN: 0px
}
#cboxLoadingOverlay {
	POSITION: absolute; WIDTH: 100%; HEIGHT: 100%; TOP: 0px; LEFT: 0px
}
#cboxLoadingGraphic {
	POSITION: absolute; WIDTH: 100%; HEIGHT: 100%; TOP: 0px; LEFT: 0px
}
#cboxPrevious {
	CURSOR: pointer
}
#cboxNext {
	CURSOR: pointer
}
#cboxClose {
	CURSOR: pointer
}
#cboxSlideshow {
	CURSOR: pointer
}
#cboxOverlay {
	BACKGROUND: url(overlay.png) 0px 0px
}
#colorbox {
	FONT: 12px Tahoma, Arial, sans-serif
}
#cboxTopLeft {
	WIDTH: 21px; BACKGROUND: url(controls.png) no-repeat -101px 0px; HEIGHT: 21px
}
#cboxTopRight {
	WIDTH: 21px; BACKGROUND: url(controls.png) no-repeat -130px 0px; HEIGHT: 21px
}
#cboxBottomLeft {
	WIDTH: 21px; BACKGROUND: url(controls.png) no-repeat -101px -29px; HEIGHT: 21px
}
#cboxBottomRight {
	WIDTH: 21px; BACKGROUND: url(controls.png) no-repeat -130px -29px; HEIGHT: 21px
}
#cboxMiddleLeft {
	WIDTH: 21px; BACKGROUND: url(controls.png) repeat-y left top
}
#cboxMiddleRight {
	WIDTH: 21px; BACKGROUND: url(controls.png) repeat-y right top
}
#cboxTopCenter {
	BACKGROUND: url(border.png) repeat-x 0px 0px; HEIGHT: 21px
}
#cboxBottomCenter {
	BACKGROUND: url(border.png) repeat-x 0px -29px; HEIGHT: 21px
}
#cboxContent {
	BACKGROUND: rgb(255,255,255); OVERFLOW: hidden
}
#cboxLoadedContent {
	MARGIN-BOTTOM: 28px
}
#cboxTitle {
	POSITION: absolute; TEXT-ALIGN: center; WIDTH: 100%; BOTTOM: 4px; COLOR: rgb(148,148,148); LEFT: 0px
}
#cboxCurrent {
	POSITION: absolute; BOTTOM: 4px; COLOR: rgb(148,148,148); LEFT: 58px
}
#cboxSlideshow {
	POSITION: absolute; BOTTOM: 4px; COLOR: rgb(0,146,239); RIGHT: 30px
}
#cboxPrevious {
	POSITION: absolute; TEXT-INDENT: -9999px; WIDTH: 25px; BOTTOM: 0px; BACKGROUND: url(controls.png) no-repeat -75px 0px; HEIGHT: 25px; LEFT: 0px
}
#cboxPrevious:hover {
	BACKGROUND-POSITION: -75px -25px
}
#cboxNext {
	POSITION: absolute; TEXT-INDENT: -9999px; WIDTH: 25px; BOTTOM: 0px; BACKGROUND: url(controls.png) no-repeat -50px 0px; HEIGHT: 25px; LEFT: 27px
}
#cboxNext:hover {
	BACKGROUND-POSITION: -50px -25px
}
#cboxLoadingOverlay {
	BACKGROUND: url(loading_background.png) no-repeat center center
}
#cboxLoadingGraphic {
	BACKGROUND: url(loading.gif) no-repeat center center
}
#cboxClose {
	POSITION: absolute; TEXT-INDENT: -9999px; WIDTH: 25px; BOTTOM: 0px; BACKGROUND: url(controls.png) no-repeat -25px 0px; HEIGHT: 25px; RIGHT: 0px
}
#cboxClose:hover {
	BACKGROUND-POSITION: -25px -25px
}
.destacado.art-post A {
	TEXT-DECORATION: none
}
.normal.art-post A {
	TEXT-DECORATION: none
}
.destacado.art-post {
	MARGIN-TOP: 5px; WIDTH: 98%; DISPLAY: block; VERTICAL-ALIGN: top; BORDER-TOP: rgb(136,136,136) 1px solid
}
.destacado.art-post .home-texto {
	MARGIN-LEFT: 0px
}
.destacado.art-post .home-texto .art-postcontent P {
	LINE-HEIGHT: 16pt; MARGIN-TOP: 13px; FONT-SIZE: 12pt
}
.destacado.art-post H2.art-postheader A {
	LINE-HEIGHT: 30px; FONT-SIZE: 28px;font-size:14px!important;
}
.normal.art-post {
	MARGIN: 20px 0px; WIDTH: 300px; DISPLAY: inline-block; VERTICAL-ALIGN: top
}
.lin-ver.normal.art-post {
	BORDER-LEFT: rgb(136,136,136) 1px solid; WIDTH: 49%
}
.lin-hor {
	MARGIN: 7px; BORDER-TOP: rgb(136,136,136) 1px solid
}

.art-postcontent P {
	MARGIN-BOTTOM: 0px
}
.destacado.art-post .home-thumbnail DIV.avatar IMG.wp-post-image {
	WIDTH: 250px; HEIGHT: auto
}
.destacado.art-post .home-thumbnail DIV.avatar {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; MARGIN-TOP: 25px; MARGIN-LEFT: 0px; BORDER-TOP: medium none; MARGIN-RIGHT: 15px; BORDER-RIGHT: medium none
}
.art-postheadericons {
	LINE-HEIGHT: 10px; MARGIN-TOP: -2px; MARGIN-BOTTOM: 10px
}
.art-postheadericons A {
	LINE-HEIGHT: 10px; MARGIN-TOP: -2px; MARGIN-BOTTOM: 10px
}
.art-postheadericons A:link {
	LINE-HEIGHT: 10px; MARGIN-TOP: -2px; MARGIN-BOTTOM: 10px
}
.art-postheadericons A:visited {
	LINE-HEIGHT: 10px; MARGIN-TOP: -2px; MARGIN-BOTTOM: 10px
}
.art-postheadericons A:hover {
	LINE-HEIGHT: 10px; MARGIN-TOP: -2px; MARGIN-BOTTOM: 10px
}
DIV.more-link {
	BACKGROUND-IMAGE: url(boton.png); TEXT-ALIGN: center; MARGIN: 10px 0px; WIDTH: 45px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left top; FLOAT: right; HEIGHT: 16px; opacity: 0.5
}
.normal.art-post DIV.more-link {
	BACKGROUND-IMAGE: none; POSITION: absolute; RIGHT: 0px; TOP: 230px
}
.normal.art-post DIV.more-link A.more-link {
	COLOR: rgb(200,91,91)
}
DIV.more-link:hover {
	opacity: 1
}
DIV.more-link A.more-link {
	LINE-HEIGHT: 16px; FONT-FAMILY: verdana; COLOR: white; FONT-SIZE: 9px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.home-texto .art-postcontent IMG {
	MAX-WIDTH: 100px; MAX-HEIGHT: 100px
}
.wp-pagenavi {
	CLEAR: both
}
.wp-pagenavi A {
	BORDER-BOTTOM: rgb(191,191,191) 1px solid; BORDER-LEFT: rgb(191,191,191) 1px solid; PADDING-BOTTOM: 3px; MARGIN: 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: rgb(191,191,191) 1px solid; BORDER-RIGHT: rgb(191,191,191) 1px solid; TEXT-DECORATION: none; PADDING-TOP: 3px
}
.wp-pagenavi SPAN {
	BORDER-BOTTOM: rgb(191,191,191) 1px solid; BORDER-LEFT: rgb(191,191,191) 1px solid; PADDING-BOTTOM: 3px; MARGIN: 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: rgb(191,191,191) 1px solid; BORDER-RIGHT: rgb(191,191,191) 1px solid; TEXT-DECORATION: none; PADDING-TOP: 3px
}
.wp-pagenavi A:hover {
	BORDER-BOTTOM-COLOR: rgb(0,0,0); BORDER-TOP-COLOR: rgb(0,0,0); BORDER-RIGHT-COLOR: rgb(0,0,0); BORDER-LEFT-COLOR: rgb(0,0,0)
}
.wp-pagenavi SPAN.current {
	BORDER-BOTTOM-COLOR: rgb(0,0,0); BORDER-TOP-COLOR: rgb(0,0,0); BORDER-RIGHT-COLOR: rgb(0,0,0); BORDER-LEFT-COLOR: rgb(0,0,0)
}
.wp-pagenavi SPAN.current {
	FONT-WEIGHT: bold
}
.SummaryImgDiv
{

}
.SummaryImgDiv img
{
	
	width:270px;
	height:200px;
}
.art-postheadericons A {
	COLOR: #bbbbbb !important; TEXT-DECORATION: underline !important
}
.newsItem {
	LINE-HEIGHT: 19.6px !important; FONT-FAMILY: "Segoe UI", Helvetica, Sans-Serif !important; COLOR: rgb(103,103,103) !important; CLEAR: both !important; FONT-SIZE: 14px !important
}
BR.clear {
	HEIGHT: 0px !important; CLEAR: both !important
}
.newsItem {
	padding: 0px;
	LINE-HEIGHT: 19.6px !important; 	DISPLAY: inline-block !important;  	MARGIN-BOTTOM: 5px !important; 	COLOR: rgb(103,103,103) !important; 	FONT-SIZE: 14px !important;
}
.newsItem P {
	padding: 0px;
	TEXT-ALIGN: justify !important; 	MARGIN: 0px; 	COLOR: black !important;
}
.newsItem H2 {
	padding: 0px;
	MARGIN: 0px; 	FONT-FAMILY: SegoeWPSemiBold !important; 	COLOR: #cc0000 !important; 	FONT-SIZE: 14px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.newsItem H2 A {
	padding: 0px;
	MARGIN: 0px; 	FONT-FAMILY: SegoeWPSemiBold !important; 	COLOR: #cc0000 !important; 	FONT-SIZE: 14px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
.newsItem H2 A:hover {
	TEXT-DECORATION: underline
}
.newsItem UL.socialFeedback {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: right; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
.newsItem UL.socialFeedback LI {
	LINE-HEIGHT: 19.6px !important; PADDING-LEFT: 22px; font-family: Segoe UI, Helvetica, Sans-Serif !important; FLOAT: left; COLOR: rgb(103,103,103) !important; FONT-SIZE: 14px !important; MARGIN-RIGHT: 7px
}
.newsItem UL.socialFeedback LI:hover {
	
}
.socialFeedback .sociallikes {
	BACKGROUND-IMAGE: url(/style library/bpaNext/img/like.png); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left 30%
}
.socialFeedback .socialComments {
	BACKGROUND-IMAGE: url(/style library/bpaNext/img/comment.png); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left 30%
}
.newsItemContent
{
width:900px;
}
.newsItem .newsItemContent H2 {
	 MARGIN: 0px 0px 5px;margin-left:10px!important; PADDING-LEFT: 0px !important;  FONT-FAMILY: Segoe UI !important; COLOR: #cc0000 !important; FONT-SIZE: 22px !important;TEXT-DECORATION: none !important;  background-color:#C0C0C0;display:block;height:20px!important;

}
.newsItem .newsItemContent H2 A {
	padding: 0px;
	float:left; 	width:100%;	MARGIN: 0px 10px 5px; 	FONT-FAMILY: Segoe UI !important;	font-weight:600!important; 	COLOR: black!important; 	FONT-SIZE: 20px !important;  	TEXT-DECORATION: none !important;
}
.newsItem H2 A:hover {
	TEXT-DECORATION: underline !important
}
.squareNew UL.socialFeedback LI {
	PADDING-LEFT: 20px
}
.newsItem .newsItemContent UL.socialFeedback {
	PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #f2f2f2; MARGIN: 10px 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; FLOAT: none; PADDING-TOP: 10px
}
.squareNew UL.socialFeedback {
	PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #f2f2f2; MARGIN: 10px 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; FLOAT: none; PADDING-TOP: 10px
}
.newsItem .newsItemContent UL.socialFeedback LI {
	FLOAT: none
}
.divImageSuput {

	width:350px;
	height:220px;
}
.featured.newsItem .newsItempreview {
	font-weight:600;text-align:justify!important;font-size:14px!important;float:left;width:540px;padding-left:10px;height:220px;
}
.newsItem.featured {
	 PADDING-BOTTOM: 20px !important; LINE-HEIGHT: 19.6px !important; font-family: Segoe UI, Helvetica, Sans-Serif !important; MARGIN-BOTTOM: 10px !important; COLOR: rgb(103,103,103) !important; FONT-SIZE: 14px !important
}
.downwards.newsItem {
	BACKGROUND-IMAGE: url(/style library/bpaNext/img/downwards.png); PADDING-LEFT: 18px !important; WIDTH: 95% !important; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left top
}
.upwards.newsItem {
	BACKGROUND-IMAGE: url(/style library/bpaNext/img/upwards.png); PADDING-LEFT: 18px !important; WIDTH: 95% !important; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left top
}
.equal.newsItem {
	BACKGROUND-IMAGE: url(/style library/bpaNext/img/equal.png); PADDING-LEFT: 18px !important; WIDTH: 95% !important; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left top
}
.newsWebpart {
	DISPLAY: inline-table !important
}
.latestComments.newsWebpart H2:first-child {
	BACKGROUND-IMAGE: url(/style library/bpaNext/img/recentClock.png); PADDING-BOTTOM: 7px !important; TEXT-TRANSFORM: uppercase !important; BACKGROUND-COLOR: #ececec; MARGIN: 0px; PADDING-LEFT: 35px !important; PADDING-RIGHT: 10px !important; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 10px center; COLOR: #1f83a2 !important; PADDING-TOP: 7px !important
}
.latestComments.newsWebpart {
	BACKGROUND-COLOR: #f4f4f4; MARGIN-LEFT: 10px !important
}
.paddingContainer {
	padding: 15px;
}
DIV.userNewsItem.newsItem {
	LINE-HEIGHT: 19.6px !important; font-family: Segoe UI, Helvetica, Sans-Serif !important; MARGIN-BOTTOM: 10px !important; COLOR: rgb(103,103,103) !important; FONT-SIZE: 14px !important
}
.userThumb {
	WIDTH: 30px; FLOAT: left !important; HEIGHT: 30px; MARGIN-RIGHT: 8px
}
SPAN.userName A {
	COLOR: #adadad !important; FONT-WEIGHT: bold; MARGIN-RIGHT: 5px
}
SPAN.userName A:visited {
	COLOR: #adadad !important; FONT-WEIGHT: bold; MARGIN-RIGHT: 5px
}
P.userComment {
	COLOR: #444444 !important
}
DIV.floatedInfo H2 A {
	padding: 0px;
	LINE-HEIGHT: normal !important; 	MARGIN: 0px; 	FONT-FAMILY: SegoeWPSemiBold !important; 	COLOR: rgb(60,127,151) !important; 	FONT-SIZE: 14px !important; 	FONT-WEIGHT: lighter !important; 	TEXT-DECORATION: none !important;
}
DIV.floatedInfo P {
	LINE-HEIGHT: normal !important; font-family: Segoe UI, Helvetica, Sans-Serif !important; COLOR: rgb(129,129,129) !important; FONT-SIZE: 14px !important
}
.pagination_article {
	TEXT-ALIGN: center !important; MARGIN: auto; BORDER-TOP: #eeeeee 1px solid; PADDING-TOP: 15px
}
.pagination_article A {
	PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #eeeeee; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; font-family: Segoe UI, Helvetica, sans-serif; COLOR: #3c7f97 !important; FONT-SIZE: 12px; MARGIN-RIGHT: 3px; PADDING-TOP: 5px
}
.pagination_article A:hover {
	BACKGROUND-COLOR: #cccccc; TEXT-DECORATION: none !important
}
.readMoreContainer {
	TEXT-ALIGN: right; WIDTH: 100%
}
.readMoreContainer A:visited {
	COLOR: #0072bc
}
.newsItemContent h2
{
padding-top:10px!important;
padding-bottom:15px!important;
float:left;
}
.newsItempreview p
{
	
	float:left;
	margin-left:10px;
	font-size:11px!important;
	height:150px;
}
.TittleNews
{
color:black;
font-size:20px;
font-weight:bold;
margin-left:25px;
padding-bottom:10px;
float:left;
width:100%;
	}

.moreinfo
{
	float:right;
	font-family:inherit;
	text-decoration:underline;
	font-weight:600;
	color:#575757!important;
	font-size:14px;
	cursor:pointer;
	height:20px;
	position::relative;
	bottom:0px;

	/*2px 2px 10px rgb(192,192,192)
	titol d'abaix es 14px;
	alt 20px
	actualidad margin
	linies discontinues galeria abaix = que la foto
		font del text noticia --> 11px*/
}
.moreinfo span
{
    margin-left:5px;
    }
.size_m span
{
	color:#333!important;

}
a,a:visited
{
	color:#808080!important;
}
a:hover
{
	text-decoration:underline!important;
}
.newspos4
  {
      border-right:0px!important;
      }