﻿.title{	color: #225c8a;font-family: "Segoe UI";font-size: 20px;margin-bottom: 15px;}
.FacturasCol{text-align:right;}
#TerminisPagement{float:left;width:100%;}
#TerminisPagementLbl{float:left;width:180px;}
#Terminiosdepagovalue{float:right;}
#container
{
    margin-left:13px;
    margin-right:13px;
    width:100%;
}
.ErrorContainerOrder{width:80%;margin:0 auto;text-align:center;margin-top:240px; }
#CloseOrderError{display:block;margin:0 auto;margin-top:10px;}
.BorrarCarrito{float:right;position:relative;top:-31px;}
/*pedido info error*/
#Header_Advanced{margin-top: 2rem;float:left;width:100%;color:black;font-size: 13px;margin-bottom: 5px;}
.PorductEditDescription.LineReferenceForm{margin-left:5px;padding:4px 7px 3px 2px;}
.CodiArticleFormu,.LineReferenceForm,.NumericIncrementQtyEdit,.addItemField{float:left;}
      
.CodiArticleFormu
{
                
    width:60px;
    border:none;
}
.codeComboNew
{
    border:none;
    padding-right:0px;
}
.numQtyItemEdit
    {padding:4px 7px 3px 2px;
    margin-left:25px;
}
..addItemField
{
                 
margin-left:10px;
}
.Grid
{
color:Black!important;
}
.ComboEdit,.CodiArticleFormu,.LineReferenceForm,.UnitPerBoxEdit
{
font-size:1em;
}
.caption_sourceTable
{
font-size:12px;}
.lblfinal_field4
{
text-align:right;
}
.TotalValue
{
    margin-right:5px;
    
    }
 
.lblfinal_field2,.ColumnPrice
{
    text-align:right;
    }
    .TotalDiscountValue
    {
        margin-right:5px;
        }
div.RadToolTip_Default table.rtWrapper td.rtWrapperContent
    {
        background-color: white !important;
        border:1px solid black;
    }
   

#titol2
{
    float:left;
    }
.Guardar_sin_enviar
{
    float:right;
    }
.lbl_info_final
{
    text-transform:uppercase;
    font-weight:bold;
    font-size:14px;
    
    }

#ContainerTop
{
	width: 100%;
	float:left;
}
#ContainerLeft
{
	float:left;
	width: 55%;
	/*padding-right:20px;*/
	text-align:left!important;
	min-height:175px;
}
#ContainerRight
{
	float:right;
	width: 40%;
	min-height:175px;
}

#ContainerBottom
{
	width: 96%;
	margin-top: 10px;
	float:left;
}
#cliente
{
	margin-top: 10px;
	width: 100%;
}

  
#tipoentrega
{
	width: 90%;
	margin-top: 5px;
}
#clientelbl, #referenciaLbl, #formadepagoLbl, #entregalbl, #tipoentregaLbl, #observacionesLbl, #tipopedidolbl
{
	float:left;
	color: black;

}



.rcbInput
{

	font-family: Segoe UI;
}

.observacionesValue
{
	width: 100% !important;
	height: 80px;
	margin-top: 5px;
}
.observacionesValue span
{
    width:100%!important;
    }

.PedidoAdvancedHeaderClass
{
    /* Redisseny Xavi Navarro */
	/*background-color:#225c8a !important;
	color: white !important;*/
	background-image: none;
}

/* Redisseny Xavi Navarro
.RadGrid_Default .rgHeader
{
	background-color:#225c8a !important;
	background-image: none;
}
*/

.rgEditRow
{
	color: #225c8a !important;
}
.addItemText
{
	margin-top: 5px;
	margin-bottom: 5px;
	color: #225c8a;
	font-size: 12px;
}
.addItemLabel{
	float:left;
	margin-right: 5px;
	margin-bottom: 5px;
	width: 100px;
}
.EditProdField
{
    float:left;
    width:100%;
    }
.raditemButton
{
    color:Black;
    }
.addItemField
{
    color:Black;
	font-size: 12px;
    padding:4px 7px 3px 2px;
	margin-bottom: 5px;
	
}
.savebut
{
    background-image: url('/Style Library/Julia/img/Floopy.png'); 
    }
.cancelEditAdd
{
 background-image: url('/Style Library/Julia/img/cancelbuttonradgrid.gif');
}
.addItemButton  
{
	font-size:14px;
	float:right;
	height:20px;
	padding-left: 10px;
	padding-right: 7px;
	color: #225c8a;
	vertical-align:middle;
	padding-top:6px!important;
}
.raditemButton
{

    margin-left: 15px;
}
.AdvancedInput
{
		font-size: 12px;

}

/* Rediseny Xavi navarro */
.v4master {

}


#ContainerTop{

color:#000000!important; 
font-weight:400;

}
#ContainerTop div{
margin-bottom:3px;
}

#titol{
font-weight:400;
color:#000000!important; 
margin-bottom:10px;
}



#numeroPedido{
float:left;
width:100%;
}
#numeroPedidolbl{
float:left;
width:180px;
text-align:left}
#clientevalue{
width: 340px;
	text-align:right;
	
	float:right;
}
#fechaRequerida{
    float:left;
    width:100%;
    }
	#fechaRequeridalbl{
	
	color:#000000!important; 
	float:left;
	width:auto;
	}
	#fechaRequeridavalue{
	float:right;

	}

#referencia{
float:left;
width:100%;
}
	#referenciaLbl{
	
	color:#000000!important; 
	float:left;
	width:180px;
	}
	#referenciavalue{
	float:right;
	/*width:220px;*/
	}
	#referenciavalue input{
	width:215px;
	}
	#formadepago{
	float:left;
	width:100%;
	}
	
	#formadepagovalue{
	float:right;
	/*width:220px;*/

	}
	
#direccionentrega{

float:left;
width:100%;
}
/*REZ30062014 - Tipo Pedido Campaña */
.tipopedido{
    float:left;
    width:102%;
}
#tipopedidolbl{
    float:left;
    color:#000000!important; 
    width:180px;
}
#tipopedidovalue{
    float:right;
    width:auto;
}	

/*REZ30062014 - Tipo Pedido Campaña */
	
		#formadepagoLbl{
		color:#000000!important; 
		width:180px;
		float:left;}
	


		#entregavalue{
		float:right;
			width:auto;
			}
			
		#entregavalue2{
		    float:right;
			width:auto;
		}
			
		#entregalbl{
		float:left;
		color:#000000!important; 
		width:180px;
		}
		
.EntregaCombo
{
    float: right;
    width: auto;
}

#fechaPedido{float:left;
width:100%;}
#fechaPedidolbl{

color:#000000!important; 
float:left;
width:200px;}


#fechaPedido input{

width:215px;}
#fechavalue{
float:right;
}

#tipoentrega{
float:left;
width:100%;
margin-top:0px!important;
margin-bottom:10px;
}
	#tipoentregaLbl{
	
	color:black!important; 
	float:left;
	width:180px;
	text-transform:uppercase;
	}
	#tipoentregavalue
	{
	    float:right;
	    }
#observaciones{
float:left;
width:100%;
}
#observacionesLbl{

color:#000000!important; 
width:100%!important;
margin-bottom:10px;
text-transform:uppercase;
}

#observaciones span{
width:100%!important;}


#ContainerBottom
{
float:left;
width:100%

}

#PanelBtnsFooter{
float:left;
margin-top:20px;
width:100%;}

.BtnSeguirComprando{float:left;margin-left:11px;}
.EnviarPedido{float:right;}


tableOrderList
{
    width:100%;
    }

.caption_sourceTable
{
    width:70%;
    
    }
    .csscheckbtn
    {
        float:left;
        
    }
    .btntds
    {
        left:0px!important;
        }
    .btn_actual_factura
    {
        left:0px!important;
        }
    .supBtns
    {
        float:left;
        }
       .btn_pedidos_servidos
       {
           left:0px!important;
           
      
           }
           
           
.labelTittleandCode
{
    float:left;
}
.PrintIcon
{
    width: 25px;float:right;
}
        