﻿/* -------------------------------------- */
/* - Webpart Pedido Desplegable Pequeño - */
/* -------------------------------------- */


.ms-WPBody td
{
	background-color: transparent !important;
	border-bottom: none;	
}

.containerNewOrderMin
{
    color: white;
    width: 581px;
    height: 275px;
 /*   background-image: url('/Style%20Library/Julia/img/bckground_pedido.png');*/
    background-repeat: no-repeat;
    border: 0px solid gray;
    float: left;
}

.groupOrder
{
    border: 0px solid gray;
    margin:100px 0 0 17.43px;
    font-size: 14px;
    font-family: Segoe UI;
    float: left;
    width: 50%;
    height: 50%;
}

.orderLine
{
    height: auto;
    width: 100%;
    font-size: 14px;
    font-family: Segoe UI;
}

.columnOrderLine
{
    width: 50% !important;
    height: auto;
    background: transparent !important;
}

.txtOrderLine
{
    font-size: 12px;
    font-family: Segoe UI;
    float: left;
}

.inputOrderLine
{
	width:170px;
    border: 1px solid #c9e8f5;
    font-size: 12px;
    font-family: Segoe UI;
    /*width: 90%;*/
}
.grouporder span{
background-color:red;}
.radioOrderLine
{
    font-size: 14px;
    font-family: Segoe UI;
    background-color: transparent !important;
    border-bottom: none;
}
.rgRow, .rgAltRow
{
    font-size:10px;
    }
.linkNewOrder
{
    width: auto;
    height: auto;
    float: right;
    clear: left;
    margin-right: 5%;
    cursor: pointer;
}

.txtlinkNewOrder
{
    font-family: Segoe UI;
    color: white;
    font-weight: bold;
    font-size: 13px;
    float: left;
}
#btn_pedidos{
width:100%;
float:left;
height:auto;
}

	
	#realizar_pedido{
	
    height: 30px;
    
	float:left;
	margin-left:180px;
	}
	
		#pedido_express{
	
    height: 30px;
   
	float:right;
	margin-right:20px;
	}

.imgOrderButton
{
    background-image:  url('/Style%20Library/Julia/img/boton_realizarPedido.png');
    background-repeat: no-repeat;
    height: 25px;
    width: 161px;
}
.textOrderButton {
    position: relative;
    height: auto;
    width: auto;
    left: 10px;
    top: -21px;
	color: white;
	text-decoration: none;
	font-size: 13px;
}

.imgExpressOrderButton
{
    background-image:  url('/Style%20Library/Julia/img/boton_realizarPedido.png');
    background-repeat: no-repeat;
    height: 25px;
    width: 161px;
}

.buttonExpand
{
    width: 30%;
    height: 12%;
    margin-right: -29%;
    margin-top: -1%;
    float: right;
    z-index: 1;
    cursor: pointer;
}

/* --------------------------------- */
/* - Webpart Pagina de incidencias - */
/* --------------------------------- */
.imgIncidencia
{
    float: left;
    margin-left: -200px;
    border: 0px solid gray;
}

/* ---------------------------- */
/* - Webpart Pedidos en Curso - */
/* ---------------------------- */
/*.containerCurrentOrders
{
    border: 0px solid gray;
    background-image: url('/Style%20Library/Julia/img/fondoEstadoPedidos.png');
    background-repeat: no-repeat;
    width: 319px;
    height: 278px;
    margin-left: 30px;
    float: left;
}

.headerCurrentOrders
{
    float: left;
    height: auto;
    margin-top: 3%;
    margin-left: 10px;
}

.txtCurrentOrdersTitle
{
    color: #215c88;
    font-family: Myriad Pro;
    font-size: 22px;
    float: left;
}

.txtCurrentOrdersSubtitle
{
    clear: left;
    float: left;
    color: #aaaaaa;
    font-family: Myriad Pro;
    font-size: 16px;
}

.linesCurrentOrders
{
    float: left;
    border: 0px solid gray;
    width: 96%;
    height: 67%;
    margin-left: 2%;
    margin-right: 2%;
}

.itemCurrentOrder
{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #efefef;
}

.imgPedido
{
    width: 25%;
    height: 100%;
    float: left;
}

.txtCurrentOrder_NameStatus
{
    font-family: Segoe UI;
    float: left;
    font-size: 14px;
    margin-top: 10px;
    width: 70%;
    margin-left: 2%;
}

.txtCurrentOrderName
{
    color: #202020;
    float: left;
}

.txtCurrentOrderStatusPending
{
    color: #880201;
    float: right;
}

.txtCurrentOrderStatusSent
{
    color: #03a932;
    float: right;
}

.txtCurrentOrder_DescriptionDate
{
    font-family: Segoe UI;
    float: left;
    font-size: 14px;
    width: 70%;
    margin-left: 2%;
}

.txtCurrentOrderDescription
{
    color: #949494;
    float: left;
}

.txtCurrentOrderDate
{
    float: right;
    color: #949494;
}

.linkViewDetails
{
    width: auto;
    height: auto;
    float: right;
    margin-right: 5%;
    cursor: pointer;
}

.txtViewDetails
{
    font-family: Segoe UI;
    color: #215c88;
    font-size: 13px;
    float: left;
}

.imgViewDetails
{
    background-image: url('/Style%20Library/Julia/img/arrow_blue.png');
    background-repeat: no-repeat;
    width: 28px;
    height: 20px;
    margin-left: 15px;
    float: left;
}
*/
/* ------------------------------------ */
/* Webpart Pedido Desplegable Expandido */
/* ------------------------------------ */
.containerNewOrderMax
{
    float: left;
    clear: left;
    color: white;
    width: 354px;
    border: 0px solid gray;
    height: 658px;
    background-image: url('/Style%20Library/Julia/img/es-es/carrito.png');
    background-repeat: no-repeat;
}

.hide_Carrito
{
       
        float:right;
       margin-top:10px;
       margin-right:10px;
       cursor:pointer;
    
    }
.groupOrderExp
{
    display:none;
    border: 0px solid gray;
    /* margin-top: 120px; */
    margin-top: 100px;
    margin-left: 3%;
    font-size: 14px;
    font-family: Segoe UI;
    /* float: left; */ /* Lo quitamos porque añade offset en IE */
    height: auto;
}

/* SELECTED PRODUCTS DIV */
.groupSelectedProducts
{
    margin-left: 3%;
    margin-right: 3%;
    margin-top:60px;
    float: left;
    border: 0px solid gray;
    width:320px;
}

.groupSelectedProductsTitle
{
    font-size: 18px;
    font-family: Segoe UI;
    margin-left: 2%;
    margin-right: 2%;
}

.txtSelectedProductsTitle
{
    float: left;
}
.DescriptionFIeld
{
    text-align:left;
    }
.imgSelectedProductsTitle
{
   
   
    float: right;

}

.classBlueBoxPedidos
{
    margin-top: 1%;
    float: left;
    width:100%;
}

.groupOrderLines
{
    border: 0px solid gray;
    margin-left: 2%;
    width: 310px;
    height: 85%;
    text-align: center;
    float: left;
    margin-bottom: 5%;
}

.itemOrderLine
{
    height: auto;
    width: 100%;
    font-size: 14px;
    font-family: Segoe UI;
}

.itemOrderLineName
{
    width: 46% !important;
    height: auto;
}

.itemOrderLineOthers
{
    width: 18% !important;
    height: auto;
}

.txtOrderLineProduct
{
    font-size: 14px;
    font-family: Segoe UI;
}

.txtOrderLinePrice
{
    color: #b3cbdd;
    font-size: 14px;
    font-family: Segoe UI;
    float: right;
}

.txtOrderLineUnits
{
    background-color: #215e8b;
    color: White;
    border: 1px solid #b3cbdd;
    font-size: 14px;
    font-family: Segoe UI;
    text-align: right;
    float: right;
    width: 80%;
}

.txtOrderLineTotal
{
    font-weight: bold;
    font-size: 14px;
    font-family: Segoe UI;
    float: right;
}

.itemOrderLineGlobalPrice
{
    height: auto;
    width: auto;
    font-size: 18px;
    font-family: Segoe UI;
    margin-top: 2%;
}

.txtOrderLineGlobalPrice
{
    float: right;
    margin-right: 1%;
}

.imagenesOrdenPedido_footer
{
    height: auto;
    float: right;
}

/* imágenes pedido rotadas*/
/*    #imgProductOrder1
            {
                width:48px;
                height:48px;
                float:left;    */

/*transform: rotate(40deg) scale(2.0);
                filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand',
                    M11=1.5320888862379554, M12=-1.2855752193730787,
                    M21=1.2855752193730796, M22=1.5320888862379558);*/
/*
                -webkit-transform: rotate(-10deg) scale(1, 1);
                -moz-transform: rotate(-10deg) scale(1, 1);
                -ms-transform: rotate(-10deg) scale(1, 1);
                transform: rotate(-10deg) scale(1, 1);	
	            filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.83); *//* IE6,IE7 */
/* -ms-filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.83);*//* IE8 */
/*
                background-image:url('/Style%20Library/Julia/img/shopping_cart.png');
                background-repeat:no-repeat;
                background-color:#478ec3;
                border:1px solid white;
                border-style:double;
    
                border-top-left-radius:     5px 5px;  
                border-top-right-radius:    5px 5px;  
                border-bottom-right-radius: 5px 5px;  
                border-bottom-left-radius:  5px 5px; 
            }

            #imgProductOrder2
            {
                width:48px;
                height:48px;
                float:left;    
                margin-left:-10px;
    */
/*transform: rotate(40deg) scale(2.0);
                filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand',
                    M11=1.5320888862379554, M12=-1.2855752193730787,
                    M21=1.2855752193730796, M22=1.5320888862379558);*/
/*
                -webkit-transform: rotate(15deg) scale(1, 1);
                -moz-transform: rotate(15deg) scale(1, 1);
                -ms-transform: rotate(15deg) scale(1, 1);
                transform: rotate(15deg) scale(1, 1);
    
                background-image:url('/Style%20Library/Julia/img/shopping_cart.png');
                background-repeat:no-repeat;
                background-color:#66ace0;
                border:1px solid white;
                border-style:double;
    
                border-top-left-radius:     5px 5px;  
                border-top-right-radius:    5px 5px;  
                border-bottom-right-radius: 5px 5px;  
                border-bottom-left-radius:  5px 5px; 
            }

            #imgProductOrder3
            {
                width:48px;
                height:48px;
                float:left;    
                margin-left:-10px;*/

/*transform: rotate(40deg) scale(2.0);
                filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand',
                    M11=1.5320888862379554, M12=-1.2855752193730787,
                    M21=1.2855752193730796, M22=1.5320888862379558);*/
/*
                -webkit-transform: rotate(-15deg) scale(1, 1);
                -moz-transform: rotate(-15deg) scale(1, 1);
                -ms-transform: rotate(-15deg) scale(1, 1);
                transform: rotate(-15deg) scale(1, 1);
    
                background-image:url('/Style%20Library/Julia/img/shopping_cart.png');
                background-repeat:no-repeat;
                background-color:#5682a3;
                border:1px solid white;
                border-style:double;
    
                border-top-left-radius:     5px 5px;  
                border-top-right-radius:    5px 5px;  
                border-bottom-right-radius: 5px 5px;  
                border-bottom-left-radius:  5px 5px; 
            }*/

/*#imgProduct1Order.outer {BORDER: 5px solid;BORDER-COLOR:#000000}
            #imgProduct1Order.inner {BORDER: 5px solid;BORDER-COLOR:#D1D1E1}*/

.imgPlaceNewOrder
{
    width: 161px;
    height: 25px;
    float: right;
    margin-right: 3%;
}



/* PRODUCTS CATALOG */
.groupProductsCatalog
{
    width: 60%;
    margin-top: -535px;
    margin-right: 3%;
    float: right;
}

.groupProductsCatalogTitle
{
    float: left;
    border: 0px solid white;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.txtTitleCatalog
{
    /*font-family: Myriad Pro;*/
    font-family: "Segoe UI";
    font-size: 26px;
    float: left;
    width: 100%;
}

.txtSubtitleCatalog
{
    color: #c9e8f5; /* azul cyan */
    /*font-family: Myriad Pro;*/
    font-family: "Segoe UI";
    font-size: 18px;
    float: left;
    width: 100%;
}

.groupProductsCatalogSearch
{
    font-family: Segoe UI;    
    width: 40%;
    height: auto;
    float: right;
}

.inputProductsCatalogSearch
{
    margin-left: 5%;
    border: 1px solid #c9e8f5;
    width: 150px;
    height: 100%;
    float: left;
}

.imgProductsCatalogSearch
{
    margin-left: 1%;
    width: 23px;
    height: 23px;
    float: left;
}

.groupProductsCatalogContainer
{
    border: 0px solid gray;
    width: 95%;
    height: auto;
    overflow: auto;
    margin-left: 5%;
    margin-top: 1%;
    float: left;
}

.itemProduct
{
    width: 20%;
    height: 180px;
    font-family: Segoe UI;
    font-size: 13px;
    margin-bottom: 20px;
    margin-right: 5%;
    float: left;
    position: relative;
}

.imgProduct
{
    width: 100px;
    height: 70px;
    background-repeat: no-repeat;
    background-color: White;
}

.txtProductRef
{
    float: left;
}

.txtProductName
{
    color: #9cd1f4;
    float: left;
}

.txtProductPrice
{
    font-weight: bold;
    float: left;
    width: 100%;
}

.imgProductAdd
{
    background-image: url('/Style%20Library/Julia/img/boton_anadirProd.png');
    background-repeat: no-repeat;
    width: 86px;
    height: 21px;
    margin-top: 5px;
    clear: left;
    cursor: pointer;
}

.linkCloseOrder
{
    width: 10%;
    height: auto;
    float: right;
    cursor: pointer;
    margin-top: -2%;
    margin-right: 1%;
}

.imgCloseOrder
{
    width: 28px;
    height: 20px;
    float: left;
}

.txtCloseOrder
{
    font-family: Segoe UI;
    color: white;
    font-weight: bold;
    font-size: 13px;
    float: left;
    margin-left: 10%;
}

.imgIncidenciaExp
{
    border: 0px solid red;
    float: right;
    margin-top: -63%;
}

/* jQuery */
/*
.layer1 {
    margin: 0;
    padding: 0;
    width: 500px;
}
 
.heading {
    margin: 1px;
    color: #fff;
    padding: 3px 10px;
    cursor: pointer;
    position: relative;
    background-color:#c30;
}
.content {
    padding: 5px 10px;
    background-color:#fafafa;
}

p  
{
     padding: 5px 0; 
}*/
