﻿
.CaptionTitle
{
    display: block;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
    font-size: 16px;
    padding-left: 15px;
}
.BackBtn
{
    float: left;
    position: relative;
    right: 4px;
    cursor: pointer;
    border-left: none;
    top: -10px;
}
.TittleInside
{
    float: left;
}
.DownloadImage
{
    float: right;
}
.ProductInfoPanel
{
    color: #383838;
    font-weight: 600;
}
.BasicInfoLeft
{
    float: left;
    width: 100%;
    padding-left: 15px;
    margin-bottom: 25px;
    border-bottom: 1px solid #ccc;
}
.BasicInfoRight
{
    float: left;
    width: 100%;
    padding-left: 15px;
    margin-bottom: 25px;
}
.BasicInformation
{
    float: Right;
    padding-left: 25px;
    width: 420px;
    margin-right: 35px;
}
.catalogPhoto
{
    display: block;
}
.DetailedInformation
{
    margin: 0 auto;
    display: table;
    width: 90%;
}
/*Codi de css bonic que acabaran demanant*/
.LblProductCompatible
{
    display: table-cell;
    vertical-align: middle;
    width: 250px;
    padding-left: 20px;
}
.AssociatedProveidorTable
{
    display: table-cell;
    vertical-align: middle;
}
.AssociatedProveidorTable a, .LinkProveidor
{
    color: #555 !important;
    text-decoration: none;
}
.AssociatedProveidorTable td, .LinkProveidor span
{
    padding: 2px 20px;
    background-color: #E8E8E8;
    font-weight: bold;
    cursor: pointer;
}
.AssociatedProveidorTable td:hover, .LinkProveidor span:hover
{
    background-color: #C9C9C9;
}
.ProdctStock
{
    float: left;
    width: 100%;
}
.LblCantidad
{
    color: rgb(85, 85, 85) !important;
}
/*Codi lleig que volen ara i que es treura
.LblProductCompatible{display:table-cell;vertical-align:middle; background-color:#7F7F7F; width:250px;padding-left:20px; color:White;text-transform:uppercase;}
.AssociatedProveidorTable{display:table-cell;vertical-align:middle;}

.AssociatedProveidorTable a,.LinkProveidor{color:#555!important;text-decoration:none;}
.AssociatedProveidorTable td,.LinkProveidor span{padding:2px 20px;-webkit-border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAQAAABTNcdGAAAAEUlEQVQIHWP4r8bA8F%2BKwQEADZUCf37PGokAAAAASUVORK5CYII%3D) 0 2 0 1 fill / 1 / 0px stretch;

*/
.LblProductCompatible, .Combomeasures
{
    float: left;
}
.PanelNewImg
{
    float: left;
    margin-left: 15px;
}
.PanelNewImg
{
    float: left;
    margin-left: 15px;
    padding-top: 3px;
    background-repeat: no-repeat;
}
.PanelImgDiscount
{
    float: left;
    margin-left: 10px; /*width:65px;*/
    height: 38px;
    position: relative;
    top: -10px;
    background-repeat: no-repeat;
    display: table; /* REZ30122014 - Modificacions per a poder tenir 2 decimals*/
    width: 60px;
}
.Label_Discount
{
    vertical-align: middle;
    height: 100%;
    display: table-cell;
    color: White;
    font-weight: bold;
    text-align: center; /* REZ30122014 - Modificacions per a poder tenir 2 decimals*/
    font-size: 10px;
    top:0;
}
.PanelNewImg
{
    margin-left: 10px;
}
.LblAgrupCaption
{
    float: left !important;
}
.LblProveedoresCompatibles
{
    border: 2px solid #e8e8e8;
}
.Catalog
{
    padding-bottom: 2px;
}
.Description
{
    padding-bottom: 20px;
    max-width: 850px;
}
.Product_code, .Product_Measures, .ProductPrice, .orderButton, .UnidadVenta, .quantity, .reference
{
    padding-bottom: 2px;
}
.Product_code
{
    font-weight: bold;
}
.Product_code span
{
    font-size: 16px !important;
}
.ProductPrice
{
    width: 185px;
    font-weight: bold;
    color: rgb(154,46,47);
    float: left;
    padding-bottom: 5px;
}
.ProductPrice span
{
    font-size: 18px !important;
}
.PanelCompatibleCon
{
    margin: 0 auto;
    width: 900px;
    display: table;
}
.Product_Measures td
{
    font-weight: normal;
    text-align: center;
}
.Catalog, .Description, .ColorMeasuresAndOthers.color, .materials, .mantain, .build, .cubic, .weight
{
    display: block;
}
.ColorMeasuresAndOthers
{
    float: left;
    width: 100%;
    padding-top: 5px;
}
.NumberAndMeasures
{
    padding-left: 20px;
    float: right;
}
.ColorsAndMore
{
    float: left;
}
.CaptionLbl
{
    font-weight: 600;
}
.color, .materials, .Mantain, .build, .cubic, .weight, .NumberofBultos
{
    padding-bottom: 0px;
}
.DocumentationPanel
{
    display: table;
}
.DocumentationPanelDocumentacionTenica
{
    float: left;
    margin: 0 2%;
}
.CertificadosPanel
{
    float:left;
    margin: 0 2%;
}
.documentItem
{
    display: block;
    float: none;
}

hr
{
    height: auto;
}
.StockBox
{
    width: 55px;
    padding-top: 2px;
    text-align: right;
}
.StockBox img
{
    float: right;
    margin-left: 4px;
}
.ColorItem
{
    float: left;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-right: 2px;
    border: 2px solid #E3E3E3;
}
.LblColorAgrupCaption
{
    float: left;
}
.LynkColor img
{
    margin-bottom: 4px;
}
.PanelColorsAgrup
{
    width: 700px;
    height: auto;
    display: table;
    margin-top: 10px;
    float: left;
}
.ProductPanelColorAgrup
{
    float: left;
    width: 400px;
}
.Panel_Measures
{
    margin-top: 10px;
}
.ValuestableMeasuresTr td:First-child
{
    text-align: Left;
}
.ValuestableMeasuresTr td:Last-child
{
    text-align: Right;
}
.ValuestableMeasuresTr td
{
    padding: 0px 5px;
}
.ServiceImgBox
{
    width: 55px;
    margin-right: 5px;
    display: table;
    padding-top: 2px;
}
.ServiceImgBox img
{
    float: right;
}
.ImgDownload
{
    float: right;
}
.image_carousel
{
    width: 100%;
    position: relative;
    float: left !important;
    margin-left: 2px;
}
.image_carousel img
{
    border: 1px solid #ccc;
    background-color: white;
    display: block;
    float: left;
    margin-left: 5px;
    margin-bottom: 5px;
    height:82px;
    width:82px;
}
.Panel_Disponibilidad
{
    padding-bottom: 10px;
    padding-top: 10px;
    width: 850px;
}
.3
{
    margin-bottom: 15px;
    display: block;
    margin: 0 auto;
}
#product_images /*thumbs*/
{
    padding-left: 15px;
    width: 84px;
    height: 100%;
    float:left;
}
.ZoomImageContainer
{
    padding-bottom: 15px;
}
.rgRow:hover, rgAltRow:hover
{
    cursor: pointer !important;
}
.LblStock
{
    display: table-cell;
    width: 100%;
}
.LblStockBasicDec
{
    display: table-cell;
    padding-right: 4px;
}
.ImgNivelServicio
{
    float: left;
    margin-left: 5px;
}
.imgstock
{
    display: table-cell;
}
.lblstock, .panelStock
{
    float: left;
}
.lblstock
{
    display: table-cell;
}
.StockBox, .panelStock
{
    display: table;
    margin-right: 5px;
}
.ImgService
{
    vertical-align: bottom;
}
.panelStock
{
    padding-left: 5px;
}
.panelStock img, .panelStock span
{
    vertical-align: middle;
}
div.RadToolTip_Default table.rtWrapper td.rtWrapperContent
{
    background-color: white !important;
    border: 1px solid black;
}


/*Tabs*/
.container
{
    margin: 10px auto;
    width:auto;
    min-width:95%;
}
ul.tabs
{
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px;
    border-bottom: 1px solid #999;
    width: 100%;
}

    ul.tabs li {
        float: left;
        margin: 0;
        padding: 0;
        height: 31px;
        line-height: 31px;
        border: 1px solid #555;
        margin-bottom: -1px;
        margin-right: 8px;
        background: #F0F0F0;
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
        border: 1px solid #F0F0F0;
        border-top-color: white;
        border-right-color: white;
        border-left-color: white;
        border-bottom-color: #999;
        border-radius: 3px 3px 0 0;
    }

ul.tabs li a
{
    text-decoration: none;
    color: #383838 !important;
    display: block;
    font-size: 0.81rem;
    padding: 0 20px;
    border: 1px solid #fff;
    outline: none;
    text-transform: Uppercase;
}
ul.tabs li a:hover
{
}

html ul.tabs li.active, html ul.tabs li.active a:hover
{
    background: #fff;
    border-bottom: 1px solid #fff;
    border-left-color: #999;
    border-top-color: #999;
    border-right-color: #999;
}

.tab_container
{
    border: 1px solid #999;
    border-top: none;
    clear: both;
    float: left;
    width: 100%;
    background: #fff;
    -moz-border-radius-bottomright: 5px;
    -khtml-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -khtml-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    font-size: 13px;
}
.tab_content
{
    padding: 20px 0 0 20px;
    font-size: 13px;
    line-height:1.7;
    width: 100%;
    float: left;
    height: auto;
}


.CaptionPrice
{
    float: left;
}

.ValuePrice
{
    float: right;
    margin-left: 5px;
}
.ValuePriceDiscount
{
    float: right;
    width: 100%;
    text-align: right;
}


.pdf_ico
{
    width: 16px;
    padding-right: 5px;
}



/**{font-family:Segoe UI;font-size:13px;}
.CaptionTitle{display:block;width:90%;margin:0 auto;padding-bottom:10px;}
.ProductInfoPanel{color:#383838;font-weight:600;}
.BasicInfoLeft{float:left;width:170px;}
.BasicInfoRight{float:right;width:180px;}
.BasicInformation{float:left;padding-left:25px;width:400px;}
.catalogPhoto{display:block;}
.DetailedInformation{margin:0 auto;display:table;width:90%;}
.LblProductCompatible{display:block;padding-bottom:10px;}
.Catalog{padding-bottom:5px;}
.Description{padding-bottom:20px;}
.Product_code,.Product_Measures,.ProductPrice,.orderButton,.UnidadVenta,.quantity,.reference{padding-bottom:10px;}
.ProductPrice{font-weight:bold;color:rgb(154,46,47);font-size:12px;float:left;}
.Product_Measures{font-weight:bold;}
.Product_Measures td{font-weight:normal;text-align:center;}
.Catalog,.Description,.ColorMeasuresAndOthers.color,.materials,.mantain,.build,.cubic,.weight{display:block;}
.ColorMeasuresAndOthers{float:left;width:90%; padding-top:20px;}
.NumberAndMeasures{padding-left:20px;float:right;}
.ColorsAndMore{float:left;}
.CaptionLbl{font-weight:600;}
.color,.materials,.Mantain,.build,.cubic,.weight,.NumberofBultos{padding-bottom:5px;}
.DocumentationPanel{width:90%;margin:0 auto;display:table;}
.documentItemGdo{float:none;padding:5px;}
hr{height:auto;}
.ColorItem{float:left;width:50px;height:50px; vertical-align:middle;padding:10px;}
.PanelColorsAgrup{width:100%; height:150px;display:table;margin-top:10px;}
.Panel_Measures{margin-top:10px;}
.ImgDownload{float:right;}
.image_carousel {width:50%;	position: relative;float:left!important;}
.image_carousel img {border: 1px solid #ccc;background-color: white;display: block;float: left;margin-left:10px;}
.Panel_Disponibilidad{ padding-bottom:10px;padding-top:10px;}
.ZoomImageContainer{padding-bottom:15px;}
#thumbs{padding-left:25px;}*/


.productInfoBlock
{
    margin: 15px 8px;
}

.productInfoTitle
{
    font-family: "Brown Bold";
    color: #1d1d1b;
    margin-bottom: 14px;
    padding-bottom: 0;
    border: 0;
    display: block;
    font-size: 26px;
    line-height: 30px;
    font-weight: 600;
    text-align: left;
    text-transform: none;
}

.productInfoDescription
{
    font-family: "Brown Regular";
    color: #3c3932;
    font-size: 15px;
    line-height: 21px;
}

.productInfoLabelText
{
    font-family: "Brown Regular";
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #1d1d1b;
    display: block;
    float: left;
    margin-right: 5px;
}

.productInfoValueText
{
    font-family: "Brown Regular";
    font-size: 12px;
    color: #383838;
}

.horizontalSeparator
{
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #ccc;
}

.productInfoPriceText, .productInfoPriceTextDisc
{
    font-family: "Brown Light";
    color: #A12830;
    font-size: 20px;
    line-height: 22px;
}
.productInfoPriceTextDisc
{
    font-family: "Brown Bold";
    color: Green;
}

.productInfoRelatedTitleText
{
    font-family: "Brown Regular";
    text-transform: uppercase;
    font-size: 13px;
    color: #666;
}

.MagicZoomPlus > img
{
    height:720px;
    width: 720px;    
}

.darkenRow
{

}

.productLeftZone
{
    height: 100%;
    width: 57%;
    float: left;
}

.productRightZone
{
    height: 100%;
    width: 35%;
    float: right;
}

.productDetailZone
{
    height: 730px;
    width: 100%;
    margin-bottom:15px;
    float: left;
}