﻿.sliderTitle
{
    font-size:12px;
    font-weight:bold;
    color:Black;
    /*font-variant:small-caps;*/
    margin-left: 5px; /*alinear con resto de objetos en la home*/
}
.sliderCarousel {
    position: relative;
    /*padding: 5px 20px;*/
    padding: 10px;  /* Parece que con 20 se pasa y descentra el objeto... */
    /*min-height:140px;*/
    min-height:100px;  /* ponemos 100 para que no descuadre la pagina products.aspx */
}
.sliderCarousel .productElement {
  
    background-color: white;
    padding: 9px;
    margin: 7px;
    display: block;
    float: left;
    /* REZ 22052013:: Alieación de flechas en productos destacados */
    padding-right: 3px;
    padding-left: 5px;
    margin-right: 1px;
    margin-left: 2px;

}
.sliderCarousel .caroufredsel_wrapper a {
	display: block;
	float: left;
}
.caroufredsel_wrapper
{
    height:220px;
}
.clearfix {
    float: none;
    clear: both;
}
a.prev, a.next {
    width: 29px;
    height: 47px;
    display: block;
	position:absolute;
    border: none;
    top:30%;
}
a.next{
	/*right:6px;*/
	right:1px;
    background: url('/Style%20Library/Julia/img/next.png') no-repeat transparent;
}
a.prev{
	/*left:-4px;*/
	left:1px;
    background: url('/Style%20Library/Julia/img/previous.png') no-repeat transparent;
}
.productModel
{
    color:#1982d5;
}

.productElement
{
    width: 150px;
    height: 170px;
}
.imageSlideLink
{
    padding: 9px;
  
}
.ISSelected
{
    background-color: #cccccc;
}

/* Styles for home Inspirate Template */
.inspirateimage 
{
    width:100
}

.anythingBase {
	PADDING: 0px; 
	margin:auto;
	LIST-STYLE-TYPE: none; 
	LIST-STYLE-IMAGE: none; 
}
.anythingBase .panel {
	POSITION: relative; 
	PADDING-BOTTOM: 0px; 
	margin:auto; 
	PADDING-LEFT: 0px; 
	PADDING-RIGHT: 0px; 
	DISPLAY: block; 
	BACKGROUND: none transparent scroll repeat 0% 0%; 
	FLOAT: left; 
	OVERFLOW: hidden; 
	PADDING-TOP: 0px;
	width: 100%;
}
.anythingBase .panel .piece {
	BORDER-BOTTOM: #ccc 1px solid; POSITION: absolute; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #fff; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; TEXT-DECORATION: none; PADDING-TOP: 5px; border-radius: 5px; opacity: 0
}
.anythingBase .panel:hover .piece {
	opacity: .5
}
.anythingBase .panel .piece:hover {
	opacity: 1; -webkit-box-shadow: -4px 4px 8px 1px rgba(0, 0, 0, 0.2); -moz-box-shadow: -4px 4px 8px 1px rgba(0, 0, 0, 0.2); box-shadow: -4px 4px 8px 1px rgba(0, 0, 0, 0.2)
}
.anythingBase .panel .piece SPAN {
	DISPLAY: block
}
.anythingBase .panel .piece SPAN.title {
	COLOR: #333; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.anythingBase .panel .piece SPAN.price {
	COLOR: #000
}
.anythingBase .vertical.panel {
	FLOAT: none
}

.anythingBase .panel .InspirateimgProductAdd 
{
    position: absolute;
    right: 20px;
    bottom: 25px;
    opacity: 0;
    z-index:-1;
}

.anythingBase .panel:hover .InspirateimgProductAdd {
	opacity: .5;
	z-index:19;
}
.anythingBase .panel .InspirateimgProductAdd:hover {
	opacity: 1; -webkit-box-shadow: -4px 4px 8px 1px rgba(0, 0, 0, 0.2); -moz-box-shadow: -4px 4px 8px 1px rgba(0, 0, 0, 0.2); box-shadow: -4px 4px 8px 1px rgba(0, 0, 0, 0.2);
	z-index:20;
}

    .sliderCarousel
    {   
            visibility:hidden;
    }
        

    .prev_Inspirate, .next_Inspirate 
    {
        top: 210px!important;
    }
    
    
    div.sliderCarousel .inspager {
        display: block;
        bottom: 15px;
        position: absolute;
        left: 20px;
    }
    
div.sliderCarousel .inspager a {
    background: rgb(255, 255, 255);
    font: 11px/18px Georgia, Serif;
    margin: 0px 5px 0px 0px;
    padding: 0px;
    outline: 0px;
    border-radius: 15px;
    border: 3px solid rgb(255, 255, 255);
    border-image: none;
    width: 12px;
    height: 12px;
    text-indent: -999px;
    overflow: hidden;
    text-decoration: none;
    display: inline-block;
    font-size-adjust: none;
    font-stretch: normal;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}
div.sliderCarousel .inspager a.selected 
{
    background: rgb(51, 51, 51);
    color: rgb(0, 0, 0);
}

a.pdfcatalog 
{
    margin: 0;
    padding-left: 9px; 
    padding-right: 9px; 
}

a.imageSlideLink.pdfcatalog
{
    display: none;
}
a.imageSlideLink.pdfcatalog.ISSelected
{
    display: block;
}
