﻿/* ------------------------------------ */
/* Webpart Pedido Desplegable Pequeño */
/* ------------------------------------ */
.classPedidoDesplegable
{
	/*background-color:#2970aa;*/
	color:white;
	/*width:36.3em;*/
	width:580px;
	height:17em;
	background-color:#286da6;
	background-image:url('bckground_pedido.png');	
	background-repeat:no-repeat;
	border:0px solid gray;
	float:left;
	/*margin-top:100em;	*/
}

.classTextos
{
    border:0px solid lime;
    width:10em;
    height:1em;
    margin-top:10em;
    margin-left:2em;

    font-size:14px;
	font-family:Segoe UI;
	float:left;
}

.classTextboxes
{
    border:0px solid orange;
    width:10em;    
    float:left;
    margin-top:8.5em;
}

#text3
{
    float:left;
}

#radio3
{
    clear:left;
}

/*#txtTituloPedido
{
	font-size:14px;
	font-family:Segoe UI;
	/*float:left;
	margin-top:130px;
	margin-left:40px;*/
/*}

#txtModoPago
{
	font-size:14px;
	font-family:Segoe UI;
	/*margin-top:155px;
	margin-left:-100px;*/
/*}


#txtDireccionEntrega
{
	float:left;
	font-size:14px;
	font-family:Segoe UI;
	/*margin-top:185px;
	margin-left:-100px;*/
/*}*/

/*#textBox1
{
	float:left;
	margin-top:130px;
}

#textBox2
{
	float:left;
	margin-top:155px;
	margin-left:-160px;
}

#textBox3
{
	float:left;
	margin-top:185px;
	margin-left:-160px;
}*/

/*#txtEntrega
{
	float:left;
	font-size:14px;
	font-family:Segoe UI;
	margin-top:210px;
	margin-left:-285px;
}*/

/*#radio1
{
	float:left;
	margin-top:210px;
	margin-left:-100px;
}

#radio2
{
	float:left;
	margin-top:210px;
	margin-left:-100px;
}*/

/*.classRealizarPedido
{
    font-size:13px;
	font-family:Segoe UI;
	font-weight:bold;
	margin-top:18em;
	margin-left:29em;
}*/

    #imgIncidencia
    {
        float:left;
        margin-left:-200px;   
    }

    
.classRealizarPedido
{
    width:215px;
    height:30px;
    float:right;
    clear:left;
	
	margin-top:10px;
}

    #txtRealizarPedido
    {
        font-family:Segoe UI;
        color:white;
        font-weight:bold;
        font-size:13px;
        float:left;        
    }

    #imgArrow
    {
        background-image:url('arrow.png');
        background-repeat:no-repeat;
        width:28px;
        height:20px;
        margin-left:25px;
        float:left;
    }

/* --------------------------------------------------------------- */
/* Webpart Pedidos en Curso (mismo que Pedido Desplegable pequeño) */
/* --------------------------------------------------------------- */

.classPedidos
{
    border:0px solid yellow;
    background-image:url('fondoEstadoPedidos.png');
    background-repeat:no-repeat;
    width:319px;
    height:278px;
    margin-left:30px;
    float:left;
}

.headerPedidos
{
    float:left;
    margin-top:10px;
    margin-left:10px;
    /*width:300px;*/
}

#txtTitlePedidos
{
    color:#215c88;
    /*font-family:Myriad Pro;*/
    font-family: "Segoe UI";
    font-size:22px;
    float:left;
    /*font-weight:bold;*/
}

#txtSubTitlePedidos
{
    clear:left;
    float:left;
    color:#aaaaaa;
    /*font-family:Myriad Pro;*/
    font-family: "Segoe UI";
    font-size:16px;
    width:300px;
}

.classLineasPedido
{
    float:left;
    border:0px solid blue;
    width:310px;
    height:150px;   
    margin-left:5px;
    margin-top:10px;
}

.classPedido1, .classPedido2
{
    width:315px;
    height:70px;
    /*border-bottom:1px solid #cacaca;*/
    border-bottom:1px solid #efefef;
}

.imgPedido
{
    float:left;
}

.txtPedido_Estado
{
    font-family:Segoe UI;
    float:left;
    font-size:14px;
    margin-top:10px;
    width:205px;
}

    .txtNombrePedido
    {
        color:#202020;
        float:left;
    }

    .txtEstadoPendiente
    {
        color:#880201;
        float:right;
    }
    
    .txtEstadoEnviado
    {
        color:#03a932;
        float:right;
    }    

.txtDescripcion_Fecha
{
    font-family:Segoe UI;
    float:left;
    font-size:14px;
    width:205px;
}

    .txtDescripcion
    {
        color:#949494;
        float:left;
    }
    
    .txtFecha
    {
        float:right;
        color:#949494;
    }
    
.linkDetalle
{
    width:150px;
    height:30px;
    float:right;
    margin-top:25px;
}

    #txtVerDetalle
    {
        font-family:Segoe UI;
        color:#215c88;
        /*font-weight:bold;*/
        font-size:13px;
        float:left;
    }

    #imgArrowDetallePedido
    {
        background-image:url('arrow_blue.png');
        background-repeat:no-repeat;
        width:28px;
        height:20px;
        margin-left:30px;
        float:left;
    }

/* ------------------------------------ */
/* Webpart Pedido Desplegable Espandido */
/* ------------------------------------ */
.classPedidoDesplegableGrande
{
    float:left;
    clear:left;
    color:white;
	/*width:58.4em;
	height:38em;*/
	width:62.5em;
	height:41em;
	background-color:#286da6;
	background-image:url('bckground_pedidoClick_1024.png');
	background-repeat:no-repeat;
	position:absolute;
	margin-top:400px;
	
}                                                                                       

.classArticulosSeleccionados
{
    width:17em;
    margin-top:14em;
    margin-left:1.5em;
    border:0px solid lime;
    height:1.5em;
    font-size:18px;
	font-family:Segoe UI;
}

#SpanTituloArticulos
{   
    float:left;
}

#classImgShopping
{
    background-image:url('shopping_cart.png');
    width:32px;
    height:32px;
    float:right;
    
}

.imagenesOrdenPedido_footer
{
    /*border:2px solid purple;*/
    width:20em;
    height:4em;
    position:relative;
    margin-top:1.5em;
}

/* imágenes pedido rotadas*/
#imgProductOrder1
{
    width:48px;
    height:48px;
    float:left;    
    
    /*transform: rotate(40deg) scale(2.0);
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand',
        M11=1.5320888862379554, M12=-1.2855752193730787,
        M21=1.2855752193730796, M22=1.5320888862379558);*/
        
    -webkit-transform: rotate(-10deg) scale(1, 1);
    -moz-transform: rotate(-10deg) scale(1, 1);
    -ms-transform: rotate(-10deg) scale(1, 1);
    transform: rotate(-10deg) scale(1, 1);	
	filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.83);  /* IE6,IE7 */
    -ms-filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.83); /* IE8 */
    
    background-image:url('shopping_cart.png');
    background-repeat:no-repeat;
    background-color:#478ec3;
    border:1px solid white;
    border-style:double;
    
    border-top-left-radius:     5px 5px;  
    border-top-right-radius:    5px 5px;  
    border-bottom-right-radius: 5px 5px;  
    border-bottom-left-radius:  5px 5px; 
}

#imgProductOrder2
{
    width:48px;
    height:48px;
    float:left;    
    margin-left:-10px;
    
    /*transform: rotate(40deg) scale(2.0);
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand',
        M11=1.5320888862379554, M12=-1.2855752193730787,
        M21=1.2855752193730796, M22=1.5320888862379558);*/
        
    -webkit-transform: rotate(15deg) scale(1, 1);
    -moz-transform: rotate(15deg) scale(1, 1);
    -ms-transform: rotate(15deg) scale(1, 1);
    transform: rotate(15deg) scale(1, 1);
    
    background-image:url('shopping_cart.png');
    background-repeat:no-repeat;
    background-color:#66ace0;
    border:1px solid white;
    border-style:double;
    
    border-top-left-radius:     5px 5px;  
    border-top-right-radius:    5px 5px;  
    border-bottom-right-radius: 5px 5px;  
    border-bottom-left-radius:  5px 5px; 
}

#imgProductOrder3
{
    width:48px;
    height:48px;
    float:left;    
    margin-left:-10px;
    
    /*transform: rotate(40deg) scale(2.0);
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand',
        M11=1.5320888862379554, M12=-1.2855752193730787,
        M21=1.2855752193730796, M22=1.5320888862379558);*/
        
    -webkit-transform: rotate(-15deg) scale(1, 1);
    -moz-transform: rotate(-15deg) scale(1, 1);
    -ms-transform: rotate(-15deg) scale(1, 1);
    transform: rotate(-15deg) scale(1, 1);
    
    background-image:url('shopping_cart.png');
    background-repeat:no-repeat;
    background-color:#5682a3;
    border:1px solid white;
    border-style:double;
    
    border-top-left-radius:     5px 5px;  
    border-top-right-radius:    5px 5px;  
    border-bottom-right-radius: 5px 5px;  
    border-bottom-left-radius:  5px 5px; 
}

/*#imgProduct1Order.outer {BORDER: 5px solid;BORDER-COLOR:#000000}
#imgProduct1Order.inner {BORDER: 5px solid;BORDER-COLOR:#D1D1E1}*/

#imgRealizarPedido
{
    background-image:url('boton_realizarPedido.png');
    width:161px;
    height:25px;    
    float:left; 
    margin-left:5px;
    margin-top:10px;
}

.classBlueBoxPedidos
{
    background-color:#3071a2;
    width:19em;
    height:21em;
    /*margin-top:40px!important;*/
    margin-left:25px;
    margin-top:0px;
    float:left;
    
    /*position:relative;*/
    /*z-index:1;*/
    
    border-top-left-radius:     1em 1em;  
    border-top-right-radius:    1em 1em;  
    border-bottom-right-radius: 1em 1em;  
    border-bottom-left-radius:  1em 1em; 
}

.lineasPedido
{
    border:0px solid green;
    position:relative;
    margin-top:0.8em;
    margin-left:0.8em;
    width:20em;
    height:18em;    
    font-size:14px;
	font-family:Segoe UI;
}

#spanPrecio
{
    color:#b3cbdd;
}

#inputUnidades
{
    margin-left:10px;
}

#spanPrecio, #spanTotalPrecio
{
    padding-left:5px;
}

#spanTotalPrecio
{
    font-weight:bold;
}

/* ----------------------------------------- */
/* ---------- Catálogo Productos ----------- */
/* ----------------------------------------- */
.catalogoProductos
{
    border:0px solid cyan;
    width:37em;
    height:30em;
    margin-top:-9em;
    margin-left:3em;
    float:left;
}

#txtCatalogo
{
    /*font-family:Myriad Pro;*/
    font-family: "Segoe UI";
    font-size:26px;
    float:left;  
}

.txtSubtitleCatalog
{
    border:0px solid white;
    float:left;
    width:600px;
}


#txtAnadirArt
{
    color:#a4d8fa; /* azul cyan */
    /*font-family:Myriad Pro;*/
    font-family: "Segoe UI";
    font-size:18px;
    clear:left;
    float:left;
    border:0px solid lime;
}

#buscadorProductos
{
    
    margin-left:10px;   
    margin-top:5px;    
    -moz-border-radius: 10px;
    border:1px solid #a4d8fa;
    font-family:Segoe UI;
    color:#9eb9cd;
    padding-left:8px;
    padding-right:8px; 
    float:left;
    border:0px solid red;   
    margin-left:35px;
}

#imgBuscador
{
    border:0px solid purple;
    width:32px;
    height:32px;
    background-image:url('search_products.png');
    float:left;
    
}

/* No se usa??? */
/*
.contenedorProductos
{
    border:0px solid gray;
    width:37em;
    height:26em;
    margin-top:1em;
    overflow:auto;
}
*/

/*.productoCatalogo1
{
    border:1px solid yellow;
    width:140px;
    height:170px;
    font-family:Segoe UI;
    font-size:13px;
    margin-top:30px!important;
    float:left;
    clear:left;
    position:relative;
}*/

.productoCatalogo1, .productoCatalogo2, .productoCatalogo3, .productoCatalogo4, .productoCatalogo5, .productoCatalogo6, .productoCatalogo7, .productoCatalogo8
{
     border:0px solid cyan;
     width:140px;
     height:170px;
     font-family:Segoe UI;
     font-size:13px;
     margin-top:30px!important;
     float:left;
     position:relative;
}
  
    #imgProducto1, #imgProducto2, #imgProducto3, #imgProducto4, #imgProducto5, #imgProducto6, #imgProducto7, #imgProducto8    
    {
          width:100px;
          height:70px;
          background-repeat:no-repeat;
          background-color:White;
    }
    
    #imgProducto1 { background-image:url('catalogoProducto1.png'); }
    #imgProducto2 { background-image:url('catalogoProducto2.png'); }
    #imgProducto3 { background-image:url('catalogoProducto3.png'); }
    #imgProducto4 { background-image:url('catalogoProducto4.png'); }
    #imgProducto5 { background-image:url('catalogoProducto5.png'); }
    #imgProducto6 { background-image:url('catalogoProducto6.png'); }
    #imgProducto7 { background-image:url('catalogoProducto7.png'); }
    #imgProducto8 { background-image:url('catalogoProducto8.png'); }  
        
    #txtReferencia1, #txtReferencia2, #txtReferencia3, #txtReferencia4, #txtReferencia5, #txtReferencia6, #txtReferencia7, #txtReferencia8
    {
        float:left;
    }                   
  
    #txtProducto1, #txtProducto2, #txtProducto3, #txtProducto4, #txtProducto5, #txtProducto6, #txtProducto7, #txtProducto8 
    {
        color:#9cd1f4;
        clear:left;
        float:left;
    }               

    #txtPrecio1, #txtPrecio2, #txtPrecio3, #txtPrecio4, #txtPrecio5, #txtPrecio6, #txtPrecio7, #txtPrecio8 
    {
        clear:left;
        float:left;
    }
    
    #imgAnadirProd1, #imgAnadirProd2, #imgAnadirProd3, #imgAnadirProd4, #imgAnadirProd5, #imgAnadirProd6, #imgAnadirProd7, #imgAnadirProd8
    {        
        background-image:url('boton_anadirProd.png');
        width:86px;
        height:21px;
        border:0px solid blue;
        background-repeat:no-repeat;
        margin-top:5px;
        clear:left;
    }

/* jQuery */

.layer1 {
    margin: 0;
    padding: 0;
    width: 500px;
}
 
.heading {
    margin: 1px;
    color: #fff;
    padding: 3px 10px;
    cursor: pointer;
    position: relative;
    background-color:#c30;
}
.content {
    padding: 5px 10px;
    background-color:#fafafa;
}

p  
{
     padding: 5px 0; 
}

/*.capaprov
{
    background-color:#286da6;
    height:50px;
    width:100px;
    margin-top:300px;
}*/