.PT ul
{
    margin:3px;
	padding:0;
	list-style:none;
}

.PT ul li
{
	padding:0;
	float:left;
	margin:0 .4em .4em 0;
	background:#fff;
	width:auto;
	border:1px solid #1a150f;
	background-position:center center;
	background-repeat:no-repeat;
	overflow:hidden;
}

.PT li a
{
	width:80px;
	height:80px;
	border:solid 1px #fff;
	display:block;
	text-indent:-5000px;
	font:0/0 Arial;
}