﻿.regularText
{
    font-family:"Brown Regular";
    color:#383838;
    font-size:13px;
}

.headerText
{
    font-family:"Brown Light";
    color:#777777;
    font-size:18px;
    margin-left:1rem;
}

.productDescription
{
    font-family:"Brown Regular";
    color:#949494;
    font-size:13px;
    
}
.productPrice
{
    font-family:"Brown Bold";
    color:#1982d5;
    font-size:13px;
}