﻿.alignMiddle
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    -ms-flex-pack: center;
}

.alignVerticalMiddle
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.paddingLeft
{
    padding-left:2rem;}


.lateralPadding
{
    padding: 0 0.4rem 0 0.4rem;
}
.verticalSeparatorOnRight
{
    border-right: 1px solid #dedede;
    padding-right: 0.8rem;
}


/*override on Material Skin for RadComboboxes*/
.RadComboBox_Material
{
    font-family: "Brown Regular" !important;
}
.RadComboBox_Material .t-i-arrow-down
{
    font-size: 13px !important;
}
.RadComboBox_Material .rcbLabel
{
    font-size: 13px !important;
}
.RadComboBoxDropDown_Material
{
    font-family: "Brown Regular" !important;
}


/********* CHECKBOXES ********/

.checkbox-custom
{
    opacity: 0;
    position: absolute;
}

.checkbox-custom, .checkbox-custom-label
{
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.checkbox-custom-label
{
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before
{
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before
{
    content: "\f00c";
    font-family: 'FontAwesome';
    background: #3196CE;
    color: #fff;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.checkbox-custom:focus + .checkbox-custom-label
{
    outline: none;
}



/********************* BUTTONS  ********************/


.mainButton
{
    padding: 12px;
    background-color: #A12830;
    color: white;
    font-family: "Brown Bold";
    font-size: 16px;
    display: inline;
    border-radius: 3px;
}
.greenButton
{
    padding: 12px;
    background-color: #69C862;
    color: white;
    font-family: "Brown Bold";
    font-size: 16px;
    display: inline;
    border-radius: 3px;
}

.deleteButton
{
    padding: 12px;
    background-color: #ADADAD;
    color: white;
    font-family: "Brown Bold";
    font-size: 16px;
    display: inline;
    border-radius: 3px;
    background-image: url("/Style%20Library/Julia/img/clear_filter.png");
    background-position-x: right 5px;
    background-position-y: center;
    background-repeat: no-repeat;
    float: right; width: 11rem;
}
.blueButton
{
    padding: 12px;
    background-color: #3196CE;
    color: white;
    font-family: "Brown Bold";
    font-size: 16px;
    display: inline;
    border-radius: 3px;
}

.blueButton:hover
{
    background-color: #3EACE8;
    cursor: pointer;
}

.mainButton i:hover, .greenButton i:hover, blueButton i:hover, deleteButton i:hover
{
    color: white !important;
}

.mainButton:hover
{
    background-color: #D43841;
    cursor: pointer;
}
.greenButton:hover
{
    background-color: #73DC6B;
    cursor: pointer;
}

.deleteButton:hover
{
    background-color: #F47C48;
    cursor: pointer;
}

.filterTransparentButton
{
    font-family: "Brown Regular";
    font-size: 13px;
    text-transform: uppercase;
    padding: 0.6rem;
    color: #aaa;
    border: 1px solid #aaa;
    border-radius: 3px;
    height: 1rem;
    transition: 0.1s;
    display:inline-block;
    align-items: center;
    }
    
    .filterTransparentButton:hover
    {
        border: 1px solid #3EACE8;
    color: #3EACE8;
    cursor: pointer;
        }
.transparentButton
{
    font-family: "Brown Regular";
    font-size: 13px;
    text-transform: uppercase;
    padding: 0.6rem;
    color: #aaa;
    border: 1px solid #aaa;
    border-radius: 3px;
    height: 1rem;
    transition: 0.1s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.transparentButton:hover
{
    border: 1px solid #F47C48;
    color: #F47C48;
    cursor: pointer;
}

.transparentButton i
{
    color: #aaa;
}

.transparentButton i:hover
{
    cursor: pointer;
    color: #F47C48;
}

/** Estilos placeholder ** /

*::-webkit-input-placeholder {
    /* Google Chrome y Safari */
    color: #ADADAD;
}
*:-moz-placeholder {
    /* Firefox anterior a 19 */
     color: #ADADAD;
}
*::-moz-placeholder {
    /* Firefox 19 y superior */
    color: #ADADAD;
}
*:-ms-input-placeholder {
    /* Internet Explorer 10 y superior */
     color: #ADADAD;
}

/*****  Estilos incremental buttons & input *******/


#qty,
.btn-minus,
.btn-plus {
  text-align: center;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.qty {
    padding: 0.23rem 0rem 0.4rem 0rem!important;
    width: 3rem!important;
    border-radius: 2px!important;
    border: 1px solid #ADADAD!important;
    outline: none!important;
    text-align: center!important;
}
.btn-minus,
.btn-plus {
  font-weight: bold;
  width: 2rem;
  padding: 0.5rem 0;
  background: #aaa;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.btn-minus:hover
{
    background:#F47C48;
    }
.btn-plus:hover {
  background: #69C862;
}
.btn-minus {
  margin-right: 0.2rem;
}
.btn-plus {
  margin-left: 0.2rem;
}


/*remove arrows on input type number*/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
