
/* This is the moving lens square underneath the mouse pointer. */
.cloud-zoom-lens {
	border: 4px solid #888;
	margin:-4px;	/* Set this to minus the border thickness. */
	background-color:#fff;	
	cursor:move;
	margin:0 auto;
   width:90%;   /* you can use px, em or % */
   text-align:left;		
}

/* This is for the title text. */
.cloud-zoom-title {
	/*font-family:Arial, Helvetica, sans-serif;*/
	font-family: "Segoe UI";
	background-color:#000;
	color:#fff;
	padding:3px;
	width:100%;
	text-align:center;	
	font-weight:bold;
	font-size:10px;
	top:0px;
}

/* This is the zoom window. */
.cloud-zoom-big {
	border:4px solid #ccc;
	overflow:hidden;
}

/* This is the loading message. */
.cloud-zoom-loading {
	color:white;	
	background:#222;
	padding:3px;
	border:1px solid #000;
}



.zoom-small-image {	
	
margin:0 auto;
   width:90%;   /* you can use px, em or % */
   text-align:left;
	
}


#zoom_main{
display:block;
width:90%;
margin:0 auto;
height:auto;
padding-top:30px;
}





.zoom-section{
width:100%;

text-align:center;
}
#thumbs{
float:left;
margin-left:30px;
margin-top:10px;
}

#largeImage{max-width: 680px; max-height: 800px;}
#minimImage{max-width: 340px; max-height: 400px;}
.thumbImage{max-width: 102px; max-height: 82px;}

.ImgDownload
{
    float:right;
    }
.image_carousel {
    width:50%;
	position: relative;
	float:left!important;
}
.image_carousel img {
	border: 1px solid #ccc;
	background-color: white;
	display: block;
	float: left;
	margin-left:10px;
}
a.prev, a.next {
	
	width: 40px;
	height: 50px;
	display: block;
	position:relative;
	bottom:65px;
	
	

}
a.prev {background:url(Style Library/Julia/img/previous.png)no-repeat transparent;			
float:left;
}
					
a.next {
float:right;
background:url(Style Library/Julia/img/next.png)no-repeat transparent;

}
				


a.prev span, a.next span {
	display: none;
}

.clearfix {
	float: none;
	clear: both;
}
