﻿.NewGroupProductsCatalogTitle
{
    /*font-family: Myriad Pro;*/
    font-family: "Brown Regular"; /*font-size: 26px;*/
    float: left;
    width: 100%;
    color: #89768A;
    margin-bottom: 5px;
}
.RadListView
{
    float: left;
}
.PanelColor a img
{
    margin-bottom: 4px;
}
.StockBox
{
    float: left;
    margin-right: 5px;
}
.stock_lbl
{
    float: left;
    padding-right: 10px;
}
.Filter_Catalog
{
    display: none;
}
div.RadToolTip_Default table.rtWrapper td.rtWrapperContent
{
    background-color: white !important;
    border: 1px solid black;
}
.RadDataPager_Default
{
    background-color: transparent !important;
    border: none !important;
}
div.RadToolTip_Default table.rtWrapper td.rtWrapperContent
{
    background-color: white !important;
}

.NewFilterCatalog
{
    float: left;
    margin-right: 10px;
}
.ImgDiscountPos
{
    position: absolute;
    right: 0px;
}
.ImgNewProductPos
{
    position: absolute;
    left: 0px;
}
.ImgComingSoonPos {
    position: absolute;
    left: 0px;
}
.Label_Discount
{
    position: relative;
    top: 20px;
    left: 0px;
    font-weight: bold;
    color: White;
}
.NewtxtProductStock
{
    display: inline;
    float: left;
}
.DivStockImages
{
    float: left;
    display: inline;
    height: 18px; /*necesario para que no se corte en Firefox*/
}
.DivStockImages label, .DivStockImages img
{
    vertical-align: top;
}
.ImgNivelServicio
{
    float: left;
    margin-left: 5px;
}

.NewitemProduct
{
    width: 240px;
    height: 290px; /*font-family:'Helvetica Neue', Arial, Helvetica, sans-serif!important;*/
    font-family: "Segoe UI";
    font-size: 12px;
    margin-bottom: 20px;
    margin-right: 12px;
    margin-left: 12px;
    float: left;
    background-color: White;
}
.NewimgProduct
{
    /*width: 110px;     height: 110px;*/
    background-repeat: no-repeat;
    background-color: White;
}
.bloq_info_front
{
    background-color: White;
}
.bloq_info_front, .Contenido
{
    width: 218px;
    padding-left: 17px;
}
.Contenido
{
    display: none;
    margin-right: 8px;
    z-index: 20;
    background-color: White;
    padding-bottom: 10px;
}




.MeasuresBox span
{
    font-weight: bold;
}

.NewtxtProductRef
{
    text-align: left;
    background-color: White;
    width: 50%;
    float: left;
    margin-left: 3px;
}
.NewtxtProductPrice
{
    font-weight: bold;
    color: rgb(154,46,47);
    width: 210px;
    margin-left: 3px;
}
.NewtxtProductName
{
    color: #89768A;
    margin-left: 3px;
    width: 210px;
    float: left;
    background-color: White;
}
.PriceWithoutDiscount_Panel
{
    font-weight: bold;
    float: left;
    text-align: left;
    margin-bottom: 5px;
    background-color: White;
}
.Price_Panel
{
    font-weight: bold;
    float: left;
    width: 50%;
    text-align: left;
    margin-bottom: 5px;
    background-color: White;
    text-decoration: none;
}

.NewitemQty
{
    width: 50px;
    float: left;
    text-align: left;
    background-color: White;
}
.NewitemQty .Qty_input
{
    width: 50px;
    float: left;
}

/*.NewimgProductAdd
{
    background-image: url('/Style%20Library/Julia/img/boton_anadirProd.png');
    background-repeat: no-repeat;
    float:left;  
    cursor: pointer;
}*/


.Container
{
    width: 240px;
}
#imgProducto1
{
    background-color: White;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
}
.NewBtnAdd
{
    margin-top: 5px;
    float: left;
}
.Btn_AddToCar
{
    background-color: White;
    float: right;
}


.NewimgProductsCatalogSearch, .ClearFilter
{
    height: 31px;
    margin: 0 5px;
}

.CatalogPagination
{
    margin-bottom: 50px;
}

.CatalogNumberPagination
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    float: right;
}

/* REZ 06052013 - fix for firefox space */
.displaytable
{
    display: table;
}
.LblFilterStates
{
    background-color: #FAF3AC;
    clear: both;
    float: left;
    padding: 8px 1%;
    font-size: 13px;
    margin-bottom: 12px;
    width: 98%;
}
.tableMeasures
{
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-left: 5px;
}
.tableMeasures .ValuestableMeasuresTr td:First-child
{
    text-align: Left;
}
.tableMeasures .ValuestableMeasuresTr td:Last-child
{
    text-align: Right;
}
ValuestableMeasuresTr td
{
    padding: 0px 5px;
}
.MeasuresBox
{
    width: 195px;
    margin-bottom: 10px;
}
.QtyAndBtn
{
    width: 195px;
    margin-bottom: 5px;
    float: left;
    padding-left: 5px;
}
.ColorItem
{
    float: left;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 2px;
    border: 2px solid #E3E3E3;
}
.PanelMeasure, .PanelColor
{
    display: block;
    float: left;
    padding-bottom: 10px;
}
.PanelMeasure
{
    width: 200px;
}
.PanelColor
{
    width: 100%;
}
.LblProductCompatible
{
    border: 2px solid #e8e8e8;
    width: 200px;
}
.PanelMeasure a
{
    border: 3px solid #e8e8e8;
    display: block;
    text-align: center;
    vertical-align: middle;
    padding: 5px 10px;
}
