/*{font-family:Segoe UI;font-size:13px;}*/
.CaptionTitle
{
    display: block;
    width: 900px;
    margin: 0 auto;
    padding-bottom: 10px;
}
.BackBtn
{
    float: left;
    position: relative;
    right: 4px;
    cursor: pointer;
    border: 1px solid gray;
    border-left: none;
    top: -2px;
}
.TittleInside
{
    float: left;
}
.DownloadImage
{
    float: right;
}
.ProductInfoPanel
{
    color: #383838;
    font-weight: 600;
}
.BasicInfoLeft
{
    float: left;
    width: 200px;
}
.BasicInfoRight
{
    float: right;
    width: 165px;
}
.BasicInformation
{
    float: Right;
    padding-left: 25px;
    width: 400px;
    margin-right: 35px;
}
.catalogPhoto
{
    display: block;
}
.DetailedInformation
{
    margin: 0 auto;
    display: table;
    width: 90%;
}
/*Codi de css bonic que acabaran demanant*/
.LblProductCompatible
{
    display: table-cell;
    vertical-align: middle;
    width: 250px;
    padding-left: 20px;
}
.AssociatedProveidorTable
{
    display: table-cell;
    vertical-align: middle;
    margin-left: 5px;
    padding-left: 5px;
}
.AssociatedProveidorTable a, .LinkProveidor
{
    color: #555 !important;
    text-decoration: none;
}
.AssociatedProveidorTable td, .LinkProveidor span
{
    padding: 3px 20px;
    background-color: #E8E8E8;
    font-weight: bold;
    cursor: pointer;
    border-right: 5px solid white;
}
.AssociatedProveidorTable td:hover, .LinkProveidor span:hover
{
    background-color: #C9C9C9;
}
.PanelNewImg
{
    margin-left: 10px;
}
.LblProveedoresCompatibles
{
    border: 3px solid #e8e8e8;
}
.StockBox
{
    width: 45px;
}
.StockBox img
{
    float: right;
}
.ImgNewProductPos
{
    position: absolute;
    left: 0px;
}
.ImgComingSoonPos {
    position: absolute;
    left: 0px;
}
/*Codi lleig que volen ara i que es treura
.LblProductCompatible{display:table-cell;vertical-align:middle; background-color:#7F7F7F; width:250px;padding-left:20px; color:White;text-transform:uppercase;}
.AssociatedProveidorTable{display:table-cell;vertical-align:middle;}

.AssociatedProveidorTable a,.LinkProveidor{color:#555!important;text-decoration:none;}
.AssociatedProveidorTable td,.LinkProveidor span{padding:2px 20px;-webkit-border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAQAAABTNcdGAAAAEUlEQVQIHWP4r8bA8F%2BKwQEADZUCf37PGokAAAAASUVORK5CYII%3D) 0 2 0 1 fill / 1 / 0px stretch;

*/
.Combomeasures
{
    float: left;
}
.LblStock
{
    display: table-cell;
    padding: 0px 4px;
}
.PanelNewImg
{
    float: left;
    margin-left: 15px;
}
.LblAgrupCaption
{
    float: left !important;
}
.LblCantidad
{
    color: rgb(85, 85, 85) !important;
}
.Catalog
{
    padding-bottom: 2px;
}
.Description
{
    padding-bottom: 20px;
    max-width: 850px;
}
.Product_code, .Product_Measures, .ProductPrice, .orderButton, .UnidadVenta, .quantity, .reference
{
    padding-bottom: 2px;
}
.Product_code
{
    font-weight: bold;
}
.Product_code span
{
    font-size: 16px !important;
}
.ProductPrice
{
    font-weight: bold;
    color: rgb(154,46,47);
    float: left;
    padding-bottom: 5px;
}
.ProductPrice span
{
    font-size: 18px !important;
}
.PanelCompatibleCon
{
    margin: 0 1rem;
    width: 100%;
    display: table;
}
.Product_Measures td
{
    font-weight: normal;
    text-align: center;
}
.Catalog, .Description, .ColorMeasuresAndOthers.color, .materials, .mantain, .build, .cubic, .weight
{
    display: block;
}
.ColorMeasuresAndOthers
{
    float: left;
    width: 90%;
    padding-top: 5px;
}
.NumberAndMeasures
{
    padding-left: 20px;
    float: right;
}
.ColorsAndMore
{
    float: left;
}
.CaptionLbl
{
    font-weight: 600;
}
.color, .materials, .Mantain, .build, .cubic, .weight, .NumberofBultos
{
    padding-bottom: 0px;
}
.DocumentationPanel
{
    width: 820px;
    display: table;
    padding-top: 15px;
}
.DocumentationPanelDocumentacionTenica
{
    float: left;
    width: 40%;
}
.CertificadosPanel
{
    float: right;
    width: 215px;
}
.documentItemGdo
{
    float: none;
    width: 100%;
}
.documents
{
    margin-top: 3px;
}
hr
{
    height: auto;
}
.ColorItem
{
    float: left;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-right: 2px;
    border: 2px solid #E3E3E3;
}
.LblColorAgrupCaption
{
    float: left;
}
.LynkColor img
{
    margin-bottom: 4px;
}
.PanelColorsAgrup
{
    width: 700px;
    height: auto;
    display: table;
    margin-top: 10px;
    float: left;
}
.ProductPanelColorAgrup
{
    float: left;
    width: 400px;
}
.Panel_Measures
{
    margin-top: 10px;
}
.ValuestableMeasuresTr td:First-child
{
    text-align: Left;
}
.ValuestableMeasuresTr td:Last-child
{
    text-align: Right;
}
ValuestableMeasuresTr td
{
    padding: 0px 5px !important;
}
.ImgDownload
{
    float: right;
}
.image_carousel
{
    width: 50%;
    position: relative;
    float: left !important;
    margin-left: 2px;
}
.image_carousel img
{
    border: 1px solid #ccc;
    background-color: white;
    display: block;
    float: left;
    margin-left: 10px;
}
.Panel_Disponibilidad
{
    padding-bottom: 10px;
    padding-top: 10px;
}


.PanelNewImg
{
    float: left;
    margin-left: 15px;
    padding-top: 2px;
    background-repeat: no-repeat;
}
.PanelMeasure a
{
    background-color: rgb(232, 232, 232);
    color: #555;
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
}
.PanelMeasure a:hover
{
    background-color: #C9C9C9;
    color: #555;
}
.Label_Discount
{
    margin: 0 auto;
    color: White;
    font-weight: bold;
    text-align: center;
    padding-top: 8px;
}
.rgRow:hover, rgAltRow:hover
{
    cursor: pointer !important;
}
div.RadToolTip_Default table.rtWrapper td.rtWrapperContent
{
    background-color: white !important;
    border: 1px solid black;
}
/*Tabs*/
.container
{
    margin: 10px 1rem;
    width: auto;
    min-width: 95%;
}
ul.tabs
{
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px;
    border-bottom: 1px solid #999;
    width: 100%;
}

ul.tabs li
{
    float: left;
    margin: 0;
    padding: 0;
    height: 31px;
    line-height: 31px;
    border: 1px solid #555;
    margin-bottom: -1px;
    margin-right: 8px;
    background: #F0F0F0;
    overflow: hidden;
    position: relative;
}

ul.tabs li a
{
    text-decoration: none;
    color: #555 !important;
    display: block;
    font-size: 1.2em;
    padding: 0 20px;
    border: 1px solid #fff;
    outline: none;
}
ul.tabs li a:hover
{
    background: #ccc;
}

html ul.tabs li.active, html ul.tabs li.active a:hover
{
    background: #fff;
    border-bottom: 1px solid #fff;
}

.tab_container
{
    border: 1px solid #999;
    border-top: none;
    clear: both;
    float: left;
    width: 100%;
    background: #fff;
    -moz-border-radius-bottomright: 5px;
    -khtml-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -khtml-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

.tab_content
{
    padding: 20px 0 0 20px;
    font-size: 13px;
    line-height: 1.7;
    width: 100%;
    float: left;
    height: auto;
}



.CaptionAgrupMeasure
{
    float: left !important;
}


/* New style */
.productDetailZone
{
    height: 730px;
    width: 100%;
    margin-bottom: 15px;
    float: left;
}
.productLeftZone
{
    height: 100%;
    width: 57%;
    float: left;
}
.productRightZone
{
    height: 100%;
    width: 35%;
    float: right;
}
.productInfoBlock
{
    margin: 15px 8px;
}
.productInfoTitle
{
    font-family: "Brown Bold";
    color: #1d1d1b;
    margin-bottom: 14px;
    padding-bottom: 0;
    border: 0;
    display: block;
    font-size: 26px;
    line-height: 30px;
    font-weight: 600;
    text-align: left;
    text-transform: none;
}
.productInfoDescription
{
    font-family: "Brown Regular";
    color: #3c3932;
    font-size: 15px;
    line-height: 21px;
}


.productInfoLabelText
{
    font-family: "Brown Regular";
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #1d1d1b;
    display: block;
    float: left;
    margin-right: 5px;
}
.productInfoValueText
{
    font-family: "Brown Regular";
    font-size: 12px;
    color: #383838;
}
.horizontalSeparator
{
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #ccc;
}
.productInfoPriceText, .productInfoPriceTextDisc
{
    font-family: "Brown Light";
    color: #A12830;
    font-size: 20px;
    line-height: 22px;
}
.productInfoPriceTextDisc
{
    font-family: "Brown Bold";
    color: Green;
}


#product_images /*thumbs*/
{
    padding-left: 15px;
    width: 84px;
    height: 100%;
    float: left;
}
.ZoomImageContainer
{
    padding-bottom: 15px;
}
