﻿<div class="NewitemProduct Container">
                  <div id="imgProducto1" style="text-align: center;">
                    <a href='{{NavigateUrl}}'>
					
                        
                        <div id="ImgDiscount"  style="Width:66px;Height:60px;background-image:url('{{ImgDiscountUrl}}');" class="ImgDiscountPos">
                          <span class="Label_Discount">{{DiscountLabel}}</span>
                        </div>
                     
                        <img alt="" src="{{ImageUrl}}" id="{{Code}}" class="NewimgProduct" style="width:225px;height:225px;" border="0" 
                            onError = "{{ImgErrorUrl}}"
                        >
                    </a>
                </div>
          <div class="bloq_info_front" style="float:left;">
                <div class="NewtxtProductRef">
                    {{Code}}
                </div>

                

                <div class="NewtxtProductName" >
                    {{Description}}
                </div>
                <div class="NewtxtProductPrice">
                        <div id="Panel_Price" class="Price_Panel">
                            <span id="Label_Price">{{Price}}</span>
                        </div>
                      <div id="Panel_PriceWithDiscount" CssClass="PriceWithoutDiscount_Panel">
                            <span id="Label_Discount">{{PriceWithDiscount}}</span>
                       </div>
                </div>
                 <div class="NewtxtProductStock">
				 </div>
				 <div class="Contenido" style="display:block!important;">
                    <div class="NewitemQty">
                            <div class="Qty_input">
                                <input type="text" id="{{Code}}_{{InsertcatalogNo}}_itemQty" value="1" >
                            </div>
                     </div>
                    <div class="Btn_AddToCar">
                        <img src="/Style Library/Julia/img/{{language}}/add_to_car.gif" id="ImageButton1" data-commandname="AddItemToCart"
                             class="NewimgProductAdd" style="background-color:transparent;border-style:none" 
                             onclick="javascript:JuliaClients.Service.buyArticle('{{Code}}',parseInt($('#{{Code}}_{{InsertcatalogNo}}_itemQty').val()),'{{InsertcatalogNo}}','{{BusinessLine}}','');return false;"
                             alt="Comprar">
                           
                    </div>
				</div>
			</div>	 
</div>	