﻿<div id="{{Product.Code}}" class="compareElementBox">
    <div id="imgProducto1" class="alignVerticalMiddle">
        {{#if discount}}
        <div id="ImgDiscount" style="width: 66px; height: 60px; background-image: url('{{Product.ImgDiscountUrl}}');"
            class="ImgDiscountPos">
            <span class="Label_Discount">{{Product.DiscountLabel}}</span>
        </div>
        {{/if}} {{#if isNew}}
        <div id="ImgNewProduct" style="width: 225px; height: 225px; background-image: url('/Style Library/Julia/img/NewProduct.png')"
            class="ImgNewProductPos">
        </div>
        {{/if}}
        <img alt="" src="{{Product.ImageUrl}}" id="Img1" class="NewimgProduct" border="0"
            onerror="{{Product.ImgErrorUrl}}">
    </div>
    <div style="min-height: 21rem; max-height: 21rem;">
        <p class="comparatorProductCode">
            {{Product.Code}}
        </p>
        <p class="comparatorProductName">
            {{Product.Description}}
        </p>
        <br />
    </div>
    <div>
        <p name="Medidas" class="comparatorProductlabel">
        </p>
        <p class="comparatorProductValue">
            <table cellspacing="0" class="tableMeasures" style="max-width: 190px; margin: 0;">
                <tr>
                    <td>
                        <img alt="" style="height: 16px; width: 16px;" src="/Style Library/Julia/img/Height.png" />
                    </td>
                    <td>
                        {{Product.Height}} <span name="cm"></span>
                    </td>
                    <td>
                        <img alt="" style="height: 16px; width: 16px;" src="/Style Library/Julia/img/Width.png" />
                    </td>
                    <td>
                        {{Product.Width}} <span name="cm"></span>
                    </td>
                    <td>
                        <img alt="" style="height: 16px; width: 16px;" src="/Style Library/Julia/img/Depth.png" />
                    </td>
                    <td>
                        {{Product.Length}} <span name="cm"></span>
                    </td>
                </tr>
            </table>
        </p>
    </div>
    <div class="stockSectionComparatorProduct">
        <p class="comparatorProductlabel">
            Stock</p>
        {{#if verQty}}
        <!-- STOCK FOR REPRESENTANTES y CLIENTGROUP -->
        <div id="Div5" class="DivStockImages" runat="server">
            {{#if stock}}
            <label runat="server" class="LblCantdidades">
                {{#if cantidadVerde}}
                <div class="BiggerStockBox" runat="server">
                    {{Product.CantidadVerde}}<div class="gstock">
                    </div>
                </div>
                {{/if}} {{#if cantidadAzul}}
                <div class="BiggerStockBox" runat="server">
                    {{Product.CantidadAzul}}<div class="astock">
                    </div>
                </div>
                {{/if}} {{#if cantidadRojo}}
                <div class="BiggerStockBox" runat="server">
                    {{Product.CantidadRojo}}<div class="rstock">
                    </div>
                </div>
                {{/if}} {{#if cantidadGris}}
                <div class="BiggerStockBox" runat="server">
                    {{Product.CantidadGris}}<div id="gastock-{{Product.Code}}" class="gastock">
                    </div>
                </div>
                {{/if}} {{#if niveldeServicio}}
                <div class="BiggerStockBox" id="NoNullImgNivelServicio-{{Product.Code}}">
                    <img src="/Style Library/Julia/img/NivelServicio.png" height="20px" width="20px"
                        class="ImgNivelServicio" id="ImgStockNoNullNivelServicio" alt="ToolTipNivelServicio" />
                </div>
                {{/if}}
            </label>
            {{else}}
            <div runat="server">
                <div class="BiggerStockBox">
                    <div class="bstock">
                    </div>
                    {{#if niveldeServicio}}
                    <div id="NullImgNivelServicio-{{Product.Code}}">
                        <img class="BiggerStockBox" alt="ToolTipNivelServicio" id="ImgStockNullNivelServicio" class="ImgNivelServicio"
                            width="20px" height="20px" src="/Style Library/Julia/img/NivelServicio.png" />
                    </div>
                    {{/if}}
                </div>
            </div>
            {{/if}}
        </div>
        {{else}}
        <!-- STOCK FOR CLIENTES -->
        <div class="BiggerStockBox" runat="server">
            <img src="" height="16px" width="16px" class="StockBox" id="ImgStock-{{Product.Code}}"
                alt="" />
            {{#if niveldeServicio}}
            <img alt="ToolTipNivelServicio" id="ImgNivelDeServicioClient-{{Product.Code}}" class="ImgNivelServicio"
                width="16px" height="16px" src="/Style Library/Julia/img/NivelServicio.png" />
            {{/if}}
        </div>
        {{/if}}
    </div>
    <div class="priceSectionComparatorProduct">
        <p class="comparatorProductlabel" name="PriceComp">
        </p>
        <span class="wishlistValue" id="Comp_Price-{{lineNo}}">{{Product.PriceString}}</span> <span id="wishlistLabel"
            class="comparatorProductPrice">{{Product.PriceWithDiscount}}</span>
    </div>
    <div class="descriptionSectionComparatorProduct">
        <div>
            <p name="Programa" class="comparatorProductlabel">
            </p>
            <p class="comparatorProductValue">
                {{Product.Programa}}</p>
        </div>
        <div>
            <p name="CatalogNo" class="comparatorProductlabel">
            </p>
            <p class="comparatorProductValue">
                {{Product.CatalogNo}}</p>
        </div>
        <div>
            <p name="DescripcionLarga" class="comparatorProductlabel">
            </p>
            <p class="comparatorProductValue">
                {{Product.DescripcionLarga}}</p>
        </div>
    </div>
    <div class="propertiesSectionComparatorProduct">
        <div>
            <p name="Color" class="comparatorProductlabel">
            </p>
            <p class="comparatorProductValue">
                {{Product.Color}}</p>
        </div>
        <div>
            <p name="ItemMateriales" class="comparatorProductlabel">
            </p>
            <p class="comparatorProductValue">
                {{Product.ItemMateriales}}</p>
        </div>
        <div>
            <p name="ItemMontaje" class="comparatorProductlabel">
            </p>
            <p class="comparatorProductValue">
                {{Product.ItemMontaje}}</p>
        </div>
        <div>
            <p name="Apilable" class="comparatorProductlabel">
            </p>
            <p class="comparatorProductValue">
                {{Product.Apilable}}</p>
        </div>
        <div>
            <p name="Volume" class="comparatorProductlabel">
            </p>
            <p class="comparatorProductValue">
                {{Product.Volume}}</p>
        </div>
        <div>
            <p name="Weight" class="comparatorProductlabel">
            </p>
            <p class="comparatorProductValue">
                {{Product.Weight}}</p>
        </div>
        <div>
            <p name="EANCode" class="comparatorProductlabel">
            </p>
            <p class="comparatorProductValue">
                {{Product.EANcode}}</p>
        </div>
        <div>
            <p name="CodigoArancelario" class="comparatorProductlabel">
            </p>
            <p class="comparatorProductValue">
                {{Product.CodigoArancelario}}</p>
        </div>
        <div>
            <p name="PaisOrigen" class="comparatorProductlabel">
            </p>
            <p class="comparatorProductValue">
                {{Product.PaisOrigen}}</p>
        </div>
        <div>
            <p name="NumItems" class="comparatorProductlabel">
            </p>
            <p class="comparatorProductValue">
                {{Product.Numitems}}</p>
        </div>
        <div>
            <p name="MedidasEmbalaje" class="comparatorProductlabel">
            </p>
            <div class="comparatorProductValue" id="measures_{{Product.EANcode}}">
            </div>
        </div>
    </div>
</div>
