﻿<div class="NewitemProductSearch Container">
    <a href='{{NavigateUrlGdo}}'>
        <div id="imgProducto1" style="text-align: center;">
            <div id="Div1" class="alignVerticalMiddle" style="height: 100%">
                {{#if DiscountBool}}
                <div id="Div2" style="width: 66px; height: 60px; background-image: url('{{ImgDiscountUrl}}');"
                     class="ImgDiscountPos">
                    <span class="Label_Discount">{{DiscountLabel}}</span>
                </div>
                {{/if}} {{#if IsNewBool}}
                <div id="ImgNewProduct" style="width: 150px; height: 150px; background-image: url('/Style Library/Julia/img/NewProduct.png')"
                     class="ImgNewProductPos">
                </div>
                {{/if}} {{#if IsComingSoon}}
                <div id="ImgComingSoon" style="width: 150px; height: 150px; background-image: url('/Style Library/Julia/Styles/ComingSoonProduct.png')"
                     class="ImgComingSoonPos">
                </div>
                {{/if}}
                <img alt="" src="{{ImageUrl}}" id="{{Code}}" class="NewimgProduct" style="width: 150px;
                    height: 150px;" border="0" onerror="{{ImgErrorUrl}}">
            </div>
        </div>
    </a>
    <div style="float: left; width: 19rem; padding-left: 2rem; height: 9rem">
        <a href='{{NavigateUrlGdo}}'>
            <div class="NewtxtProductRefSearch">
                {{Code}}
            </div>
            <div class="NewtxtProductNameSearch">
                {{Description}}
            </div>
            <div class="NewtxtProductStock stockSearchResults">
                <span class="wishlistLabel" style="float: left;">Stock:</span> {{#if verQty}}
                <!-- STOCK FOR REPRESENTANTES y CLIENTGROUP -->
                <div id="Div5" class="DivStockImages" runat="server">
                    {{#if StockBool}}
                    <label runat="server" class="LblCantdidades">
                        {{#if CantidadVerdeBool}}
                        <div class="BiggerStockBox" runat="server">
                            {{CantidadVerde}}<div class="gstock">
                            </div>
                        </div>
                        {{/if}} {{#if CantidadAzulBool}}
                        <div class="BiggerStockBox" runat="server">
                            {{CantidadAzul}}<div class="astock">
                            </div>
                        </div>
                        {{/if}} {{#if CantidadRojoBool}}
                        <div class="BiggerStockBox" runat="server">
                            {{CantidadRojo}}<div class="rstock">
                            </div>
                        </div>
                        {{/if}} {{#if CantidadGrisBool}}
                        <div class="BiggerStockBox" runat="server">
                            {{CantidadGris}}<div id="gastock-{{Code}}" class="gastock">
                            </div>
                        </div>
                        {{/if}} {{#if NiveldeServicioBool}}
                        <div class="BiggerStockBox" id="NoNullImgNivelServicio-{{Code}}">
                            <img src="/Style Library/Julia/img/NivelServicio.png" height="20px" width="20px"
                                class="ImgNivelServicio" id="ImgStockNoNullNivelServicio" alt="ToolTipNivelServicio" />
                        </div>
                        {{/if}}
                    </label>
                    {{else}}
                    <div runat="server">
                        <div class="BiggerStockBox">
                            <div class="bstock">
                            </div>
                            {{#if NiveldeServicioBool}}
                            <div class="BiggerStockBox" id="NullImgNivelServicio-{{Code}}">
                                <img alt="ToolTipNivelServicio" id="ImgStockNullNivelServicio" class="ImgNivelServicio"
                                    width="20px" height="20px" src="/Style Library/Julia/img/NivelServicio.png" />
                            </div>
                            {{/if}}
                        </div>
                    </div>
                    {{/if}}
                </div>
                {{else}}
                <!-- STOCK FOR CLIENTES -->
                <div class="BiggerStockBox" runat="server">
                    <img src="" height="16px" width="16px" id="ImgStock-{{Code}}" alt="" />
                    {{#if NiveldeServicioBool}}
                    <img alt="ToolTipNivelServicio" id="ImgNivelDeServicioClient-{{Code}}" class="ImgNivelServicio"
                        width="16px" height="16px" src="/Style Library/Julia/img/NivelServicio.png" />
                    {{/if}}
                </div>
                {{/if}}
            </div>
            <div class="NewtxtProductPriceSearch">
                {{#if IsDiscountBool}}
                <div class="Price_Panel" style="text-decoration: line-through; font-family: Brown Light;font-size: 1rem; width: auto;margin-right:1.5rem">
                    <span id="Span1">{{PriceString}}</span>
                </div>
                {{else}}
                <div class="Price_Panel">
                    <span id="Span2">{{PriceString}}</span>
                </div>
                {{/if}}
                <div id="Panel_PriceWithDiscount" cssclass="PriceWithoutDiscount_Panel">
                    <span id="Label_Discount">{{PriceWithDiscount}}</span>
                </div>
            </div>
        </a>
    </div>
</div>
