﻿<div class="NewitemProductWishlist wishlistContainer" id="{{Product.Code}}">
    <div id="checkBoxProduct" class="alignVerticalMiddle" style="height: 100%">
        <div class="checkBoxChart">
            <input type="checkbox" name="wishlistCheckbox-{{lineNo}}" class="checkbox-custom"
                id="wishlistCheckbox-{{lineNo}}" onclick="comparatorCheckbox({{lineNo}})" />
            <label for="wishlistCheckbox-{{lineNo}}" class="checkbox-custom-label">
            </label>
        </div>
    </div>
    <a href='{{Product.NavigateUrl}}'>
        <div id="imgProducto1" class="alignVerticalMiddle" style="height: 100%">
            {{#if discount}}
            <div id="ImgDiscount" style="width: 66px; height: 60px; background-image: url('{{Product.ImgDiscountUrl}}');"
                class="ImgDiscountPos">
                <span class="Label_Discount">{{Product.DiscountLabel}}</span>
            </div>
            {{/if}} {{#if isNew}}
            <div id="ImgNewProduct" style="width: 150px; height: 150px; background-image: url('/Style Library/Julia/img/NewProduct.png')"
                class="ImgNewProductPos">
            </div>
            {{/if}}
            <img alt="" src="{{Product.ImageUrl}}" id="img_{{Product.Code}}" class="NewimgProduct"
                border="0" onerror="{{Product.ImgErrorUrl}}">
        </div>
    </a>
    <div class="wishlistDescriptionBloc">
        <div class="NewtxtProductRefWishlist wishlistInfoPadding">
            {{Product.Code}}
        </div>
        <div class="NewtxtProductNameWishlist wishlistInfoPadding">
            {{Product.Description}}
        </div>
        <br />
        <table cellspacing="0" class="tableMeasures tableMeasuresWishlist" style="max-width: 190px;
            margin: 0;">
            <tr>
                <td>
                    <img alt="" style="height: 16px; width: 16px;" src="/Style Library/Julia/img/Height.png" />
                </td>
                <td>
                    {{Product.Height}}<span name="cm"></span>
                </td>
                <td>
                </td>
                <td>
                    <img alt="" style="height: 16px; width: 16px;" src="/Style Library/Julia/img/Width.png" />
                </td>
                <td>
                    {{Product.Width}}<span name="cm"></span>
                </td>
                <td>
                </td>
                <td>
                    <img alt="" style="height: 16px; width: 16px;" src="/Style Library/Julia/img/Depth.png" />
                </td>
                <td>
                    {{Product.Length}}<span name="cm"></span>
                </td>
            </tr>
        </table>
    </div>
    <div class="wishlistDetailsBloc">
        <div class="NewtxtProductStock wishlistInfoPadding">
            <span class="wishlistLabel" style="float: left;">Stock:</span> {{#if verQty}}
            <!-- STOCK FOR REPRESENTANTES y CLIENTGROUP -->
            <div id="Div5" class="DivStockImages" runat="server">
                {{#if stock}}
                <label runat="server" class="LblCantdidades">
                    {{#if cantidadVerde}}
                    <div class="BiggerStockBox" runat="server">
                        {{Product.CantidadVerde}}<div class="gstock">
                        </div>
                    </div>
                    {{/if}} {{#if cantidadAzul}}
                    <div class="BiggerStockBox" runat="server">
                        {{Product.CantidadAzul}}<div class="astock">
                        </div>
                    </div>
                    {{/if}} {{#if cantidadRojo}}
                    <div class="BiggerStockBox" runat="server">
                        {{Product.CantidadRojo}}<div class="rstock">
                        </div>
                    </div>
                    {{/if}} {{#if cantidadGris}}
                    <div class="BiggerStockBox" runat="server">
                        {{Product.CantidadGris}}<div id="gastock-{{Product.Code}}" class="gastock">
                        </div>
                    </div>
                    {{/if}} {{#if niveldeServicio}}
                    <div class="BiggerStockBox" id="NoNullImgNivelServicio-{{Product.Code}}">
                        <img src="/Style Library/Julia/img/NivelServicio.png" height="20px" width="20px"
                            class="ImgNivelServicio" id="ImgStockNoNullNivelServicio" alt="ToolTipNivelServicio" />
                    </div>
                    {{/if}}
                </label>
                {{else}}
                <div runat="server">
                    <div class="BiggerStockBox">
                        <div class="bstock">
                        </div>
                        {{#if niveldeServicio}}
                        <div id="NullImgNivelServicio-{{Product.Code}}">
                            <img alt="ToolTipNivelServicio" id="ImgStockNullNivelServicio" class="ImgNivelServicio"
                                width="20px" height="20px" src="/Style Library/Julia/img/NivelServicio.png" />
                        </div>
                        {{/if}}
                    </div>
                </div>
                {{/if}}
            </div>
            {{else}}
            <!-- STOCK FOR CLIENTES -->
            <div class="BiggerStockBox" runat="server">
                <img src="" height="16px" width="16px" class="StockBox" id="ImgStock-{{Product.Code}}"
                    alt="" />
                {{#if niveldeServicio}}
                <img alt="ToolTipNivelServicio" id="ImgNivelDeServicioClient-{{Product.Code}}" class="ImgNivelServicio"
                    width="16px" height="16px" src="/Style Library/Julia/img/NivelServicio.png" />
                {{/if}}
            </div>
            {{/if}}
        </div>
        <div id="Panel_Price " class="Price_Panel wishlistInfoPadding" style="width: 18rem;">
            <span class="wishlistLabel" name="Price"></span><span id="Label_Price-{{lineNo}}"
                class="wishlistValue" style="padding-left: 0.3rem;">{{Product.PriceString}}</span>
            <span id="wishlistLabel" class="wishlistValue" style="color: green; padding-left: 0.5rem;">
                {{Product.PriceWithDiscount}}</span>
        </div>
        <!--<div id="Panel_PriceWithDiscount" class="PriceWithoutDIscount_Panel" style="width:15rem;>
            
        </div>-->
        <div class="Qty_input wishlistInfoPadding" style="float: left; width: 15rem;">
            <span class="wishlistLabel" name="Quantity"></span>
            <div class="alignVerticalMiddle" style="display: inline; padding-left: 0.5rem;">
                <div class="btn-minus" id="{{Product.Code}}_minus" onclick="minus('{{Product.Code}}_{{Product.InsertcatalogNo}}_itemQty', {{Product.UnidadMedida}}, '{{Product.Code}}')">
                    <i class="fa fa-minus"></i>
                </div>
                <input id="{{Product.Code}}_{{Product.InsertcatalogNo}}_itemQty" class="qty" name="qty"
                    onblur="qtyBlur(this.id, '{{Product.Code}}')" type="number" value="{{Quantity}}"
                    min="{{Product.UnidadMedida}}" step="{{Product.UnidadMedida}}" />
                <div class="btn-plus" id="{{Product.Code}}_plus" onclick="plus('{{Product.Code}}_{{Product.InsertcatalogNo}}_itemQty', {{Product.UnidadMedida}}, '{{Product.Code}}')">
                    <i class="fa fa-plus"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="deleteWishlistItem alignVerticalMiddle">
        <!--<div class="comparatorDiv">
            <input type="checkbox" name="wishlistComparatorCheckbox-{{lineNo}}" class="checkbox-custom"
                style="display: none" id="wishlistComparatorCheckbox-{{lineNo}}" />
            <div class="deleteWishlistItem alignVerticalMiddle">
                <div class="transparentButton" id="wishlistComparatorButton-{{lineNo}}" onclick="comparatorCheckbox({{lineNo}})">
                    <i class="fa fa-balance-scale fa-lg"></i>
                </div>
            </div>
            <button type="button" id="wishlistComparatorButton-{{lineNo}}" onclick="comparatorCheckbox({{lineNo}})">
            Comparar
        </button>
        </div>-->
    <div class="transparentButton" style="margin-left: 2rem" onclick="javascript:JuliaClients.Service.deleteWishlistItem('{{Product.Code}}', $('#currentUserName').val(), $('#currentClientCode').val());return false;">
        <span style="font-family: 'FontAwesome'; font-size: 20px;">&#xf014;</span></div>
</div>
<div id="alert-{{lineNo}}" style="position: fixed; display: hidden">
</div>
</div> 