﻿/*
SharePoint 2010 CSS Reset v0.1
by Kyle Schaeffer
http://kyleschaeffer.com/sharepoint/css-reset/
*/
.s4-title h1 a,.s4-title h2 a,.s4-tn li.static > .menu-item,.ms-WPBody a:link,.link-item a,.link-item a:link,.s4-ql ul.root > li > .menu-item,.s4-qlheader,.s4-ql a.selected,.s4-ql ul.root ul > li > a,.ms-menutoolbar td a,a.ms-addnew,.ms-ltviewselectormenuheader .ms-viewselector a,.ms-ltviewselectormenuheader .ms-viewselectorhover a,.ms-vb a:link,.ms-vb2 a:link,.ms-vb-user a:link,.ms-linksection-level1 ul li a,.ms-WPTitle a
{
    color:#2f7799;text-decoration:none;}
.ms-WPBody a:visited,.link-item a:visited,.s4-qlheader:visited,a.ms-addnew:visited,.ms-ltviewselectormenuheader .ms-viewselector a:visited,.ms-ltviewselectormenuheader .ms-viewselectorhover a:visited,.ms-vb a:visited,.ms-vb2 a:visited,.ms-vb-user a:visited,.ms-linksection-level1 ul li a:visited
{
    color:#2f7799;text-decoration:none;
}
.s4-title h1 a:hover,.s4-title h2 a:hover,.s4-tn li.static > a:hover,.s4-toplinks .s4-tn a.selected:hover,.ms-WPBody a:hover,.link-item a:hover,.s4-ql ul > li > a:hover,.s4-ql ul.root > li > a:hover,.s4-qlheader:hover,.ms-rtestate-field a:hover,.s4-ql ul.root ul > li > a:hover,.ms-menutoolbar td a:hover,.ms-vh a:hover,.ms-vh2 a:hover,a.ms-addnew:hover,.ms-ltviewselectormenuheader .ms-viewselector a:hover,.ms-ltviewselectormenuheader .ms-viewselectorhover a:hover,a.ms-toolbar:hover,.ms-vh2-nofilter a:hover,.ms-vh2-nofilter-notextalign a:hover,.ms-vb a:hover,.ms-vb2 a:hover,.ms-vb-user a:hover,.ms-linksection-level1 ul li a:hover,.ms-propertysheet a:hover,.ms-sectionheader a:hover,.ms-disc a:hover
{
    color:#a71228;text-decoration:none;
}
.link-item a:active,a.ms-addnew:active,.ms-ltviewselectormenuheader .ms-viewselector a:active,.ms-ltviewselectormenuheader .ms-viewselectorhover a:active,.ms-vb a:active,.ms-vb2 a:active,.ms-vb-user a:active,.ms-linksection-level1 ul li a:active
{
    color:#a71228;text-decoration:none;
}
.s4-ql a.selected,.ms-viewlsts .ms-vb2 > a,.ms-addnew a,.ms-selectorlink a,.ms-selectorlink a:visited,.ms-navitem a:link
{
    color:#2f7799!important;text-decoration:none!important;
}
.s4-ql a.selected:visited,.ms-viewlsts .ms-vb2 > a:visited,.ms-addnew a:visited,.ms-navitem a:visited
{
    color:#2f7799!important;text-decoration:none!important;
}
.s4-ql a.selected:hover,.ms-viewlsts .ms-vb2 > a:hover,.ms-addnew a:hover,tr.s4-itm-hover a:hover,tr.ms-itmhover a:hover,.ms-selectorlink a:hover,.ms-navitem a:hover,.ms-WPTitle a:hover
{
    color:#a71228!important;text-decoration:none!important;
}
.s4-ql a.selected:active,.ms-viewlsts .ms-vb2 > a:active,.ms-addnew a:active,.ms-navitem a:active
{
    color:#a71228!important;text-decoration:none!important;
}
.ms-cui-ribbon,.ms-cui-menu,.ms-siteactionsmenuinner,.ms-siteactionsmenuhover,.ms-welcomeMenu,div.ms-MenuUIPopupBody.ms-MenuUIPopupScreen,div.ms-MenuUIPopupBody.ms-MenuUIPopupScreen div.ms-MenuUIPopupInner,div.ms-MenuUIPopupBody.ms-MenuUIPopupScreen div.ms-MenuUIPopupInner div,.ms-cui-toolbar-toolbar,.s4-titletable,.ms-socialNotif-Container,.ms-sbplain,.ms-sbtable,body #pageStatusBar,.link-item,.link-item a,.link-item a:link,.ms-WPBody,.ms-menutoolbar td a,.ms-toolbar,.ms-listheaderlabel,.ms-viewselector,.ms-viewselectortext,.ms-viewselectorhover,.ms-vh2-nofilter,.ms-vh2-nofilter-notextalign,.ms-vh,.ms-vh2,.ms-vh-icon,.ms-vh-icon-empty,.ms-vhImage,.ms-gb,.ms-gb2,.ms-gbload,.ms-vb,.ms-vb2,.ms-vb-tall,.ms-vb-user,.ms-vh2-nograd,.ms-vh3-nograd,.ms-vh2-nograd-icon,.ms-vh2-nofilter-icon,.ms-pb,.ms-pb-selected,.ms-ph,td.ms-vb,a.ms-addnew,.ms-ltviewselectormenuheader .ms-viewselector a,.ms-ltviewselectormenuheader .ms-viewselectorhover a,th.ms-vh,td.ms-vb,.ms-dlgTitleText,.ms-formlabel,.ms-descriptiontext,.ms-formtoolbar,select,.ms-input,.ms-long,.ms-inputuserfield,.ms-toolbarContainer,div.ms-formfieldlabelcontainer span.ms-formfieldlabel,.ms-formfieldlabelcontainer,.description,.ms-sectionheader,.ms-linksection-level1,.ms-pageinformation h3.ms-standardheader,table.ms-pageinformation,table.ms-createpageinformation,.ms-pageinformation table td,.ms-createpageinformation table td,.ms-linksectionheader,th .ms-vb,.ms-vh2-nofilter-icon,th.ms-vh2-nograd,th.ms-vh2-nograd-icon,.ms-propertysheet,.ms-formdescription,.ms-paging,.ms-listedit .ms-standardheader,.ms-listedit .ms-linksectionheader,.ms-listedit .ms-linksectionheader .ms-standardheader,.ms-listedit table.ms-pageinformation,.ms-listedit .ms-pageinformation table td,.ms-listedit .ms-propertysheet,.ms-listedit .ms-descriptiontext,.ms-SPZoneLabel,.ms-SPButton,.ms-wpadder-sectionhead,.ms-wpadder-wpname,.ms-wpadder-categoryColumn,.ms-wpadder-categoryColumn td,.ms-wpadder-items,.ms-wpadder-upload input,.ms-wpadder-upload button,.ms-wpadder-tabTable th,.ms-wpadder-description,.ms-wpadder-zoneArea button,.ms-WPTitle,.link-item-large,.link-item-large a,.link-item-large a:link,div.title-With-Background a,div.title-With-Background a:link,div.title-With-Background a:hover,div.title-With-Background a:visited,div.title-With-Background a:active,.headertitle,.headertitle a,.headertitle a:link,.level-item,.level-item a,.level-item a:link,.headertitle-band,.headertitle-band a,.headertitle-band a:link,.headertitle-large,.headertitle-large a,.headertitle-large a:link,.headertitle-small,.headertitle-small a,.headertitle-small a:link,.level-description,.ms-WPBody td,.medium,groupheader,.ms-rtelong,.ms-longer,.ms-rtelonger,.ms-radiotext,.ms-rtedropdown,.ms-lookuptypeintextbox,.ms-rtefield,table.ms-disc td,table tr td.ms-disc-bordered-noleft,.ms-formbodysurvey,.ms-gridCol,.ms-gridT1,.ms-surveyVBarT,.ms-surveyVBarTC,.ms-surveyTotal
{
    font-family:inherit;}
    .ms-selectorlink a,.ms-selectorlink a:visited{font-family:inherit!important;}
    .ms-cui-ribbon,.ms-cui-menu,.ms-siteactionsmenu,.s4-breadcrumb-menu,.ms-cui-TabRowLeft,.ms-cui-toolbar-toolbar,.ms-MenuUILabel,.ms-MenuUILabelRtL,.ms-menuuilabelcompact,.ms-menuuilabelcompactRtl,div.ms-MenuUIPopupScreen div.ms-MenuUIPopupInner div.ms-MenuUILarge ul.ms-MenuUIUL div.ms-MenuUIULItem a.ms-MenuUIULLink,div.ms-MenuUIPopupScreen div.ms-MenuUIPopupInner div.ms-MenuUILargeRtL ul.ms-MenuUIUL div.ms-MenuUIULItem a.ms-MenuUIULLink,.s4-search input.ms-sbplain,.ms-sbplain,.s4-search input,.link-item,.link-item a,.link-item a:link,.ms-WPBody,.s4-ql ul.root > li > .menu-item,.s4-qlheader,.s4-qlheader:visited,.ms-menutoolbar td a,.ms-toolbar,.ms-listheaderlabel,.ms-viewselector,.ms-viewselectortext,.ms-viewselectorhover,.ms-vh2-nofilter,.ms-vh2-nofilter-notextalign,.ms-vh,.ms-vh2,.ms-vh-icon,.ms-vh-icon-empty,.ms-vhImage,.ms-gb,.ms-gb2,.ms-gbload,.ms-vb,.ms-vb2,.ms-vb-tall,.ms-vb-user,.ms-vh2-nograd,.ms-vh3-nograd,.ms-vh2-nograd-icon,.ms-vh2-nofilter-icon,.ms-pb,.ms-pb-selected,.ms-ph,td.ms-vb,a.ms-addnew,.ms-ltviewselectormenuheader .ms-viewselector a,.ms-ltviewselectormenuheader .ms-viewselectorhover a,th.ms-vh,td.ms-vb,.s4-titletable,.ms-dlgTitleText,.ms-descriptiontext,.ms-formtoolbar,select,.ms-input,.ms-long,.ms-dtinput,.ms-dttimeinput,.ms-inputuserfield,.ms-toolbarContainer,div.ms-formfieldlabelcontainer span.ms-formfieldlabel,.ms-formfieldlabelcontainer,.description,.ms-linksection-level1 h3,.ms-linksection-level1 ul li a,.ms-pageinformation h3.ms-standardheader,table.ms-pageinformation,table.ms-createpageinformation,.ms-pageinformation table td,.ms-createpageinformation table td,th .ms-vb,.ms-vh2-nofilter-icon,th.ms-vh2-nograd,th.ms-vh2-nograd-icon,.ms-formdescription,.ms-authoringcontrols,.ms-paging,.ms-listedit .ms-standardheader,.ms-listedit .ms-linksectionheader,.ms-listedit .ms-linksectionheader .ms-standardheader,.ms-linksectionheader,.ms-SPZoneLabel,.ms-SPButton,.ms-wpadder-categoryColumn,.ms-wpadder-categoryColumn td,.ms-wpadder-items,.ms-wpadder-upload input,.ms-wpadder-upload button,.ms-wpadder-tabTable th,.ms-wpadder-description,.ms-wpadder-zoneArea button,.ms-WPTitle,.level-item,.level-item a,.level-item a:link,.level-description,.headertitle,.ms-WPBody td,.medium,groupheader,.ms-rtelong,.ms-longer,.ms-rtelonger,.ms-radiotext,.ms-rtedropdown,.ms-lookuptypeintextbox,.ms-rtefield,table.ms-disc td,table tr td.ms-disc-bordered-noleft,.ms-gridCol
    {
        font-size:1em;}
        .s4-title h2,.ms-socialNotif-text,.s4-search select.ms-sbscopes,.s4-search input.ms-sbplain,.article-content,.welcome-content,.s4-title .s4-pagedescription,.s4-title .s4uniqpermdescription,.ms-toolbar,.ms-listheaderlabel,.ms-gb .ms-standardheader,.ms-standardheader,.ms-gb,.ms-gb2,.ms-gbload,.ms-vb-tall,.ms-vb-user,.ms-pb,.ms-pb-selected td,.ms-vb,.ms-vb2,.ms-viewlsts-noitems > b,.s4-specialNavLinkList a:hover > span.ms-splinkbutton-text,.ms-vh2-nofilter,.ms-vh2-nofilter-notextalign,.ms-formlabel,.ms-descriptiontext,.ms-formtoolbar,.ms-toolbarContainer,.description,.link-item,.ms-sectionheader,.ms-linksection-level1 h3,.ms-pageinformation h3.ms-standardheader,.ms-linksectionheader .ms-standardheader,.ms-linksectionheader,.ms-pageinformation th,.ms-createpageinformation th,th .ms-vb,.ms-vh2-nofilter-icon,th.ms-vh2-nograd,th.ms-vh2-nograd-icon,.ms-vh,.ms-vh2,.ms-vh-icon-empty,.ms-vhImage,.ms-vh2-nograd,.ms-vh3-nograd,.ms-vh2-nograd-icon,.ms-vh2-nofilter-icon,.ms-ph,.ms-propertysheet,.ms-pageinformation table td,.ms-createpageinformation table td,.ms-bottompaging .ms-paging,.ms-paging,.ms-listedit .ms-standardheader,.ms-listedit .ms-linksectionheader,.ms-listedit .ms-linksectionheader .ms-standardheader,.ms-listedit .ms-gb .ms-vh2-nofilter,.ms-listedit .ms-gb .ms-vh2,.tmt-name,.ms-SPZoneTitle,.ms-SPZoneLabel,.ms-rteElement-P,.level-description,.headertitle,.medium,groupheader,.ms-rtefield,table.ms-disc td
        {
            color:inherit;}
            .ms-viewlsts th.ms-vh2-nofilter{color:inherit!important;}
            .ms-cui-ribbon a:link,.ms-cui-ribbon a:visited,.ms-cui-ribbon a:hover,.ms-cui-ribbon a:active,.ms-cui-menu a:link,.ms-cui-menu a:visited,.ms-cui-menu a:hover,.ms-cui-menu a:active,.ms-siteactionsmenu > span > a,.ms-menutoolbar td a,.ms-menutoolbar td a:hover,.s4-specialNavLinkList a:hover > span.ms-splinkbutton-text,a.ms-socialNotif
            {
                text-decoration:none;}

/* html5 backwards-compatibility */
section, article, header, footer, nav, aside, hgroup {
	display: block;
}

/* document style */
body {
	background: #f5f5f5;
	color: #555;
	/* font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; */
	font-family: "Segoe UI";
	font-size: 14px;
}
a, a:link, a:visited {
	color: #2f7799;
	text-decoration: none;
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}
a:hover, a:active {
	color: #a71228;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.3em 0;
	line-height: 1.1em;
}
h1 {
	font-size: 3em;
	color: #333;
	font-weight: normal;
}
h2 {
	font-size: 2em;
	color: #333;
	font-weight: normal;
}
h3 {
	font-size: 1.5em;
	color: #333;
	font-weight: bold;
}
h4 {
	font-size: 1.25em;
	font-weight: bold;
	color: #b63812;
}
h5 {
	font-size: 1.25em;
	font-weight: bold;
	color: #333;
}
h6 {
	font-size: 1.1em;
	color: #333;
	font-weight: bold;
}
p {
	line-height: 1.6em;
	margin: 0 0 1.6em 0;
}
strong {
	color: #333;
}
img {
	border: 0;
}

/* layout */
#Container_Body
{
    text-align:center;}
#Container_Main
{
    margin:0 auto;
    width:100%;
    text-align:left;
    }
         
            
#v5-wrapper {
	position: relative;
	width: 990px;
	/*min-width: 990px;*/
	max-width: 990px;
	/*margin: 40px auto;*/
	margin: 0px auto;
	margin-top:10px;
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	    
}
#v5-page-column-sidebar {
	width: 200px;
	padding: 0 0 0 40px;
	margin: 0 0 40px 0;
	float: left;
	display: none; /* Ocultamos QuickLauch */
}
#v5-page-column-main {
	/*padding-right: 10px;
	padding-left: 10px;*/
	padding-right: 0px;
	padding-left: 0px;
	/*margin: 0 0 40px 280px;*/
	margin: 0;
}

/* Ocultamos el Page Title */
#v5-page-title{
    display:none;
}

/* header */
#v5-header {
	/*margin: 0 0 40px 0;*/
	margin: 0;
}
/* 
#v5-header hgroup {
	padding: 60px;
}
*/
.UserHeader 
{
    max-width: 990px;
}
#v5-site-logo {
	float: left;
    margin-top: 20px;
    margin-left: 1rem;
    margin-right: 0px;
    min-height: 50px;
    height: 80px;
    min-width: 250px;
}
#v5-site-title {
	margin: 0;
	line-height: 1em;
}
#v5-site-description {
	color: #999;
}
#v5-site-title a {
	color: #333;
}
#v5-tools {
	position: absolute;
	top: 20px;
	right: 20px;
}
#v5-search {
	float: left;
}
#v5-social {
	float: left;
	margin: 10px 20px 0 0;
}

/* navigation */
#v5-global-nav {
	clear: both;
	float:left;
	width:100%;
	margin-top:25px;
	
}
#v5-global-nav {
	font-size: 17px;
	line-height: 1em;
	border-bottom: 5px solid #a12830;
	/*background: #333333;
	background: -moz-linear-gradient(top, #444444 0%, #333333 75%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444444), color-stop(75%,#333333));
	background: -webkit-linear-gradient(top, #444444 0%,#333333 75%);
	background: -o-linear-gradient(top, #444444 0%,#333333 75%);
	background: -ms-linear-gradient(top, #444444 0%,#333333 75%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#333333',GradientType=0 );
	background: linear-gradient(top, #444444 0%,#333333 75%);*/
}

/* 05/03/2013 - REZZ:: Menu Navegacion dinamico */
.menu-horizontal a.dynamic-children span.additional-background, .menu-horizontal span.dynamic-children span.additional-background {
	background-image: none;
	padding-right: 0;
}
.s4-tn ul.dynamic {
	/*background: #222;*/   /* 05/03/2013 - REZZ:: Menu Navegacion dinamico */
	background: #9e9e9e;
	border: 0;
	/*padding: 20px 10px;*/
	padding: 10 0px!important;
	font-size: 12px;
}
.s4-tn li.dynamic > a.menu-item {
	/*color: #bbb;*/
	color: #ffffff!important;
	/*padding: 5px 10px;*/
	padding: 10 0px!important;
}
.s4-tn li.dynamic > a.menu-item:hover {
	/*background: #2a2a2a;*/    /* 05/03/2013 - REZZ:: Menu Navegacion dinamico */
	background: #7e7e7e;
}
.s4-ql, .s4-specialNavLinkList {
	margin: 0;
}
.s4-ql ul.root ul.static {
	margin: 0 0 10px 0;
	width: auto !important;
}
.s4-ql li, .s4-specialNavLinkList li {
	min-height: 0;
}
.s4-ql ul.root > li > .menu-item, .s4-qlheader, .s4-qlheader:visited {
	padding: 0;
	font-weight: bold;
	border: 0;
	margin: 0 0 3px 0;
	color: #333;
}
.s4-ql a.selected, .ms-viewlsts .ms-vb2 > a, .ms-addnew a, .ms-selectorlink a, .ms-selectorlink a:visited, .ms-navitem a:link {
	color: #a71228 !important;
}
.s4-ql a.selected span {
	color: #a71228 !important;
}
.s4-ql a.selected {
	border: 0 !important;
	background: none transparent;
	font-weight: bold;
}
.s4-ql ul.root > li > a.selected {
	padding: 0 !important;
}
.s4-ql ul.root ul > li > a {
	font-size: 12px;
	padding: 0 0 0 10px;
	border: 0;
	margin: 0 0 4px 0;
	color: #888;
}
.s4-specialNavLinkList {
	display: none;
}
.ms-blog-addnew {
	font-size: 12px !important;
	padding: 0 0 0 10px;
	margin: 0;
}

/* page area */
#v5-page-content .ms-rtestate-field img {
	max-width: 100%;
}

/* footer */
#v5-footer {
	clear: both;
	font-size: 12px;
	color: #999;
	padding: 20px 40px;
	border-top: 4px dotted #eee;
	text-align: center;
	-webkit-border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-o-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
}
#v5-footer p {
	margin: 0;
}

/* search */
#v5-search .s4-wpTopTable {
	width: auto !important;
}
.s4-search input.ms-sbplain {
	height: auto;
	width: 200px !important;
	padding: 10px;
	font-size: 15px;
	color: #333;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.s4-search input.s4-searchbox-QueryPrompt {
	color: #999;
}
.ms-sbgo .srch-gosearchimg {
	display: none;
}
.ms-sbgo a {
	display: block;
	width: 30px;
	height: 30px;
	margin: 0 0 0 10px;
	background: url(i/search.png) 0 0 no-repeat;
}
.ms-sbgo a:hover {
	background-position: 0 -30px;
}

/* web parts */
.s4-wpTopTable {
	margin: 0 0 15px 0;
}
.ms-PartSpacingVertical {
	display: none;
}
.ms-wpTdSpace {
	display: none;
}
.ms-WPHeader td, .ms-fakewptitle {
	border-color: #2f7799;
	background: #2f7799;
}
h3.ms-WPTitle {
	color: #fff;
	font-weight: bold;
	font-size: 17px;
	padding: 10px;
	text-align: left !important;
}
h3.ms-WPTitle a, .s4-wpActive .ms-WPTitle, .s4-wpActive .ms-WPTitle a {
	color: #fff;
}
h3.ms-WPTitle nobr {
	white-space: normal;
}
.ms-WPBorder, .ms-WPBorderBorderOnly {
	border: 1px solid #ddd;
}
.ms-WPBorder {
	border-top: 0;
}
.ms-WPBorderBorderOnly {
	background: #f5f5f5;
}
/*.ms-WPBody {
	padding: 10px 0 0 0;
}*/
.ms-WPBorder .ms-WPBody, .ms-WPBorderBorderOnly .ms-WPBody {
	padding: 15px;
}
.ms-wpContentDivSpace {
	margin: 0;
}

/* item styles */
.item, .level-item-pos, .level-header {
	padding: 0;
	margin: 0 0 0.5em 0;
}
.bullet, .level-bullet {
	padding: 0 0 0 10px;
}
.level-description-padding {
	padding: 0;
}
.headertitle, .headertitle a, .headertitle a:link {
	font-size: inherit;
}

/* lists & libraries */
.ms-listviewtable {
	background: #fff;
}

/* dialogs */
html.ms-dialog body {
	background: #fff;
}
html.ms-dialog #v5-wrapper {
	/*width: auto;*/
	width: 900px;
	/*padding: 10px;*/
	max-width: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
html.ms-dialog #v5-page-column-main {
	margin-left: 0;
}

/* pop-up menus */
.ms-MenuUIPopupBody {
	font-size: 12px;
	/*font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;*/
	font-family: "Segoe UI";
}
div.ms-MenuUIPopupScreen div.ms-MenuUIPopupInner div.ms-MenuUILarge ul.ms-MenuUIUL div.ms-MenuUIULItem a.ms-MenuUIULLink, div.ms-MenuUIPopupScreen div.ms-MenuUIPopupInner div.ms-MenuUILargeRtL ul.ms-MenuUIUL div.ms-MenuUIULItem a.ms-MenuUIULLink {
	color: #2f7799 !important;
}
span.ms-menuitemdescription {
	color: #999 !important;
	font-size: 11px;
}
.ms-siteactionsmenuhover, .ms-welcomeMenu.ms-SpLinkButtonActive {
	background-color: #333;
	border-color: #555;
}


/* ribbon style */
body #s4-ribbonrow {
	font-size: 12px;
	/*background-color: #333;*/
	background-color: transparent;
}
.ms-cui-topBar2 {
	border-color: #333;
}

/* override sharepoint page layouts */
div.article, div.welcome {
	padding: 0;
	display:inline-block; /*REZ 10/04/2013 -- per quadrar els layouts de noticies */
	width:100%;
}

.edit-mode-panel 
{
    margin-left: 0px;
    width: 100%;
}

table.splashLinkFrame {
	border-collapse: collapse;
}
.article .article-header {
	font-family: inherit;
	font-size: 12px;
	overflow: auto;
	border: 0;
	color: #999;
	margin: 0 0 1em 0;
}
.captioned-image .caption {
	font-family: inherit;
	font-size: 12px;
	color: #999;
}
.article-content, .welcome-content {
	margin: 10px 0 0 0;
	display:inline-block; /*REZ 10/04/2013 -- per quadrar els layouts de noticies */   
	width:100%;
}
.article-left .captioned-image, .welcome .welcome-image {
	margin-right: 2em;
}
.article-right .captioned-image, .article .related-links {
	margin-left: 2em;
}
.article .captioned-image, .article .related-links, .welcome .welcome-image, .welcome .splash-image {
	margin-bottom: 1em;
}
.article .related-links {
	border: 0;
}
.ewiki-margin, .edit-mode-border {
	padding: 0;
	margin: 0;
}
.ewiki-margin {
	font-size: 12px;
	color: #999;
	margin: 0 0 1em 0;
}
.right-wp-zone-col {
	width: 195px;
	border-color: #ddd;
}
.ewiki-slink {
	margin-left: 15px;
}
.ms-redirectControl {
	font-size: inherit;
	font-family: inherit;
	color: #999;
}

/* override default scrolling behavior */
body.v4master {
   overflow: visible;
   height: inherit;
   width: inherit;
}
body #s4-workspace {
	overflow: visible !important;
}
body #s4-ribbonrow {
	position: fixed;
	z-index: 1000;
	min-height: 0 !important;
    height: auto !important;
}
#s4-ribbonrow .ms-MenuUIPopupBody, #s4-ribbonrow .ms-popoutMenu, .ms-cui-menu[id ^= "Ribbon."] {
	position: fixed !important;
}
.ms-dlgOverlay {
	width: 100% !important;
}
body #s4-bodyContainer {
	min-width: 0;
}



/* Estilos de User Selector */

.userselector 
{
    color: #000000;
    display: block;
    float: right;
    font-family: "Segoe UI";
    font-size: 12px;
    white-space: nowrap;
    margin-right: 5px;
}




/* http://akifkamalsyed.wordpress.com/2011/05/02/fix-the-position-of-sharepoint-2010-modaldialog/ */

.ms-dlgContent
 {
 position:fixed! important;
 }


/* http://kyleschaeffer.com/sharepoint/sharepoint-2010-pop-up-dialogs/ */

/*
#wrapper {
  width: 960px;
  margin: auto;
}
html.ms-dialog #wrapper {
  width: 100%;
}

.ms-dlgOverlay {
  background-color: #333;
}
.ms-dlgContent {
  border: 0;
}
.ms-dlgBorder {
  border: 1px solid #333;
}
.ms-dlgTitle {
  background-color: #333;
}
.ms-dlgTitleText {
  display: block;
  font-weight: bold;
  font-size: 13px;
  padding: 7px;
}
*/


/* http://www.bentedder.com/fix-modal-dialog-size-in-sharepoint-2010/ */

/* fix the modal to resize correctly ********************************************************** */ 
/*
.ms-dialog body #s4-workspace {padding:0px;overflow:auto !important;} 
.ms-dialog body #s4-ribbonrow {position:relative;} 
.ms-dialog #isb-wrapper {margin:0px;}
*/
