/*********** FONT FACE *************/
@font-face
{
    font-family: 'Brown Regular';
    src: url('../fonts/Brown-Regular.eot');
    src: url('../fonts/Brown-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Brown-Regular.woff') format('woff'), url('../fonts/Brown-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Brown Light';
    src: url('../fonts/Brown-Light.eot');
    src: url('../fonts/Brown-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Brown-Light.woff') format('woff'), url('../fonts/Brown-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face
{
    font-family: 'Brown Bold';
    src: url('../fonts/Brown-Bold.eot');
    src: url('../fonts/Brown-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Brown-Bold.woff') format('woff'), url('../fonts/Brown-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
/********************************/

/*SPINNER STYLES*/


.blockUI
{
    border: none !important;
}

#loadingPnl
{
    width: 0;
    height: 0;
    margin: 0 auto;
}



/********** SLIDERS STYLES ***********/


.sliderIndentation
{
}
/*********** HEADER STYLES *************/
#ctl00_ClientSelector_Panel1
{
    position: relative;
    top: 1rem;
    float: right;
    right: 2.5rem;
}



#ctl00_ClientSelector_Panel1 .headerIcons
{
    padding: 0.125rem;
    color: #777777;
    cursor: pointer;
}
#ctl00_ClientSelector_Panel1 .headerIcons:hover
{
    color: #D43841;
}

#ctl00_ClientSelector_Panel1 select
{
    border: none;
    outline: none;
    font-size: 13px;
    color: #383838;
}
#ctl00_ClientSelector_Panel1 select option
{
    padding: 0.3125rem;
    font-family: "Brown Regular";
}


/* Estilos de User Selector */

.userselector
{
    width: 50%;
    color: #383838;
    display: block;
    float: right;
    font-family: "Brown Regular";
    font-size: 13px;
    white-space: nowrap;
    margin-right: 5rem;
    position: relative;
    top: -1rem;
}

/* Estios Searcher */

.headerSearch
{
    float: right;
    position: relative;
    right: 7.5rem;
    top: 1.4rem;
    width: 26rem;
    background-color: #f2f2f2;
    border-radius: 0.2rem;
    border: 1px solid #949494;
}

#search
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 22.5rem;
    border-radius: 0.2rem;
    border: none;
    font-size: 16px;
    color: #383838;
    font-family: "Brown Regular";
    outline: none;
    background-color: #f2f2f2;
    position: absolute;
    top: 1px;
    height: 2.2rem;
}



.EANIcon
{
    padding: 0.6rem;
    color: #949494;
}

.searchIcon
{
    padding: 0.8125rem;
    color: #949494;
}
.searchIcon:hover
{
    color: #949494;
}

/* Estilos Shopping Cart*/

.fa-shopping-cart
{
    color: #A12830;
    text-align: center;
    display: block;
    margin: 0 auto;
}
.fa-shopping-cart:hover
{
    color: #A12830 !important;
}

.shoppingCartTitle
{
    background-color: #A12830;
    position: absolute;
    bottom: 0px;
    height: 2.3125rem;
    text-align: center;
    width: 5.3125rem;
    border-radius: 0 0 3px 3px;
    align-items: center;
}
.shoppingCartTitle span
{
    color: white;
    font-size: 14px;
    margin: 0 auto;
    vertical-align: middle;
    font-family: "Brown Regular";
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 5.3125rem;
    height: 2.3125rem;
}


.shoppingCartTitle:hover
{
    background-color: #D43841;
}



.LblCarrito span
{
    color: #383838;
    font-size: 18px;
    padding: 3px;
    font-family: "Brown Regular";
    text-align: center;
    display: block;
}

/****************************************/
/******** RESULTATS BUSCADOR **************/

.SearchResultsPriceInput
{
    width: 3.3rem !important;
    font-size: 14px !important;
    padding: 0.4rem !important;
    font-family: "Brown Regular" !important;
    border-radius: 2px !important;
    border: 1px solid #949494 !important;
    text-align: right !important;
}

.priceFilterLabelStyle
{
    display: inline-block;
    width: 2rem;
}
#searchProducts
{
    margin: 1% auto;
    left: 0;
    right: 0;
    background-color: white;
    top: 7rem;
    position: fixed;
    z-index: 999;
    display: block;
    width: 85rem;
    height: 75vh;
    border: 1px solid #949494;
    border-radius: 0.3125rem;
    overflow: hidden;
}


.searchProductsFilterData
{
    position: absolute;
    top: 0;
    bottom: 0;
    float: left;
    width: 18rem;
    display: inline;
    height: 100%;
    overflow-y: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: "Brown Regular";
    font-size: 13px;
    color: #777777;
    border-right: 1px solid #dedede;
}

.searchProductsFilterCategory
{
    margin-top: 2rem;
}

.categoriesFilter, .colorFilter
{
    border-bottom: 1px solid #dedede;
    padding: 4px;
    width: 16.5rem;
    cursor: pointer;
}

.categoriesFilterValue
{
    float: right;
}

.categoriesFilterName
{
    display: inline;
}
.categoriesFilterDiv
{
    border-bottom: 1px solid #dedede;
    padding: 4px;
}
.categoriesFilterDiv:last-child
{
    border-bottom: none;
}

.seeMoreLink
{
    color: #383838 !important;
    position: relative;
    top: 0.5rem;
}

.seeMoreLink:hover
{
    cursor: pointer;
}

.filterSectionHideContentCategory, .filterSectionHideContentColor
{
    max-height: 9rem;
    overflow: hidden;
}
.searchProductsFilterData a
{
    color: #777777;
}
.searchProductsFilterData a:hover
{
    color: #777777;
}

.categoriesFilterDiv:hover
{
    background-color: #f2f2f2;
}

.searchProductsResultsInfo
{
    border-bottom: 1px solid #dedede;
    height: 2rem;
    width: 65rem;
    font-size: 13px;
    text-align: center;
    font-family: "Brown Regular";
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 20rem;
}

.searchProductsResultsInfo #resultsNumber
{
    font-family: "Brown Bold";
}

#searchProductsDiv
{
    position: absolute;
    overflow: auto;
    left: 20rem;
    top: 2.0625rem;
    bottom: 0;
    width: 65rem;
}

/* Elements - Search results */

.NewitemProductSearch
{
    height: 12rem;
    float: left;
    width: 30.5rem;
    align-items: center;
    display: flex;
    margin-left: 1rem;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.NewitemProductSearch:hover
{
    border: 1px solid #dedede;
    border-radius: 5px;
}

.NewtxtProductRefSearch
{
    font-family: "Brown Regular";
    font-size: 13px;
    color: #777777;
    line-height: 1.5rem;
}

.NewtxtProductNameSearch
{
    font-family: "Brown Light";
    font-size: 16px;
    color: #383838;
    line-height: 1.5rem;
    width: 17rem;
}
.NewtxtProductNameSearch:hover
{
    text-decoration: underline;
}
.NewtxtProductPriceSearch
{
    font-size: 1rem;
    color: #A12830;
    font-family: "Brown Bold";
    line-height: 1.5rem;
    padding-top: 0.625rem;
}

#Label_Discount
{
    color: green;
}
.ContenidoSearch .Btn_AddToCar
{
    margin-top: 0.5rem;
    cursor: pointer;
}
.ContenidoSearch input
{
    width: 7.5rem;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #bababa;
}

.Label_Discount
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    -ms-flex-pack: center;
    font-size: 1rem;
    font-family: "Brown Bold";
}

.stockSearchResults
{
    display: block;
    width: 100%;
    padding: 0.5rem 0.5rem 0.5rem 0;
    color: #383838;
}

.addToWishlistIcon
{
    float: right;
    margin-right: 2rem;
    font-size: 20px !important;
    color: #aaa;
}

.addToWishlistIcon:hover
{
    color: #D43841;
    cursor: pointer;
}

/************ SECONDARY MENY **************/

#secondaryMenu
{
    clear: both;
    background-color: #F2F2F2;
    height: 1rem;
    padding: 1rem 1rem 1rem 0rem;
    position: relative;
    top: 0.4rem;
}

#secondaryMenu ul li
{
    float: left;
    display: inline;
    padding: 0rem 0.8rem 0rem 0.8rem;
    font-family: "Brown Light";
    font-size: 14px;
    color: #787878;
}

#secondaryMenu ul li a
{
    color: #555;
}

#secondaryMenu ul li a:hover
{
    color: #A12830;
}
#secondaryMenu ul li:first-child
{
    margin: 0;
}
#secondaryMenu ul
{
    margin: 0;
}

@media only screen and (max-width: 959px)
{
    #secondaryMenu
    {
        display: none;
    }

}

/******************************************/
/**************** WISHLIST ****************/



#EANCodeInputBox
{
    float: left;
    border-radius: 0.2rem;
    border: 1px solid #949494;
    margin-left: 2rem;
}

.EANCodeInputBoxSelected
{
    background-color: #FDF4D3;
}

.EANCodeResultStyle
{
    color: #e74c3c;
    font-size: 14px;
    margin-left: 1.5rem;
    line-height: 2;
    display: inline;
}

.EANCodeResultIcon::before
{
    content: "\f100";
    font-family: "Ionicons";
    font-size: 18px;
    margin-right: 0.4rem;
}

.NewitemProductWishlist
{
    height: 10rem;
    border-bottom: 1px solid #dedede;
}

.NewitemProductWishlist .NewimgProduct
{
    width: 9.375rem;
    height: 9.375rem;
}

.NewitemProductWishlist #checkBoxProduct
{
    float: left;
    padding-right: 1.5rem;
}

.wishlistContainer
{
    padding: 1rem 1rem 1rem 0rem;
    margin-left: 2rem;
}

.NewitemProductWishlist [type="number"]
{
    width: 4rem;
    border: 1px solid#949494;
    font-size: 16px;
    font-family: "Brown Regular";
    color: #383838;
    border-radius: 2px;
    outline: none;
    background-color: #F2f2f2;
    padding: 3px;
}


.NewtxtProductRefWishlist
{
    font-size: 21px;
    font-family: "Brown Light";
    color: #787878;
}


.NewtxtProductNameWishlist
{
    font-size: 15px;
    font-family: "Brown Regular";
    color: #383838;
}

.NewtxtProductNameWishlist
{
    color: #383838;
    font-family: "Brown Regular";
    font-size: 15px;
}

.wishlistDescriptionBloc
{
    display: inline-block;
    height: 7rem;
    width: 38%;
    padding: 1rem;
    float: left;
}

.wishlistDetailsBloc
{
    display: inline-block;
    height: 7rem;
    width: 25%;
    padding: 1rem;
    float: left;
}

.wishlistInfoPadding
{
    padding: 0.5rem;
}

.wishlistLabel
{
    font-size: 13px;
    font-family: "Brown Regular";
    color: #787878;
}

.wishlistValue
{
    font-size: 15px;
    font-family: "Brown Bold";
    color: #A12830;
}
.deleteWishlistItem
{
    height: 100%;
    float: left;
}

.comparePopup[title]
{
    position: relative;
    cursor: pointer;
    display: inline-block;
    color: white;
    text-align: center;
}
.comparePopup[title]:after
{
    content: '';
    opacity: 0;
    -webkit-transition: opacity;
    -webkit-transition-duration: 0.3s;
    transition: opacity;
    transition-duration: 0.3s;
/*}
.comparePopup[title]:focus:after
{*/
    outline: none;
    content: attr(title);
    position: absolute;
    left: -20px;
    top: 55px;
    font-decoration: none;
    width: 150px;
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    box-shadow: inset 0 1px 1px rgba(255,255,255,.3), 0 1px 3px rgba(0,0,0,.3);
    background: white;
    font-family: "Brown Light";
    font-size: 13px;
    color: #383838;
    opacity: 1;
    border: 1px solid #949494;
    outline: none !important;
}


.EANCodePopup[title]
{
    position: relative;
    cursor: pointer;
    display: inline-block;
    color: white;
    text-align: center;
}
.EANCodePopup[title]:after
{
    content: ''; /*opacity: 0;*/
    -webkit-transition: opacity;
    -webkit-transition-duration: 0.3s;
    transition: opacity;
    transition-duration: 0.3s;
}
.EANCodePopup[title]:focus:after
{
    outline: none;
    content: attr(title);
    position: absolute;
    left: -20px;
    top: 55px;
    font-decoration: none;
    width: 150px;
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    box-shadow: inset 0 1px 1px rgba(255,255,255,.3), 0 1px 3px rgba(0,0,0,.3);
    background: white;
    font-family: "Brown Light";
    font-size: 13px;
    color: #383838;
    opacity: 1;
    border: 1px solid #949494;
    outline: none !important;
}


#ImgStockNullNivelServicio
{
    margin-left: 1.5rem;
}

#comparatorPopup, #EANCodePopup
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    -ms-flex-pack: center;
}

.deleteWishlistItem
{
    float: right; /*margin-right: 3rem;*/
}

#EANCode
{
    padding: 0.5rem;
    width: 16rem;
    border: none;
    outline: none;
}

#EANCode:focus
{
    outline: none;
    border: none;
}


#checkBoxProduct
{
    width: 5%;
}

/****** COMPARADOR - MODAL WINDOW ********/


/* Prevent body from scrolling when a modal is opened */

body.modal-open
{
    overflow: hidden;
}

.ui-widget-overlay
{
    background: black !important;
    opacity: .3 !important;
    filter: Alpha(Opacity=30) !important;
}
.ui-widget-overlay
{
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

.modalWindowContainer
{
    position: fixed !important;
    top: 4rem !important;
    right: 0;
    left: 0 !important;
    margin-right: auto;
    margin-left: auto;
    height: 80vh !important;
}

.modalWindowContent
{
    max-height: none;
    overflow-y: auto;
    padding: 0.5rem !important;
    top: 0;
    bottom: 0px;
    height: 73vh !important;
}

.compareElementBox
{
    float: left;
    width: 16.2rem;
    padding: 1.5rem;
    font-family: "Brown Regular";
    font-size: 13px;
    color: #383838;
    border-right: 1px solid #dedede;
}

.compareElementBox:last-child
{
    border: none;
}

.ui-button
{
    outline: none !important;
}

.ui-dialog-titlebar
{
    height: 1.5rem !important;
}

.ui-widget-header
{
    border: none !important;
    background: none !important;
    color: #383838 !important;
    font-family: "Brown Light";
    font-size: 18px;
    border-bottom: 1px solid #dedede !important;
    text-transform: uppercase;
    text-align: center;
}
.comparatorProductCode
{
    text-align: center;
    font-size: 20px;
    color: #787878;
    font-family: "Brown Light";
    margin-bottom: 0.8rem;
}
.comparatorProductName
{
    font-size: 14px;
    text-transform: uppercase;
}

.comparatorProductlabel
{
    color: #949494;
    margin-bottom: 0;
}
.comparatorProductValue
{
    font-size: 14px;
    margin-bottom: 0.8rem;
}

.comparatorProductOldPrice
{
    padding-left: 0.3rem;
    text-decoration: line-through;
    font-family: 'Brown Light';
    font-size: 16px;
    color: #A12830;
}

.comparatorProductPrice
{
    color: green;
    padding-left: 0.5rem;
    font-size: 16px;
}
.priceSectionComparatorProduct
{
    min-height: 4rem;
    border-bottom: 1px solid #dedede;
}

.stockSectionComparatorProduct
{
    min-height: 3rem;
}

.BiggerStockBox
{
    font-size: 14px;
    font-size: 14px;
    padding-left: 0.5rem;
    float: left;
    margin-right: 5px;
}

.StockNumber
{
    font-size: 14px;
}
.descriptionSectionComparatorProduct
{
    min-height: 14rem;
    border-bottom: 1px solid #dedede;
}

.propertiesSectionComparatorProduct, .descriptionSectionComparatorProduct
{
    padding-top: 1rem;
}
.propertiesSectionComparatorProduct div, .descriptionSectionComparatorProduct div
{
    min-height: 2.625rem;
}
.tableMeasuresWishlist
{
    font-size: 14px !important;
    max-width: 230px !important;
}

/******** FILTRE DE PRODUCTES LATERAL  **********/
.NewGroupProductsCatalogTitle
{
    width: 17%;
    margin-left: 1rem;
    float: left;
    height: 100%;
    border-right: 1px solid #dedede;
}

.priceInputFilters
{
    position: relative;
    bottom: 2px;
}
.ProductGridContainer
{
    width: 80%;
    float: left;
    padding-left: 1rem;
}

.clearFilter
{
    color: #777;
    outline: none !important;
    padding-left: 1rem !important;
}

.clearFilter:hover
{
    color: #949494;
    cursor: pointer;
}

.clearFilter:active
{
    outline: none;
}

.submitButtonFilters
{
    min-width: 9rem;
    margin-right: 1rem;
    outline: none;
    border: none;
}
/*********************************/


#s4-leftpanel
{
    display: none !important;
    width: 0 !important;
}

.s4-ca
{
    margin-left: 0 !important;
}

.ribbonbackground, #s4-workspace
{
    margin-left: auto;
    margin-right: auto;
}

.ribbonbackground
{
    background-color: white !important;
    background-image: none !important;
}

body.nightandday
{
    overflow: scroll !important;
}

#s4-workspace
{
    overflow: inherit !important;
}

.ms-mini-socialNotif-Container
{
    background-image: url(/Style%20Library/Julia/img/idiomes.jpg) !important;
    background-repeat: no-repeat;
    width: 7em !important;
}

.ms-mini-socialNotif-Container > a > span > span > img, .s4-help
{
    visibility: hidden !important;
}

.nightandday .site-image-title
{
    background-color: white;
}

.ms-sbcell > input
{
    background-color: white !important;
    color: white !important;
    border-style: none !important;
}

.ms-sbplain
{
    border: 2px solid orange !important;
    color: white !important;
    background-color: white !important;
    background-repeat: no-repeat !important;
    background-position: left !important;
    padding-left: 10px !important;
}

td.ms-sbgo
{
    padding: 0 !important;
}

.s4-search .srch-gosearchimg
{
    background: transparent !important;
    background-color: white !important;
    border-style: none !important;
}

.s4-search input.ms-sbplain
{
    background: url(/Style%20Library/Julia/img//buscador.png) no-repeat;
    height: 16px;
    color: #666;
    font-size: .85em;
    font-style: normal;
    border: none !important;
    background-color: #2a7cb2 !important;
    -moz-border-radius: 10px;
    padding: 4px 2px 2px 9px;
}

.nightandday .s4-search TD.ms-sbcell
{
    background-color: white !important;
}

.s4-search .ms-sbgo a
{
    background: url(/Style%20Library/Julia/img/icona_buscador.PNG) no-repeat;
    width: 20px;
    height: 30px;
    display: block;
    margin-top: -10px;
}

.menu-horizontal
{
    font-family: "Segoe UI";
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    margin-top: -25px;
    width: 100%;
}

.menu-horizontal > ul > li > ul > li
{
    color: #202020 !important;
}

.s4-toplinks, .s4-tn a.selected
{
    color: white !important;
    background-color: #7e7e7e !important;
    z-index: 1 !important;
    border-style: none !important;
}

.menu.ul, .menu li
{
    margin-left: 10px;
    margin-right: 10px;
}

.RadDataPager
{
    border: none !important;
}

.s4-tn li.static > .menu-item
{
    height: 25px;
    background: #9e9e9e;
    color: #ffffff !important;
    border: 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 0 20px !important;
}

.s4-tn li.static > .menu-item:hover
{
    background: #7e7e7e;
    color: #ffffff !important;
}

.s4-tn li.static.selected > .menu-item
{
    background: #a12830;
    color: #ffffff !important;
}


div.article, div.welcome
{
    float: inherit;
}


.footer
{
    font-size: 13px;
    height: 50px;
    width: 1341px;
    border-top: 1px solid #dedede;
}

#footerLeft
{
    margin-left: 1rem;
    margin-top: 0;
}

#footer_phone1
{
    background-image: url(/Style%20Library/Julia/img/footer_telf.png);
    background-repeat: no-repeat;
    width: auto;
    height: 20px;
    padding-left: 30px;
    float: left;
    color: #aaa9a9;
}

#footer_phone2
{
    padding-left: 30px;
    background-image: url(/Style%20Library/Julia/img/footer_fax.png);
    background-repeat: no-repeat;
    width: auto;
    height: 20px;
    float: left;
    color: #aaa9a9;
    margin-left: 1em;
}

#footer_mail
{
    padding-left: 30px;
    background-image: url(/Style%20Library/Julia/img/footer_arroba.png);
    background-repeat: no-repeat;
    width: auto;
    height: 20px;
    float: left;
    color: #aaa9a9;
    margin-left: 1em;
}

#footerRight
{
    float: right;
    color: #aaa9a9;
    margin-right: 2em;
}

#footerRight_color1, #footerRight_color3
{
    float: left;
    color: #aaa9a9;
    margin-top: 2rem;
    position: relative;
    bottom: 1rem;
}

#footerRight_color2
{
    float: left;
    color: #287baf;
    margin-top: 2rem;
    position: relative;
    bottom: 1rem;
}

#footer_borderLeft
{
    background-image: url(/Style%20Library/Julia/img/footer_borderLeft.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 20px;
    width: 18%;
    float: left;
}

#footer_borderCenter
{
    background-image: url(/Style%20Library/Julia/img/footer_borderCenter.png);
    background-repeat: repeat-x;
    background-position: center;
    float: left;
    height: 20px;
    width: 64%;
}

#footer_borderRight
{
    background-image: url(/Style%20Library/Julia/img/footer_borderRight.png);
    background-repeat: no-repeat;
    background-position: left;
    height: 20px;
    width: 18%;
    float: left;
}

.catalogsTitle
{
    font-size: 17px;
    align: center;
}

.s4-tn ul.static /* REZ */
{
    color: white !important;
    background-color: #C07968 !important;
    border-style: none !important;
}

.clearFloat
{
    clear: both;
}

.shadow
{
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Color='#cccccc')";
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#ddd,direction=0,strength=5), progid:DXImageTransform.Microsoft.Shadow(color=#ddd,direction=45,strength=2), progid:DXImageTransform.Microsoft.Shadow(color=#ddd,direction=90,strength=5), progid:DXImageTransform.Microsoft.Shadow(color=#ddd,direction=135,strength=5), progid:DXImageTransform.Microsoft.Shadow(color=#ddd,direction=180,strength=10), progid:DXImageTransform.Microsoft.Shadow(color=#ddd,direction=225,strength=5), progid:DXImageTransform.Microsoft.Shadow(color=#ddd,direction=270,strength=5), progid:DXImageTransform.Microsoft.Shadow(color=#ddd,direction=315,strength=2);
}

.right-service-navi
{
    z-index: 33;
    position: fixed;
    right: 0;
    top: 200px;
}

.right-service-navi UL
{
    border-bottom: 1px solid;
    border-left: 1px solid;
    background-color: rgb(255,255,255);
    border-top: 1px solid;
    border-right: 0;
    box-shadow: -4px 4px 8px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: -4px 4px 8px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: -4px 4px 8px 1px rgba(0,0,0,0.2);
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-topleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-radius-bottomleft: 3px;
    border-radius-topleft: 3px;
    margin: 0;
    padding: 0 6px 6px;
}

.right-service-navi-seals
{
    margin-bottom: 20px;
}

.right-service-navi UL LI
{
    position: relative;
    filter: alpha(opacity=80);
    padding-top: 6px;
    opacity: 0.8;
}

.right-service-navi UL LI A
{
    line-height: 6px;
}

.right-service-navi UL LI A SPAN
{
    background-image: url('/Style Library/Julia/img/icons-general.png');
    width: 32px;
    display: block;
    height: 32px;
}

.right-service-navi-icons
{
    list-style-type: none;
}

.right-service-navi .right-service-navi-icons LI
{
    height: 32px;
}

.right-service-navi UL LI DIV SPAN
{
    position: absolute;
    right: 46px;
    top: 6px;
}

.right-service-navi UL LI:hover
{
    filter: alpha(opacity=100);
    opacity: 1;
}

.right-service-ico-verisign
{
    background-image: url('/Style Library/Julia/img/sidebar-verisign-small.png');
    background-repeat: no-repeat;
    height: 34px !important;
}

.right-service-subnavi-txt
{
    z-index: 3;
    position: relative;
    width: 200px;
    padding: 5px;
}

.right-service-subnavi-bg
{
    z-index: 2;
    border-bottom: rgb(204,204,204) 1px solid;
    filter: alpha(opacity=85);
    border-left: rgb(204,204,204) 1px solid;
    background-color: white;
    width: 214px;
    border-top: rgb(204,204,204) 1px solid;
    border-right: rgb(204,204,204) 1px solid;
    opacity: 0.85;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -khtml-border-radius: 3px;
}

.right-service-subnavi-apex
{
    z-index: 3;
    width: 8px;
    background: url('/Style Library/Julia/img/icons-general.png') no-repeat -450px -157px;
    height: 13px;
    right: 39px !important;
    top: 16px !important;
}

.right-service-ico-tele
{
    background-position: -132px -183px;
}

.right-service-ico-mail
{
    background-position: -172px -183px;
}

.right-service-ico-msg
{
    background-position: -212px -183px;
}

.right-service-ico-facebook
{
    background-position: -47px -183px;
}

.right-service-ico-twitter
{
    background-position: -89px -183px;
}

.carrito
{
    position: fixed;
    top: 30px;
    left: 0;
    z-index: 100;
    background-color: transparent;
    display: none;
    font-weight: 700;
    text-align: center;
    font-size: 16px;
    color: White;
    display: table;
}

.left-box-cart
{
    float: right;
    position: absolute;
    right: 0px;
    cursor: pointer;
    background-color: White;
    width: 85px;
    height: 95px;
    border: 1px solid #A12830;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

/*.Carrito_Img
{
    background-image: url("/Style Library/Julia/img/carrito2.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}
*/

.mpcth-socials-list
{
    list-style: none;
    color: rgb(102,102,102);
    margin: 0;
    padding: 0;
}

.mpcth-socials-list li
{
    display: inline-block;
    margin-left: .5em;
}

.mpcth-socials-list li:first-child
{
    margin-left: 0;
}

.mpcth-socials-list li a
{
    display: inline-block;
    color: #666666;
    padding: 0 .25em;
}

/*.fa:hover
{
    color: black;
}*/

.ms-cui-tt-span, .ms-siteactionsmenu > span > a > span, .ms-SPLink a:link, .ms-SPLink a:visited, .ms-welcomeMenu.ms-SpLinkButtonActive a:hover, .ms-welcomeMenu.ms-SpLinkButtonActive a:link
{
    color: black !important;
}

.s4-search .srch-gosearchimg, .s4-search .ms-sbgo span, .right-service-navi UL LI DIV
{
    display: none;
}

.right-service-navi UL LI:hover DIV, .carrito_box
{
    display: block;
}

/* RenderMode LightWeight without background*/
.RadComboBox_Default .rcbActionButton, .RadComboBox_Default .rcbReadOnly
{
    background-image: none !important;
    background: white !important;
}

.RadTreeView .rtPlus:before
{
    content: "\E039" !important;
}
.RadTreeView .rtMinus:before
{
    content: "\E03a" !important;
}
.RadTreeView .rtLines .rtLI:before
{
    border-left: 1px dotted #aaaaaa !important;
}

.InputHidden
{
    display: none;
}